<set name=eadd>&FORM.emailadd;</set>
<set name=fn>&usrDIR;/Mail/emailprof.html</set>
<if><read file=&fn; info> 
<then>
     <set name=fc><read file=&fn; process></set>
     <set index="fc" insert=-1><li>&eadd;</li></set>
     <write protect trim line file="&fn;">
          &fc;
     </write>
</then>
<else>
     <write protect trim line file="&fn;">
          <ul><li>&eadd;</ul>
     </write>
</else>
</if>

</write>