<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:rithy@crc.ricoh.com"></link>
</head><body>

 <set name=currentcal><get agent name=currentcal></set>
 <set name=mymonth><get agent name=selmonth></set>
 <set name=myyear><get agent name=selyear></set>

 <if><test exact match=''>&mymonth;</test>
 <then>
      <set name=mymonth>&month;</set>
      <set name=myyear>&year;</set>
 </then>
 </if>
 <if>&mymonth;<then>
  <set name=calname>&myyear;/&mymonth;/cal.html</set>
  <if><read file=&calname; info> <then>
     <set agent name=currentcal><read file=&calname; process></set>
  </then> <else>
     <set agent name=currentcal><calendar month=&mymonth; year=&myyear;></calendar></set>
     
     <repeat start=01 stop=&day; entity=i>
	  <set name=result><difference digits=0>&i; 10</difference></set>
	  <if><test negative>&result;</test>
	      <then>
	           <set name=myday>0&i;</set>
	           <set name=indexFile>&myyear;/&mymonth;/0&i;/index.html</set>
	      </then>
	      <else>
	           <set name=myday>&i;</set>
	           <set name=indexFile>&myyear;/&mymonth;/&i;/index.html</set>
	      </else>
	  </if>
	  <if><read file=&indexFile; info> <then>
	       <set name=fc><read file=&indexFile; process></set>

	       <set name=ss><get index="fc" findAll=dt></set>
	       <if><test exact match=''><get index="ss..dt"></test>
	       	   <then>
	                <set name=recsize>1</set>
		   </then>
		   <else>
		        <set name=recsize>2</set>
		   </else>
	       </if>

	       <if><equal numeric>&recsize; 1</equal>
	           <then>
		        <set name=blackhole><calendar-day cal=&AGENT.tinycal; day=&i;>
			     <font size=1 face=times>[<a href="home.if#day&i;"><b>mail</b></a>] </font>
			     </calendar-day>
			</set>
			<set name=dummy><calendar-day cal=&AGENT.currentcal; day=&i;>
			<font size=3 face=times><get index="fc.dt"></font>
			<a name="day&i;">
			<set name=vl><get index="fc.dd-1-1.a"></set>
			<if><test exact match="visit"><get name=vl attr=kind></test>
			<then>
			    <font size=3 face=times><get index="fc.dd-2-2"></font>
		            <set name=myhref><get name=vl attr=href ></set>
			    <if><test exact match="&year;&month;&day">&myyear;&mymonth;&myday;</test>
			       <then>
			        <read href=&myhref; process>
			       </then>
			       <else>
			        <a href=&myhref;>visit</a>
			       </else>
			    </if>
			</then>
			<else>
         		   <font size=3 face=times><get index="fc.dd-1-1"></font>
			</else>
			</if>

			<hr>
			</calendar-day></set>
		   </then>
	       <else>
		  <set name=blackhole><calendar-day cal=&AGENT.tinycal; day=&i;>
	               <font size=1 face=times>[<a href="home.if#day&i;"><b>mail</b></a>]</font> 
		       </calendar-day>
		   </set>

		  <foreach list=&fc; entity=entry>
	           <set name=dummy><calendar-day cal=&AGENT.currentcal; day=&i;>
		   <font size=3 face=times><get index="entry.dt"></font>
                   <a name="day&i;">
		   <set name=vl><get index="entry.dd-1-1.a"></set>
		   <if><test exact match="visit"><get name=vl attr=kind></test>
		       <then>
		            <font size=3 face=times><get index="entry.dd-2-2"></font>
		            <set name=myhref><get name=vl attr=href ></set>
			    <if><test exact match="&year;&month;&day">&myyear;&mymonth;&myday;</test>
			    <then>
			        <read href=&myhref; process>
			    </then>
			    <else>
			        <a href=&myhref;><font size=3 face=times>visit</font></a>
			    </else>
			    </if>
		       </then>
		       <else>
		          <font size=3 face=times><get index="entry.dd-1-1"></font>
		       </else>
		   </if>
		   <hr>

		   </calendar-day></set>
		   </foreach>
	       </else>
	       </if>
	  </then>
	  </if>
     </repeat>

   </else>
   </if>

 </then></if>

 
</body></html>








