<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>InterForm Actor Documentation</title>
<link rev="made" href="mailto:steve@rsv.ricoh.com">
</head><body>
<h1>InterForm Actor Documentation</h1>

<dl>
  <dt> <b>Note:</b>
  <dd> The following documentation is generated directly from the actor
       handles.  The ``definition'' is incomplete in some cases.
</dl>

<h3>Index:</h3>
<set name=actorNames><actor-names></set>
<repeat list=&actorNames;><a href="#&li;">&li</a>, </repeat>

<h3>Descriptions:</h3>

<dl foreach list=&actorNames;>
  <dt><a name="&li;"><strong>&li;</strong></a>
  <dd> <if><actor-dscr name=&li;>
       <then>
       <dl>
	 <dt> Syntax:
	 <dd> <add-markup><actor-syntax name=&li;></add-markup>
	 <dt> Description:
	 <dd> <add-markup><actor-dscr name=&li;></add-markup><br>
	 <dt> Definition:
	 <dd> &lt;actor <actor-attrs name=&li;>&gt;...&lt;/actor&gt;
       </dl>
       <else>
       <dl>
	 <dt> Definition:
	 <dd> &lt;element <actor-attrs name=&li;>&gt;
       </dl>
       </if>
</dl>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
<address><a href="http://rsv.ricoh.com/~steve/"
         >Stephen R. Savitzky</a> &lt;<a href="mailto:steve@rsv.ricoh.com"
         >steve@rsv.ricoh.com</a>&gt;</address>
</body></html>
