<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Page Controls</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>&agentName; PageControls</set>
<read interform file="heading.inc" process>



<agent-set-criterion name="response">
<agent-set-criterion name="agent_response" value=0>

<set agent hook name="_act_on"><protect>
<trans-control>
<set entity name=myprinter>http://&piaHOST;:&piaPORT;/&agentName;</set>
<a href="&myprinter;/print.if?URL=&url;"><img src="&myprinter;/printer.gif" width=27 height=27 alt="PrintPage"></a>
<a href="&myprinter;/preview.if?URL=&url;"><img src="&myprinter;/preview.gif" width=27 height=27 alt="PreviewPage"></a>
<a href="&myprinter;/mkbook.if"><img src="&myprinter;/bookmark.gif" width=30 height=27 alt="MakeBook"></a>
<a href="&myprinter;/home.if"><img src="http://&piaHOST;:&piaPORT;/Agency/Icons/pia20.gif" width=40 height=27 alt="&agentName;Home"></a>
<hr>
</trans-control>
</protect></set>
WebPrinter controls will now be added to all proxied pages.

<hr><if><test><get agent name="banner"></test><then>&AGENT.banner; <hr>
<p>
</then></if>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Mon Jun  9 22:29:16 1997
<!-- hhmts end -->
</body></html>
