<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Page Controls</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1> &agentName; </h1>
<agent-set-criterion name="response">
<agent-set-criterion name="agent_response" value=0>

<set agent hook name="_act_on"><protect>
<trans-control>
<set entity name=myprinter>http://&piaHOST;:&piaPORT;/&agentName;</set>
<a href="&myprinter;/printer.if"><img src="&myprinter;/printer.gif"></a>
<a href="&myprinter;/preview.if"><img src="&myprinter;/preview.gif"></a>
<a href="&myprinter;/mkbook.if"><img src="&myprinter;/bookmark.gif"></a>
<a href="&myprinter;/home.if"><img src="/Logo/pia27"></a>
<hr>
</trans-control>
</protect></set>
WebPrinter controls will be added to all proxied pages.

<hr>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Tue Jun  3 20:48:06 1997
<!-- hhmts end -->
</body></html>
