<html> <head>
<title>PIA Printed Documents</title>
</head>

<body>
<h1><h1><a href="/agency/home.if"><img src="/logo/pia24"></a>Documents printed
by`<a href="home.if">&agentName;</a>'</h1>
 <set name=files><read directory file=&AGENT.printer_root_directory; match="preview\d+\.1\.gif"></set>

<ul foreach list=&files;>
  <li> <set name=file><subst match="\.1\." result=".*.">&li;</subst></set><set name=pictures><read directory file=&AGENT.printer_root_directory; match=&file;></set>
       <repeat list=&pictures; entity=page> <a href="/spool/&page;"><img src="/spool/&page;" height=80></a></repeat>
</ul>


</body>
