<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>  &agentName; preview</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title> &agentName;  Bookmaker</set>
<read interform file="heading.inc" process>

<tagset-load name=Printer-agent-actors>


<if><get form name="booknum">
  <then>
    <set name="theurl"><get name=URL form></set>

    <if> <get name=style form>
      <then> <set name=thisstyle><get name=style
	form></set>
      </then>
      <else><set name=thisstyle>finishbook</set></else>
    </if>
    <set name=bkctr><get name=booknum form></set>
    <set name=spoolfile><get name=spoolfile form></set>
    <set name=links><get name=book&bkctr;links agent></set>


<set name="docbody"><get agent index="book&bkctr;root.html.body"></set>
<if><get name="docbody">
 <else><set name="docbody"><get agent name="book&bkctr;root" findall=body></set> </else></if>
<if><get name="docbody">
 <else><set name="docbody"><get agent name="book&bkctr;root"></set> </else></if>

<if><get name=printroot form>
 <then></then> 
 <else><set name=docbody><body>
</body></set> </else></if>

<set name="linktoc"><dl> </dl></set>

<repeat list="&links;" entity=l>
<set name="linkid"><get name=l attr=linkid></set>
<set name=l insert=0 replace></set>
<if><get form name=&linkid;>
 <then> 
    <set name="aurl"><get name=l attr=href></set>
    <fetch-url input=&aurl; base=&theurl; style=&thisstyle;
    output=&spoolfile;.link&linkid;>
    <set name=linktoc insert=-1><dt><get index=l.Text></dt><dd><get name=aurl></dd></set>
    <set name="linkbody"><get index="document.html.body"></set>
<if><get name="linkbody">
 <else><set name="linkbody"><get name="document" findall=body></set> </else></if>
<if><get name="linkbody">
 <else><set name="linkbody"><get name="document"></set> </else></if>

 <set name="docbody" insert=-1> <br> <h1 rev=TOC><get name=l></h1> <h5>URL:
 <get name=aurl></h5>
  <get name=linkbody>
  </set>

 </then> 
 </if>
</repeat>
  
<cache-entry url=&theurl; style=&thisstyle; output=&spoolfile;>
<!-- check to make sure that the changes to body are reflected in the root
document -->


<if><get name=printroot form>
 <else>
  <set name="document"><html><head><title>Book from &theurl; </title></head>
  <get name=docbody>
  </html></set>
</else> 
 <then><set name=document><get agent name=book&bkctr;root></set> </then></if>

<write file=&spoolfile;.html><get name=document></write>

    <set name=commandout> </set>
<!--     creating Postscript...using style &thisstyle; -->

    <create-ps-file-simple file=&spoolfile;.html input=&theurl;
    output=&spoolfile; style=&thisstyle;>

<!--    creating Previews ... ps file command returned: &commandout; --> 
     <create-ps-preview-simple style=&thisstyle; psfile=&spoolfile;>

<!-- Preview command returned: &commandout; -->

     <show-summary spoolfile=&spoolfile; parseddoc=&document;
     url=&theurl; book=true>
     </show-summary>



<table><tr>
<td>
<form action="http://&piaHOST;:&piaPORT;/&agentName;/print.if" method=post>
<input name="URL" value="&FORM.URL;" type=hidden>
<input name="spoolfile" value="&spoolfile;.ps" type=hidden>
<input type="SUBMIT" value="Print">
</form>
<td>
</table>
<if><get name=setdefaultstyle form><then><set-default-style url=&theurl; style=&thisstyle;> </then></if>

</then>
<else>NO booknum specified </else>
</if>


<hr>


<form action="&url;" method=POST>
<set name="refered"><get trans headers request name=referer></set>
<if><test match=&piaHOST;><get name=refered></test>
 <else><set name=myurl><get name=refered></set> </else>
 </if>
  <if>
  <test><get name="myurl"></test>
  <else>
  <set-lastlink>
  <set name="myurl"><get name="lastlink" attr=href></set>
   </else>
 </if>

Create a book starting at URL: <input type="URL" size=65 name="URL" value=&myurl;>

<br>
Using this <a href=edit_style.if>Style:</a>
<select name=style>
<option>makebook</option>
 <style-option-list url=&myurl;>
</select>
<input type="SUBMIT" value="Choose Contents for Book">
<br>(<input type=radio name=setdefaultstyle> Set style as default for this host?)
</form>
<hr>



<p>
</then></if>
<page-footer> </page-footer>
</body></html>
