<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Help for &agentName;</set>
<read interform file="heading.inc" process>

<p>
 The WebPrinter can retrieve, format, and render documents from any server on
 the world wide web. Single pages or entire sites (books) can be  printed with
 the click of a button. The WebPrinter is much easier to use and produces much
 more readable documents.
<p>


<hr>
<if><test><get agent name="banner"></test><then>&AGENT.banner; <hr>
<p>
</then></if>
<b>$Id$</b><br>
<!-- hhmts start -->
Last modified: Thu Jun  5 12:44:25 1997
<!-- hhmts end -->
<p>
<address><a href="http://www.crc.ricoh.com/people/wolff/wolff.html"
         >Greg Wolff</a> &lt;<a href="mailto:wolff@crc.ricoh.com"
         >wolff@crc.ricoh.com</a>&gt;</address>
</body></html>
