<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1>Printer `&agentName;' on &piaHOST; </h1>
You have reached the web printer home page.    To preview a document, enter
the URL and click "Preview":
<code language=perl>
my $url=$current_request->header(Referer);
my $name=$current_self->name;
my $form=make_form("/$name/preview.if",({name => 'URL',size =>
 50, value => $url},{type => 'submit',value => 'Preview'}));
return $form;
</code>
<p>
From this page, you may:
  <ul>
   <li> change printer <a href=options.if> options</a>
   <li> see the current <a
 href=status.if> status </a>
   <li> <a href=add_preview_button.if> add </a> or <a
	href=remove_preview_button.if>remove</a> preview button to every page.
</ul>

  For more information see <a
 href=http://internal/documents/pia/>  the PIA  manual</a>.
<hr>

  <hr>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Wed Nov 13 18:08:55 1996
<!-- hhmts end -->
</body></html>
