<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1>Printer initialization for <code language=perl> $current_self->name; </code></h1>

<code language=perl>
require("printer_agent.pl");
$current_self->option('render_method',"latex");
$current_self->option('preview_number',"100");
$current_self->option('thumbsize',"72");
$current_self->option('thumb_width',"100");
$current_self->option('thumb_height',"140");
$current_self->option('book_depth',"15");
$current_self->option('cache_only',"1");
$current_self->option('max_pages',"2000");
$current_self->option('device',"lp");

my $name= $current_self->name;
$printer_root_directory=$current_self->agent_directory . "spool/";

mkdir($printer_root_directory, 0777) unless -d $printer_root_directory;
$printer_base_url= $current_self->agent_url . "spool/";

"initialized $name";
</code>




<hr>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Sat Nov 23 18:19:17 1996
<!-- hhmts end -->
</body></html>
