<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1>makes latex</h1>

<code language=perl>
my %form_parameters=%{$current_request->parameters()};
my $url=$form_parameters{URL};
$url=$current_request->header(Referer) unless $url;
my $name=$current_self->name;
my $form=make_form("/$name/latex.if",({name => 'URL',size =>
 50, value => $url},{type => 'submit',value => 'latexify'}));
return $form;
</code>


<code language=perl>


my %form_parameters=%{$current_request->parameters()};
my $url=$form_parameters{URL};
return "no url" unless $url;
my $ask=$current_self->create_request('GET',$url);
my $callback=sub {
my ($self,$response)=@_;
    my $html = IF::Run::parse_html_string($response->content);
my $f=HTML::FormatLatex->new;
my $latex=$f->format($html);
print $latex;
};
my $machine=AGENT_MACHINE->new($current_self);
$machine->callback($callback);
my $transaction=TRANSACTION->new($ask,$machine);
$main::main_resolver->push($transaction);
my $element="printing latex for $url"; 

return $element;
</code>
<hr>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Wed Nov 20 19:28:45 1996
<!-- hhmts end -->
</body></html>
