<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>  &agentName; preview</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title> &agentName;  Bookmaker</set>
<read interform file="heading.inc" process>

<tagset-load name=Printer-agent-actors>


<if><test><get form name="URL"></test>
  <then>
    <set name="theurl"><get name=URL form></set>
    <!-- Previewing &FORM.URL; -->
    <set name=spoolfile><new-file-name></set>

    <if> <get name=style form>
      <then> <set name=thisstyle><get name=style
	form></set>
      </then>
      <else><set name=thisstyle>makebook</set></else>
    </if>

    <set agent name=bkctr><sum digits=0>1 <get agent name=bkctr> </sum></set>
    <set name=bkctr><get name=bkctr agent></set>

    <fetch-url input=&theurl; style=&thisstyle; output=&spoolfile;.root>

  <user-message> Result code from fetching url is: <get name=document attr=responsecode></user-message>

  Result code from fetching url is: <get name=document attr=responsecode>
<p>

    <set name="book&bkctr;root" agent><get name=document></set>
    <set name="book&bkctr;url" agent><get name=theurl></set>
    <set name="book&bkctr;spoolfile" agent>&spoolfile;</set>
<!-- we really should keep track of the base element, but for now we assumed
    that it is the URL -->

<!-- insert check boxes in all of the links -->
<set name=links><dummy><get name=document findall=a></dummy></set>
<set name=linkid>1</set>

<!-- non html files will get inserted as img links, but they really waste a
lot of time,... -->
<repeat list=&links; entity=l>
  <set name=l attr=linkid><get name=linkid></set>
  <set name=l insert=0><input type=checkbox name=&linkid;></set>
  <set name=linkid><sum digits=0>1 <get name=linkid> </sum></set>
</repeat>

    <set name="book&bkctr;links" agent><get name=links></set>

<set name=dochtml><get index=document.html></set>
<if><get name=dochtml> <else><set name=dochtml><get name=document
findall=html></set></else></if>
<if><get name=dochtml>
 <then><set name=docbody><get index=dochtml.body></set> 
       <set name=dochead><get index=dochtml.head></set> 
 </then>
 <else><set name=docbody><get name=document findall=body></set>
        <set name=dochead><get name=document findall=head></set>
 </else></if>

<if><get name=docbody> <else><set name=docbody><get name=document></set>
</else></if>


<h4>The specified document is listed below -- check those links you would like
to include in the book, then press the retrieve button below </h4>
<hr>

<form action=finishbook.if method=post>
<get index=docbody.-1->
<hr><input name=Submit type=submit value="Retrieve checked links/make book">
<input name=URL type=hidden value=&theurl;>
<input name=spoolfile type=hidden value=&spoolfile;>
<input name=style type=hidden value=finishbook>
<input name=booknum type=hidden value=&bkctr;>
(Include this page in output <input name=printroot type=checkbox>)
</form>
<hr>
</then>
</if>


<hr>


<form action="&url;" method=POST>
<set name="refered"><get trans headers request name=referer></set>
<if><test match=&piaHOST;><get name=refered></test>
 <else><set name=myurl><get name=refered></set> </else>
 </if>
  <if>
  <test><get name="myurl"></test>
  <else>
  <set-lastlink>
  <set name="myurl"><get name="lastlink" attr=href></set>
   </else>
 </if>

Create a book starting at URL: <input type="URL" size=65 name="URL" value=&myurl;>

<br>
Using this <a href=edit_style.if>Style:</a>
<select name=style>
<option>makebook</option>
 <style-option-list url=&myurl;>
</select>
<input type="SUBMIT" value="Choose Contents for Book">
<br>(<input type=radio name=setdefaultstyle> Set style as default for this host?)
</form>
<hr>

<page-footer> </page-footer>
</body></html>
