<html> <head>
<title></title>
</head>

<body>
<h1> Book maker for <code language="perl">
my $name=$agent->name;
my $element=HTML::Element->new('a',href => "/$name/home.if");
$element->push_content("$name");
return $element;
</code></h1>
 Make book starting at <code language=perl> 
my %form_parameters=%{$current_request->parameters()};
my $name=$current_self->name;
my $form=make_form("/$name/mkbook.if",({name => 'URL',size => 50,value =>
$form_parameters{URL}},{type => 'submit',value => 'makebook'}));
return $form;
</code>

<br>
<code language=perl>

my %form_parameters=%{$current_request->parameters()};
my $url=$form_parameters{URL};

return $current_self->make_book($url) if $url;
    
</code>
 

<hr>
<a href="show_book_ps.if"> show postscript version of book </a> 
<hr>
<address><a href="http://sages.com/~wolff/wolff.html">Greg Wolff </a> <a href=mailto:wolff@sages.com>wolff@sages.com</a></address>
<!-- hhmts start -->
Last modified: Mon Nov 11 11:07:42 1996
<!-- hhmts end -->
</body> </html>
