<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1>Options for `<a href="home.if">&agentName;</a>' on &piaHOST </h1>
Format options:
<table>
<tr><TD><a href=toc.if>Table of contents</a>
<TD><a href=twocolumn.if>2 column</a>
<TD><a href=onecolumn.if>1 column</a>
<TD><a href=onecolumn.if>images</a>
<TD><a href=footnotes.if>footnotes</a>
</table>
<br>
<code language=perl>
my $url=$current_request->url;
$current_self->parse_options($current_request);
return $current_self->options_form($url);

</code>


<hr>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Thu Nov 21 20:51:59 1996
<!-- hhmts end -->
</body></html>
