<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>  &agentName; preview</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title> &agentName;  PreviewPage</set>
<read interform file="heading.inc" process>


<if><test><get form name="URL"></test>
<then>
Previewing &FORM.URL;
<p>

THIS PAGE under CONSTRUCTION

<table>
<caption>Previewing &FORM.URL; </caption>
<tr><td><a href=/~&agentName;/temp/tmp1.gif><img src=/~&agentName;/temp/tmp1.gif
width=100></a> </td>
<td><a href=/~&agentName;/temp/tmp2.gif><img src=/~&agentName;/temp/tmp2.gif
width=100></a> </td>
</tr>
</table>
<set name=ps_file>/home/wolff/.piajava/Printer/temp/tmp.ps</set>

<table><tr>
<td>
<form action="http://&piaHOST;:&piaPORT;/&agentName;/print.if" method=post>
<input name="URL" value="&FORM.URL;" type=hidden>
<input name="spoolfile" value="&ps_file;" type=hidden>
<input type="SUBMIT" value="Print">
</form>
<td>
<form action="/&agentName;/preview.if" method=post>
<input name="URL" value="&FORM.URL;" type=hidden>
<input name="thumbsize" value="30" type=hidden>
<input type="SUBMIT" value="SmallThumbnails">
</form>
<td>
<form action="/&agentName;/preview.if" method=post>
<input name="URL" value="&FORM.URL;" type=hidden>
<input name="render_method" value="normal" type=hidden>
<input type="SUBMIT" value="Images">
</form>
</table>

</then>
<else>
<form action="&url;" method=POST>
<set name="myurl"><get trans headers request name=referer></set>
<if><test match="&agentName;/home.if"><get name=myurl></test> <then>
 <set
 name=myurl>http://www.wired.com/news/news/technology/story/12654.html</set></then>
 <else></else> </if>
Format this URL: <input type="URL" size=55 name="URL" value=&myurl;>
<br>
Using this <a href=loadtagset.if>Style:</a>
<select name=style>
 <repeat list=&AGENT.styles;><option>&li;</option> </repeat>
</select>


<input type="SUBMIT" value="Show me the Preview">
</form>
</else>
</if>
<hr>
<br>
<table>
<tr><TD><a href=toc.if>Table of contents</a>
<TD><a href=twocolumn.if>2 column</a>
<TD><a href=onecolumn.if>1 column</a>
<TD><a href=footnotes.if>footnotes</a>
</table>
<br>



<hr>
<if><test><get agent name="banner"></test><then>&AGENT.banner; <hr>
<p>
</then></if>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Thu Jun  4 18:52:33 1998
<!-- hhmts end -->
</body></html>
