<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1>Preview page for <code language="perl">
my $name=$current_self->name;
my $element=HTML::Element->new('a',href => "/$name/home.if");
$element->push_content("$name");
return $element;
</code> </h1>
You are Previewing <code language=perl> ${$current_request->parameters()}{URL}; </code>

<br>
<code language=perl>
my %form_parameters=%{$current_request->parameters()};
my $name=$current_self->name;
my $form=make_form("/$name/print.if",({name => 'URL',size => 50,value =>
$form_parameters{URL}},{type => 'submit',value => 'Print'}));
return $form;
</code>


<hr>
<code language=perl>
require("printer_agent.pl");

my %form_parameters=%{$current_request->parameters()};
my $ask=$current_self->create_request('GET',$form_parameters{URL});
my $element=create_preview($current_self,$ask);

print "preview created \n";
return $element;

</code>

<hr>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Thu Sep 19 17:30:28 1996
<!-- hhmts end -->
</body></html>
