<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>PIA printer agent printing document</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1><img src="/logo/pia24.gif">`<a href="home.if">&agentName;</a>' on &piaHOST
</h1>

<code language=perl>
my $printer=$agent->option('device');
$printer="ps3"  unless $printer;
if(! $printer){
my $element=IF::IT->new('a',href => "/$name/options.if");
$element->push_content("please specify a printer");
return $element;
}

my $type=$request->method;
my %parameters=%{$request->parameters};
my $file=$parameters{spoolfile};
if($file){
$status=system("lpr -P$printer $file");
return "printing $file on $printer...status $status";
}

if($parameters{URL}) {
my $ask=$agent->create_request('GET',$parameters{URL});
my @files=$agent->file_names;
my $image_file=shift @files;
$ps_file=shift @files;
print "generatepostscript\n";
my $response=$agent->create_postscript($ask);
if(-e $ps_file){
$status=system("lpr -P$printer $ps_file");
return "printing $file on $printer...status $status";
} else {
return "problem creating print file";
}


} else{
if($type eq "PUT") {
my $contenttype=$type;
return "only postscript or plain text currently supported, not  $contenttype"
unless $contenttype =~ /(postscript)|(plain)|(html)/;

my $self=$agent;
    my @files=$self->file_names();
    my $image_file=shift @files;
    $ps_file=shift @files;
if($contenttype =~ /html/){    
    my $status=$self->html_ps($request,$request,"000");
   $status=system("lpr -P$printer $file");
   return "printing $file on $printer...status $status";
}
}}
return "neither post nor put\n";
</code>

<hr>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Fri Jan 24 09:42:39 1997
<!-- hhmts end -->
</body></html>
