<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Page Controls</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1> &agentName;</h1>
WebPrinter controls will not be added to proxied pages.

<set agent hook name="_act_on"></set>
<hr>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Tue Jun  3 20:48:10 1997
<!-- hhmts end -->
</body></html>
