<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1>printer initialization for <code language=perl> return $current_self->name; </code></h1>
causes preview button to be inserted (machine name hard coded TBD)
<code language=perl>
my $name=$current_self->name;
$current_self->remove_translator('text/html');
"removed translator";
</code>


<hr>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Wed Aug  7 09:18:16 1996
<!-- hhmts end -->
</body></html>
