 <!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title> Printer agent book contents</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1><img src="/logo/pia24">`<a href="home.if">&agentName;</a>' Book table of contents
</h1>

<code language=perl>
my $book=$current_self->current_book;
my $contents=$book->table_of_contents;

return $contents;
</code>
<hr>
<a href="show_book_ps.if"> Preview postscript version of book </a> 

<hr>

</body></html>

