<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title> Printer book postscript preview</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1><img src="/logo/pia24">`<a href="home.if">&agentName;</a>' Book
postscript preview
</h1>
<code language=perl>
my $book=$agent->current_book;

my $element=$agent->book_ps($book);

print "book preview created \n";
return $element;
</code>

<code language=perl>
my %form_parameters=%{$request->parameters()};
my $name=$agent->name;
my $form=make_form("/$name/print.if",({name => 'spoolfile', type => 'hidden',
         value => $agent->ps_file_name},{type => 'submit',value => 'Print'}));
return $form;
</code>

<hr>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Fri Jan 24 09:42:37 1997
<!-- hhmts end -->
</body></html>
