<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1></h1>

<code language=perl>
my $book=$current_self->current_book;
my $contents=$book->table_of_contents;

return $contents;
</code>
<br>
<code language=perl>

my $book=$current_self->current_book;
my (@k)= keys(%{$$book{toc}});
my $string=join(" ",@k);
return $string;
#return $current_self->current_book->html;

</code>
<hr>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Thu Nov 21 10:32:34 1996
<!-- hhmts end -->
</body></html>

