<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title> &agentName; Status</set>
<read interform file="heading.inc" process>


<tagset-load name=Printer-agent-actors>


<pre>
<os-command-output> lpq -P&AGENT.device; </os-command-output>
</pre>

<hr><if><test><get agent name="banner"></test><then>&AGENT.banner; <hr>
<p>
</then></if>
<page-footer> </page-footer>
</body></html>
