<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title> &agentName; Status</set>
<read interform file="heading.inc" process>


<tagset-load name=Printer-agent-actors>

<if><get agent name=device>
<then><set name=options>-P&AGENT.device;</set></then>
<else><set name=options> </set></else></if>

<pre>
<os-command-output> lpq &options; </os-command-output>
</pre>
<p>

<page-footer> </page-footer>
</body></html>
