<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html>
<if><tagset-exists name=template-form>
    <then><user-message>tagset template-form already exists</user-message>
    <else><user-message>loading tagset template-form</user-message>
	  <if><read process quiet interform file=tagset.inc></if>
	  <user-message>tagset template-form loaded</user-message>
	  
</if>
<tagset-load name=template-form>

<t-form-setup><!-- perform setup -->
<!-- ============================================================= -->
<head>
<title>&agentName; &title;</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<if><get agent name=heading>
    <else><set agent name=heading><read interform
				        file=heading.inc parse></set>
</if>
<expand><get agent name=heading></expand>
<if><get agent name=subhead>
    <else><set agent name=subhead><read interform
				        file=subhead.inc parse></set>
</if>
<expand><get agent name=subhead></expand>
<hr>
<a href="/&agentName;">&agentName;</a> for <b>&tName;:</b>
<a href="#template">Form</a>  || <a href="#files">File report.</a>
|| <a href="&tDOFS;/proto/">[src]</a>
<if>&dDOFS;<then><b>-&gt;</b> <a href="&dDOFS;/">[dst]</a></if>
<if><get name="data-file">
    <then>(<em><if><test exact match="&data-file;"><get agent
		                                name="data-file-name"></test>
    	           <then>processing</then>
    	           <else>loading</else>
                </if> data file...</em>)
</if> 
<!-- ============================== filler ====================== -->
<!-- ===== This filler forces out the preceeding text =========== -->
<!-- ===== so the user at least has the impression that ========= -->
<!-- ===== something is going on while the data file is ========= -->
<!-- ===== being processed.  Expanding actors is slow... ======== -->
<!-- ============================== filler ====================== -->
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
<!-- ============================== filler ====================== -->
<br>

<if><get name="data-file">
    <then><if><test exact match="&data-file;"><get agent
		                                name="data-file-name"></test>
    	      <then><user-message>&data-file; already loaded</user-message>
              <else><user-message>loading &data-file;</user-message>
		    <set agent name="data-file-content"><read
			parse quiet file="&data-file;"></set>
		    <set agent name="data-file-name">&data-file;</set>
		    <user-message>loaded &data-file;</user-message>
          </if><!-- replace this if with read process file=&data-file; -->
          <expand><get agent name=data-file-content></expand>
          <user-message>expanded &data-file;</user-message>
    <else><set agent name=data-file-name></set>
	  <set agent name=data-file-content></set>
</if>

<if><get name=dName><then>
<if><get name=dDir>
    <else><if><get name=dRoot-path>
	  <then><set name=dDir>&dRoot-path;/&dPath;/&dName;</set>
</if></if>
<if><get name=dRoot-DOFS>
    <then><set name=dDOFS>&dRoot-DOFS;/&dPath;/&dName;</set>
    <else><set name=dDOFS></set>
</if>
<else>
      <set name=dDir></set>
      <set name=dDOFS></set>
</if>


<if><get name="details"><then>
<table cellpadding=0 cellspacing=0 border=0>
<tr><th>
<a href="#details">Details:</a>
<td>(
 <a href="#files">Files</a>,
 <a href="#form">Form dump</a>,
 <a href="#data">Data dump</a>,
 <a href="#data-file">Data file</a>
)
<tr><th> Data file:
    <td> <a href="file:&data-file;"><get name=data-file></a>
<tr><th> Target dir:
    <td> <a href="file:&dDir;"><get name=dDir></a>
<tr><th>
    <td> <b>root:</b> <get name=dRoot> (<get name=dRoot-path>)
	 <b>path:</b> <get name=dPath>
	 <if><get name=dName>
	     <then><b>name:</b> <get name=dName>
</table>
</if>
<hr>

<!-- === should switch to alternate label when t-data-present === -->
<if><get name=tHeading-label><then>
    <h3 align=center><a name="template">&tHeading-label;</a></h3>
    <expand><get name=tHeading-doc></expand>
<else><if><get name=tName-label><then>
    <h3 align=center><a name="template">&tName-label;</a></h3>
    <expand><get name=tName-doc></expand>
</if></if>

<p>
<set name=t-skip-form></set>
<if><get form name="expand"><get form name="expand-c"><then>
    <if><get form name="expand-c"><t-missing-fields><then>
	<h4>Continuing:</h4>
        <if><t-missing-fields><then>
	  <dl>
	    <dt> The following fields need values:
	    <dd><repeat list="&t-missing-fields;">
	         <t-field-link name="&li;"></repeat>
	  </dl>
	</if>
    <else>
	<set name=t-expanding>1</set>
	  <if><get name=details><else><set name=t-skip-form>1</set></if>
	  
	  <h3><a name="files">Expanding:</a></h3>
	  <user-message>about to expand template</user-message><p>
	  <!-- With t-expanding off this just generates the file report. -->
	  <read quiet process interform file="expand.inc">
	  <user-message>expanded</user-message>
	  <hr>
    </if>
</if>

<if><get form name="extend"><then>
    <h4>Extending:</h4>
</if>

<!-- ============================== filler ====================== -->
<!-- ===== this filler forces out the preceeding text =========== -->
<!-- ===== so the user at least has the impression that ========= -->
<!-- ===== something is going on while the form is being ======== -->
<!-- ===== expanded.  The loop seems to take a long time. ======= -->
<!-- ============================== filler ====================== -->
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
                                                                     
<!-- ============================== filler ====================== -->

<if><get name=t-skip-form>
<else>
<user-message>about to format the form</user-message>
<if><get name=tFormat>
    <then> <expand>&tFormat;</expand></then>
<else><if><get name=t-form-path>
    <then><read quiet process file="&t-form-path;"></then>
<else><if><get name="data-file">
    <then><t-tabular-form></then>
<else>
    <h2>Select a Template</h2>
    <read interform process file=t-index.inc>
</if></if></if>
<user-message>formatted</user-message>
</if>

<if><get name="t-expanding">
<else>
<hr>
<h3><a name="files">Files:</a></h3>

<!-- With t-expanding off this just generates the file report. -->
<read quiet process interform file="expand.inc">
</if>

<if><get name="details"><then>
<hr>
<h3><a name="details">Details:</a></h3>
<ul>
  <li> <a href="#form">Form dump</a>
  <li> <a href="#data">Data dump</a>
  <li> <a href="#data-file">New Data File</a>
</ul>

<h4><a name="form">Form Dump</a></h4>
<dl>
  <dt> Fields: 
  <dd> &tFieldNames;

  <repeat list="&FORM.KEYS;">
  <dt> &li;
  <dd> <protect-result markup><get form name="&li;"></protect-result>
  </repeat>
</dl>

<h4><a name="data">Data Dump</a></h4>
<t-data-dump>

<h4><a name="data-file">New Data File</a></h4>
<strong>path:</strong> <code>&dDir;/&dDataFile;.inc</code>
<pre><protect-result markup><t-data-file></protect-result></pre>

</if>
<hr><!-- ============================================================= -->
<a href="/&agentName;">&agentName;</a> for <b>&tName;:</b>
<a href="#template">Form</a>  || <a href="#files">File report.</a><br>
<a href="/">PIA</a> || <a href="/Agency">Agency</a> ||
<if><test not exact match="&agentType;">&agentName;</test>
    <then><a href="/&agentType;/home.if">&agentType;</a>
          <a href="/&agentType;/"> / </a>
          <a href="/&agentType;/&agentName;">&agentName;</a>:
          <a href="/&agentType;/&agentName;/">index</a>
          <a href="/&agentType;/&agentName;/">help</a>
	  <a href="/&agentType;/&agentName;/options.if">options</a>
	  <a href="/&agentType;/&agentName;/tagload.if">tags</a>
    <else><a href="/&agentName;/home.if">&agentName;</a>:
	  <a href="/&agentName;/">index</a>
	  <a href="/&agentName;/">help</a>
	  <a href="/&agentName;/options.if">options</a>
	  <a href="/&agentName;/tagload.if">tags</a>
</if>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
