<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html>
<if><tagset-exists name=template-form>
    <else><if><read process quiet interform file=tagset.inc></if>
</if>
<tagset-load name=template-form>

<t-form-setup><!-- perform setup -->
<!-- ============================================================= -->
<head>
<title>&agentName; &title;</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<read interform file="heading.inc" process>
<read interform file="subhead.inc" process>
<hr>

<if><get name="data-file"><then><read process quiet file="&data-file;"></if>

<if><get name=dName><then>
<if><get name=dDir>
    <else><if><get name=dRoot-path>
	  <then><set name=dDir>&dRoot-path;/&dPath;/&dName;</set>
</if></if>
<if><get name=dRoot-DOFS>
    <then><set name=dDOFS>&dRoot-DOFS;/&dPath;/&dName;</set>
    <else><set name=dDOFS></set>
</if>
<else>
      <set name=dDir></set>
      <set name=dDOFS></set>
</if>

<a href="/&agentName;">&agentName;</a> for <b>&tName;:</b>
<a href="#template">Form</a>  || <a href="#files">File report.</a>
|| <a href="&tDOFS;/proto/">[src]</a>
<if>&dDOFS;<then><b>-&gt;</b> <a href="&dDOFS;/">[dst]</a></if>
<br>

<if><get name="details"><then>
<table cellpadding=0 cellspacing=0 border=0>
<tr><th>
<a href="#details">Details:</a>
<td>(
 <a href="#files">Files</a>,
 <a href="#form">Form dump</a>,
 <a href="#data">Data dump</a>,
 <a href="#data-file">Data file</a>
)
<tr><th> Data file:
    <td> <a href="file:&data-file;"><get name=data-file></a>
<tr><th> Target dir:
    <td> <a href="file:&dDir;"><get name=dDir></a>
<tr><th>
    <td> <b>root:</b> <get name=dRoot> (<get name=dRoot-path>)
	 <b>path:</b> <get name=dPath>
	 <if><get name=dName>
	     <then><b>name:</b> <get name=dName>
</table>
</if>
<hr>

<!-- === should switch to alternate label when t-data-present === -->
<if><get name=tName-label><then>
    <h3 align=center><a name="template">&tName-label;</a></h3>
</if>

<expand><get name=tName-doc></expand>
<p>

<if><get form name="expand"><get form name="expand-c"><then>
    <if><get form name="expand-c"><t-missing-fields><then>
	<h4>Continuing:</h4>
        <if><t-missing-fields><then>
	  <dl>
	    <dt> The following fields need values:
	    <dd><repeat list="&t-missing-fields;">
	         <t-field-link name="&li;"></repeat>
	  </dl>
	</if>
    <else>
	<set name=t-expanding>1</set>
	  <h3><a name="files">Expanding:</a></h3>

	  <!-- With t-expanding off this just generates the file report. -->
	  <read quiet process interform file="expand.inc">
	  <hr>
    </if>
</if>

<if><get form name="extend"><then>
    <h4>Extending:</h4>
</if>

<if><get name=tFormat>
    <then> <expand>&tFormat;</expand></then>
<else><if><get name=t-form-path>
    <then><read quiet process file="&t-form-path;"></then>
<else><if><get name="data-file">
    <then><t-tabular-form></then>
<else>
    <h2>Select a Template</h2>
    <read interform process file=t-index.inc>
</if></if></if>

<if><get name="t-expanding">
    <then>
<else>
<hr>
<h3><a name="files">Files:</a></h3>

<!-- With t-expanding off this just generates the file report. -->
<read quiet process interform file="expand.inc">
</if>

<if><get name="details"><then>
<hr>
<h3><a name="details">Details:</a></h3>
<ul>
  <li> <a href="#form">Form dump</a>
  <li> <a href="#data">Data dump</a>
  <li> <a href="#data-file">New Data File</a>
</ul>

<h4><a name="form">Form Dump</a></h4>
<dl>
  <dt> Fields: 
  <dd> &tFieldNames;

  <repeat list="&FORM.KEYS;">
  <dt> &li;
  <dd> <protect-result markup><get form name="&li;"></protect-result>
  </repeat>
</dl>

<h4><a name="data">Data Dump</a></h4>
<t-data-dump>

<h4><a name="data-file">New Data File</a></h4>
<strong>path:</strong> <code>&dDir;/&dDataFile;.inc</code>
<pre><protect-result markup><t-data-file></protect-result></pre>

</if>
<hr><!-- ============================================================= -->
<a href="/&agentName;">&agentName;</a> for <b>&tName;:</b>
<a href="#template">Form</a>  || <a href="#files">File report.</a><br>
<a href="/">PIA</a> || <a href="/Agency">Agency</a> ||
<if><test not exact match="&agentType;">&agentName;</test>
    <then><a href="/&agentType;/home.if">&agentType;</a>
          <a href="/&agentType;/"> / </a>
          <a href="/&agentType;/&agentName;">&agentName;</a>:
          <a href="/&agentType;/&agentName;/">index</a>
          <a href="/&agentType;/&agentName;/">help</a>
	  <a href="/&agentType;/&agentName;/options.if">options</a>
	  <a href="/&agentType;/&agentName;/tagload.if">tags</a>
    <else><a href="/&agentName;/home.if">&agentName;</a>:
	  <a href="/&agentName;/">index</a>
	  <a href="/&agentName;/">help</a>
	  <a href="/&agentName;/options.if">options</a>
	  <a href="/&agentName;/tagload.if">tags</a>
</if>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
