<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Template Agent</title>
<link rev="made" href="mailto:steve@rsv.ricoh.com">
</head><body>
<h1>Builder Agent</h1>

This agent uses form-driven templates to build agents, documents, and web
sites (including PIA home directories for personal servers and appliances).

<h2>Contents:</h2>
<dl>
  <dt> <a href="usage.html">usage.html</a>
  <dd> How to use it
  <dt> <a href="impl.html">impl.html</a>
  <dd> Implementation notes
  <dt> <a href="Masters/">Masters/</a>
  <dd> Master files for System templates.
  <dt> <a href="/My/Template/Masters/">/My/Template/Masters/</a>
  <dd> Master files for User-defined templates.
</dl>

<h2>Installation:</h2>

If you are reading this file, you are probably looking at the Template agent's
directory through a DOFS.  If so, you can install the agent using the
following form:

<form action="/Agency/install_agent.if" method="POST">
  <input type="submit" value="Install">
  name: <input name="agent" value="Template">
</form>

<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
<address><a href="http://rsv.ricoh.com/~steve/"
         >Stephen R. Savitzky</a> &lt;<a href="mailto:steve@rsv.ricoh.com"
         >steve@rsv.ricoh.com</a>&gt;</address>
</body></html>
