<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>File Copy with Substitution</title>
<link rev="made" href="mailto:steve@rsv.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>File Copy with Substitution</set>
<if><get form name=no-includes>
    <then><h1>&title;</h1>
	  <blockquote><em>headings omitted for speed</em></blockquote>
    <else><read interform file="heading.inc" process>
          <read interform file="subhead.inc" process>
</if>
<hr><!-- ============================================================= -->

<if>&urlQuery;

<else>
<form action="&url;">
  <table>
    <tr><th align=right>Source File:
	<td> <input name=src size=50>
    <tr><th align=right>Destination:
	<td> <input name=dst size=50>
    <tr><th align=right>Data file:
	<td> <input name=dat size=50>

    <tr><th> Delimiters:
	<td> Begin: <input name=beg size=2 value="|">
	     End: <input name=end size=2 value="|">
    <tr><th>
	<td> <input type=checkbox name=no-includes> No included headings
	     (faster) 
    <tr><th>
	<td> <input type=checkbox name=use-query> Use query (form) for
	     entities to substitute.
    <tr><th>
	<td> <input type=checkbox name=debug> include debugging info.
    <tr><th><input type=submit>
  </table>
</form>

<then>
  <table>
    <tr><th align=right>Source:
	<td> <code>&FORM.src;</code>
    <tr><th align=right>Destination:
	<td> <code>&FORM.dst;</code>
    <tr><th align=right>Data file:
	<td><if><get form name=use-query>
	        <then>Using query data. <set name=ENTS>&FORM;</set>
	        <else><code>&FORM.dat;</code>
 	    	  <set name=DATA><read process quiet file="&FORM.dat;"></set>
	    	  <set name=ENTS><get name=DATA findall=dl></set>
	    </if>
<if><get form name=debug><then>
    <tr><th align=right> Delimiters:
	<td> Begin: <code>&FORM.beg;</code>
	     End: <code>&FORM.end;</code>
    <tr><th align=right>Entities:<td>
    <tr><th>
	<td><get name=ENTS>

    <tr><th align=right valign=top> Results:
	<td><file copy subst="&ENTS;" beg="&FORM.beg;" end="&FORM.end;"
	          file="&FORM.src;" dst="&FORM.dst;">
</then></if>
  </table>
</if>

<hr>

This form is used internally for expanding a template's prototype files, and
can also be used explicitly from other agents.<p>

A secondary purpose is testing the template expansion actor,
&lt;file copy subst&gt;

	     
	
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
<address><a href="http://rsv.ricoh.com/~steve/"
         >Stephen R. Savitzky</a> &lt;<a href="mailto:steve@rsv.ricoh.com"
         >steve@rsv.ricoh.com</a>&gt;</address>
</body></html>
