<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>RSV FORMS</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<center><a href="http://&piaHOST;:&piaPORT;/Forms/forms.if"><img src="http://&piaHOST;:&piaPORT;/Forms/formsbutton.gif"></a><a href="http://&piaHOST;:&piaPORT;/Forms/users.if"><img src="http://&piaHOST;:&piaPORT;/Forms/userbutton.gif"></a><a href="http://&piaHOST;:&piaPORT;/Forms/reports.if"><img src="http://&piaHOST;:&piaPORT;/Forms/reportsbutton.gif"></a><a href="mailto:dgillen@crc.ricoh.com"><img src="http://&piaHOST;:&piaPORT;/Forms/feedbackbutton.gif"></a></center><p>

<h1>RSV FORMS</h1>
Almost all RSV forms are now available via the web.
Form data can be filled out using your web browser.  After you fill out a
form, you will get a chance to check the entries and then digitally sign the
form (using your unix password).  The electronic form will then be routed to
the appropriate persons for their signatures/further processing.  
<p>
Using  this system you can:

<ul>
  <li>  <a href="/Forms/forms.if">Fill out new form</a>
  <li>  <a href="/Forms/users.if">View forms waiting for your signature</a>
  <li>  <a href="/Forms/users.if">Check the status of previously submitted forms</a>
</ul>

<p>
This forms system is implemented using the PIA technology.  We value your
feedback regarding this experimental system, and apologize in advance for any
headaches or inconveniences this system may cause for you.

<hr>
<b>$Id$</b><br>
<!-- hhmts start -->
Last modified: Thu Sep 11 13:38:04 1997
<!-- hhmts end -->
<p>
<address><a href="http://www.crc.ricoh.com/people/wolff/wolff.html"
         >Greg Wolff</a> &lt;<a href="mailto:wolff@crc.ricoh.com"
         >wolff@crc.ricoh.com</a>&gt;</address>
</body></html>
