<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Latest Pictures</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Latest Pictures</set>
<read interform file="heading.inc" process>
<tagset-load name=Photo-agent-actors>

<set name=latest><read file=".latest"></set>
 <if><read file=&latest;/photocaptions.xml>  <else>
<write file=&latest;/photocaptions.xml><create-photo-captions directory=&latest;></write>
 </else> </if>

 <set name=photos><read file=&latest;/photocaptions.xml process></set>
 <if> <get name=photos> <then>

<h3>Most recent pictures captured on  &latest; </h3>
Click<a href="show_slides.if?pcaptions=&latest;/photocaptions.xml"> here to
view these as a slide show</a> <p>

<form action="add_captions.if" method=post>
<input name="capfile" type="hidden" value=&latest;/photocaptions.xml>
 <set name=mytitle>Photos by <get index=photos.photosauthor.Text></set>
<input name="captitle" value=&mytitle;>
<create-photo-table cols=6 photos=&photos;>

</form>
 </then> <else><h2> no photos found </h2></else> </if>





<hr>
<if><test><get agent name="banner"></test><then>&AGENT.banner; <hr>
<p>
</then></if>

<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>

