<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
 <if> <get name=roll form> <then> <set name=roll><get name=roll
      form></set></then> <else><set name=roll><read
      file=".latest"></set></else> </if>
 <if> <get name=capfile form> <then> <set name=capfile><get name=capfile
      form></set>
<set name=photos><read file=&capfile; process></set>
<set name=roll><get index=photos.photosdirectory></set>
</then> </if>
<title>Showing Roll &roll;</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>Roll &roll;</set>
<read interform file="heading.inc" process>
<tagset-load name=Photo-agent-actors>
<!-- read process quiet interform file=tagset.inc -->

 <if> <get name=capfile> <else> <set name=capfile>&roll;/photocaptions.xml</set> </else> </if>
<if><read file=&capfile;>  <else>
<write file=&capfile;><create-photo-captions directory=&roll;></write>
 </else> </if>


 <set name=photos><read file=&capfile; process></set>
 <if> <get name=photos> <then>

<h3>Pictures roll dated &photos.photosdate; </h3>


<form action="add_captions.if" method=post>
<input name="capfile" type="hidden" value=&capfile;>
 <if><get index=photos.photostitle.Text>
 <then><set name=mytitle><get index=photos.photostitle.Text></set></then>
 <else><set name=mytitle>Photos by <get index=photos.photosauthor.Text></set></else> </if>
<input name="captitle" value=&mytitle;>
<create-photo-table cols=6 photos=&photos.photos;>
<input type="SUBMIT" value="Add Captions">
</form>
<hr> Functions: <a href="show_slide.if?capfile=&capfile;"> view
     these as slide show</a> || 
<a href=ftp://&piaHOST;/&roll;.tar.gz> download this roll using FTP</a>
|| <a href="edit_roll.if?capfile=&capfile;"> Edit (rotate
images)</a>
<hr>
</then> <else>
<h2>No photos found </h2>
Select another roll from the list below.
 <set name=rolls><list-rolls></set>
 <repeat list=&rolls>
 <a href=show_roll.if?roll=&li;><get name=li></a>
 </repeat>
</else> </if>

<hr><get agent name="banner">
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>

