<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<h1></h1>
<tagset-load name=Photo-agent-actors>
<set name=master><read file="&AGENT.masterlist;" process></set>

<set name=rows><get name=master findall=a></set>
<repeat list=&rows; entity=aref>
 <set name=dir><get name=aref attr=href></set>
 <set name=capfile>&dir;/photocaptions.xml</set>

<write file=&capfile;><create-photo-captions directory=&dir;></write>

 <set name=aref attr=href>show_captioned.if?capfile=&capfile;</set>
</repeat>
<write file="&AGENT.masterlist;"><get name=master></write>
<hr>
<b>$Id$</b><br>
<!-- hhmts start -->
Last modified: Wed Mar 11 19:54:12 1998
<!-- hhmts end -->
<p>
<address><a href="http://rsv.ricoh.com/people/wolff/wolff.html"
         >Greg Wolff</a> &lt;<a href="mailto:wolff@crc.ricoh.com"
         >wolff@crc.ricoh.com</a>&gt;</address>
</body></html>
