<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:marko@crc.ricoh.com">
<SCRIPT LANGUAGE="Javascript">
var NumFound;
</SCRIPT>
</head>

<set name="check"><read file="newids"></set>
<if><get name="check"><then>

<body BGCOLOR="#000099" TEXT="#FFFFFF" onLoad="top.DoneFetchFrom(NumFound);">

<!-- Find file with info for logged in user -->

<set name="UserdataFileName">userdata/&FORM.userid;.xml</set>

<set name="userdata"><read file="&UserdataFileName;" process></set>

<if><get name="userdata">
<then>

<!-- Erase file indicating new photos are here -->
<os-command>rm -f &usrDIR;/&agentName;/newids</os-command>

<!-- Get IDs of new pictures -->
<set name="newids"><read file="newids.xml" process></set>

<set name="NewPhotoCount">0</set>

<!-- Write out new user info -->
<set name="oldphotos"><dummy><get name="userdata" findall="photoid"></dummy></set>
<set name="newphotos"><dummy><get name="newids" findall="photoid"></dummy></set>
<set name="firstnewphoto"><get index="newphotos.-1.Text"></set>
<write file="&UserdataFileName;">
<user>
<get index="userdata.personal">
<get index="userdata.photonetmaxindex">
<photoids>
<repeat list="&oldphotos;" entity="photo">
<if><get name="photo"><then>
&photo;
</then></if>
</repeat>
<repeat list="&newphotos;" entity="photo">
<set name="NewPhotoCount"><sum digits="0">&NewPhotoCount; 1</sum></set>
&photo;</repeat>
</photoids>
<startoflatestbatch>&firstnewphoto;</startoflatestbatch>
</user>
</write>

<I>Found &NewPhotoCount; new photos</I>

<SCRIPT LANGUAGE="Javascript">
NumFound = &NewPhotoCount;
</SCRIPT>

</body>
</then>
<else>
<body BGCOLOR="#000099" TEXT="#FFFFFF">
No new photos available from camera.

<meta HTTP-EQUIV="Refresh" CONTENT="5; URL=AddPhotosFrame.if?userid=&FORM.userid;"></meta>

</body>
</else>
</if>

</html>

