<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Redirect to Picture This</title>
<link rev="made" href="mailto:marko@crc.ricoh.com">
</head><body>

<read process quiet interform file=url-tags.inc>



<!-- Find the universal ID -->
<set name="PhotoID"><get form name="PhotoID"></set>

<!-- Given that, look up the metadata -->
<set name="metadata"><read file="metadata/&PhotoID;.xml" process></set>
<set name="thumbnail"><get index="metadata.remotethumbnailurl.Text"></set>
<if><get name="thumbnail"><then>
<set name="filename"><url-filename url="&thumbnail;"></set>
</then>
<else>
<set name="filename">big<get index="metadata.photonetindex.Text">.jpg</set>
</else>
</if>

<!-- Also look up the personal info -->
<set name="UserdataFileName">userdata/&FORM.userid;.xml</set>
<set name="userdata"><read file="&UserdataFileName;" process></set>

<set name="photonetrollid"><get index="userdata.personal.photonetrollid.Text"></set>

<!-- Work out the correct URL at Kodak -->
<set name="redirecturl">http://www.kodak.com/cgi-bin/pictureThis/photonetPics.cgi?url=http://kodak53.photonet.com/cgi-pv/images.pl/&photonetrollid;/&filename;&back=/web/cgi-bin/pictureThis/photonetPics.cgi&orderNumber=&photonetrollid;</set>

Transferring to Kodak...

<!-- Send the browser a refresh tag so it goes right there -->
<meta HTTP-EQUIV="Refresh" CONTENT="0; URL=&redirecturl;"></meta>

</body></html>
