<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:marko@crc.ricoh.com">
</head>
<body bgcolor="#FFFFFF">
<set name="UserID">&FORM.userid;</set>

<os-command>&usrDIR;/&agentName;/restart</os-command>

All photos erased... resetting screen in 5 seconds.

<meta HTTP-EQUIV="Refresh" CONTENT="5; URL=index.if?userid=&UserID;"></meta>


</body>
</html>