<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; edit group</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title> edit group <get form name=egroup></set>
<read interform file="heading.inc" process>
 
<tagset-load name=Form-agent-actors>

 <if> <get form name=egroup>
 <then>
 <set name=egroup> <get  form name=egroup></set>
 <form action="&url;" id="egroup1" method=post copy>
<input type=hidden name="egroup" value="&egroup;">
 <process copy>
 

<hr>

<if-in-group  group=admin><set name=allow> true </set> </if-in-group>
<if-in-group  group=&egroup;><set name=allow> true </set> </if-in-group>
 <if> <get name=allow> <then>
Processing group &egroup; edits:
   <!-- for efficiency rebuild group directly -->
    <set agent name=groups key=&egroup;><ul foreach
	 list=&AGENT.users.keys;>
          <if><get form name=&li;><then><li>&li;</li></then></if>
	  </ul>
	  </set>
    		    <read interform file=groups-save.inc process>
	  </then>
	   <else>
	  <h2>NOT Authorized</h2>
 <strong>Only admin or <get name=egroup> members may edit this group.</strong>
	  </else></if>
		    <br>
 </process>
 Group: <b>&egroup;<b> <br>

 Users: (Check to add to &egroup;, uncheck to remove)
  <set name=mylist><get agent name=groups key=&egroup;></set>
  <set name=mylist><get index=mylist.li.Text></set>	  
	  
	   <if> &mylist; <then></then> <else><set name=mylist> nobody</set></else></if>

  <ul foreach list=&AGENT.users.keys; entity=uid>
   <li> &uid;  <if>
	<is-in-list value=&uid;>&mylist;</is-in-list>
	 <then><input type="checkbox" name="&uid;" value=&uid; checked></then>
	<else><input type="checkbox" name="&uid;" value=&uid;></else>
	</if>
  </ul>
<br>
  <input type="SUBMIT" value="Submit">  

 </form>


 </then>
</if>



  
<hr>
<form action="&url;">
 Select a group to edit:
 <select name="egroup">
 <repeat list=&AGENT.groups.keys; entity=grp>  <option>&grp;</option></repeat>
 </select>
<input type="SUBMIT" value="Edit">
</form><br>

  <form action="&url;" method=post copy id="addgroup1">
Add Group:
   <process copy>
 <set agent name=groups key=&egroup;><ul> </ul></set>
  </process>
 <input name="egroup" size="40">
<input type="SUBMIT" value="Add">
</form>
<hr>
<form action="&url;" method=post copy id="delgroup1">
   <process copy>
   <set name=dgroup> <get form name=delgroup></set>
   <set agent name=groups key=&dgroup; delete></set>
    <read interform file=groups-save.inc process>
  </process>
 Delete group:
  
 <select name="delgroup">
   <option><get name=egroup></option>
 <repeat list=&AGENT.groups.keys;> <option>&li;</option></repeat>
 </select>
<input type="SUBMIT" value="DELETE GROUP">
</form>

<hr>
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
