<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; edit forms</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title> edit forms</set>
<read interform file="heading.inc" process>
 
<tagset-load name=Form-agent-actors>
<if-in-group group=admin>
 <if> <get form name=form> <then>
<set name=form><get form name=form></set>
<set name=pname>&form;.form</set>
<form action="&url;" method=post process copy>
 <process copy>
 <file name=&pname; dst=&pname;.bak rename base=&usrDIR;/Agents/&agentName;/&form;/></file>
 <write file=&usrDIR;/Agents/&agentName;/&form;/&pname;><get form
 name=content></write>
 <a href="/&agentName;/fill_out_form.if?formtype=&form;">&form</a> updated.
</process>
<input name="form"  value=&form; type=hidden>
<h2> &form; Form</h2>
<textarea name="content" rows=40 cols=70>
<read file=&usrDIR;/Agents/&agentName;/&form;/&pname;>
</textarea>
<input type="SUBMIT" value="Apply Changes">
</form>

<p>
 <form action="edit_route.if">
<input type="SUBMIT" value="Edit Route">:
<input name="form" value=&FORM.form; type=hidden>
</form>
</then>
<else> Please <a href="edit_forms.if"> specify form to edit</a> </else>
</if>
</if-in-group>
<hr>
 
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
