<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Forms home page</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>List of Forms</set>
<read interform file="heading.inc" process>
<read process quiet interform file=tagset.inc>
<tagset-load name=Form-agent-actors>

<hr>

 <set name=uid><get trans name=AuthenticatedUser></set>
<form action="fill_out_form.if">
Choose a form 
<select name="formtype">
 <option>timecard</option>
 <repeat list=&AGENT.forms;>
  <option>&li;</option>
 </repeat>
</select> to
<input type="SUBMIT" value="Fill Out">:
or select from the lists below.
</form>

<h2>Note</h2>
This is just a demonstration of what types of forms might be included.

<h2>Payroll</h2>
<dl>
  <dt>   <a href="http://&piaHOST;:&piaPORT;/&agentName;/fill_out_form.if?formtype=timecard">Time card</a>
  <dd>  Regular ("exempt") employees should report any exceptions to normal
 working hours on the 15th (or previous workday) and the final workday of each
 month.
  <dt>  <a href="http://&piaHOST;:&piaPORT;/&agentName;/fill_out_form.if?formtype=vacation">Vacation</a>
  <dd>  Employees request for vacation  should be  approved by their manager.
</dl>

<hr>
Here are some <a href="http://&piaHOST;:&piaPORT;/&agentName;/form_creation.txt">instructions</a> for how to create new forms.<br>



<hr>
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
