<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title> initialization</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<hr>

<if><tagset-exists name=Form-agent-actors>
    <then>Re-reading:
    <else>Reading: 
</if> <code><a href="tagset.inc">tagset.inc</a></code>...

<read process quiet interform file=tagset.inc>

<br>
(USERs and groups should be in a database...)
<br>
Initializing users
<read process quiet interform file=users-init.inc>
<br>
 Initializing groups
<read process quiet interform file=groups-init.inc>

 Initializing List of Forms
 <set agent name=forms><read process quiet interform file="." directory match="^[^.]+$" ></set>


<br>
 Initializing  navigation bar
 <set agent name=navbar><center>
<a href="http://&piaHOST;:&piaPORT;/&agentName;/home.if"><img
src="/&agentName;/formsbutton.gif" alt="New Form"></a>
<a href="http://&piaHOST;:&piaPORT;/&agentName;/status.if"><img
src="/&agentName;/statusbutton.gif" alt="Forms Status"></a>
<a href="http://&piaHOST;:&piaPORT;/&agentName;/reports.if"><img
src="/&agentName;/reportsbutton.gif" alt="Reports"></a>
<a href="http://&piaHOST;:&piaPORT;/&agentName;/admin.if"><img
src="/&agentName;/adminbutton.gif" alt="Administration"></a>
<a href="/Forms/feedback/feedback.if"><img src="/&agentName;/feedbackbutton.gif"
alt=Feedback></a>
</center></set>


<hr>
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
