<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html>
<set name=title>Re-initialize data</set>
<head>
<title>&agentName;: &title;</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<read interform file="heading.inc" process>
<read interform file="subhead.inc" process>
<hr>

The &agentName; agent uses several data sets and tags for processing
forms. For efficiency these files are cached locally but are reread
(e.g. after modification) when this page is loaded. 

<hr>

<if><tagset-exists name=Form-agent-actors>
    <then>Re-reading:
    <else>Reading: 
</if> <code><a href="tagset.inc">tagset.inc</a></code>...

<read process quiet interform file=tagset.inc>

<br>
(USERs and groups should be in a database...)
<br>
Initializing users
<read process quiet interform file=users-init.inc>
<br>
 Initializing groups
<read process quiet interform file=groups-init.inc>

<em>done</em>

</body></html>
