<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Welcome</title>
</head>
<body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<tagset-load name=Kiosk-agent-actors>

<!-- put up the header at the top of the page -->

<table width="100%">
<set name="dkeys"><dummy><get name="departments" keys
agent></dummy></set>

<set name="items"><get name=dkeys size></set>
<repeat start=1 stop=&items; step=2 entity=k>
<set name="depta"><get index="dkeys.&k;"></set>
<set name="kk"><sum digits=0> 1 &k; </sum></set>
<set name="deptb"><get index="dkeys.&kk;"></set>
<tr><td align=right><dept-icon dept=&depta;></td><td align=left><show-department dept=&depta;> </td>
    <td align=right><dept-icon dept=&deptb;></td><td align=left><show-department dept=&deptb;> </td>
</tr>
</repeat>

</table>

</body>
</html>
