<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>MB3: Sample Form</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Sample Form</set>
<read interform file="heading.inc" process>
<read interform file="subhead.inc" process>
<hr>
<if>on<then><expand><get agent name=navbar></expand></if>

<form method=POST target="&url;" process copy>

<!-- You will need to edit this, possibly with another template... -->

  <table>
    <tr><th valign=top align=right>Text Input
	<td><input name=textInput value="sample text">
    <tr><th valign=top align=right>Text Area
	<td><textarea name=textInput> longer text goes here</textarea>

    <tr><th valign=top align=right><input type=submit>
  </table>

<process copy>

<!-- You will need to edit this, too. -->
<h4><a name="form">Form submitted:</a></h4>
<dl>
  <dt> Fields: 
  <dd> &tFieldNames;

  <repeat list="&FORM.KEYS;">
  <dt> &li;
  <dd> <protect-result markup><get form name="&li;"></protect-result>
  </repeat>
</dl>

</process>
</form>

<hr>
<if>on<then><expand><get agent name=navbar></expand></if>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
