<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>MB3: Daily Agenda</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
 <if> <get form name=day> <then> <set name=myday>&FORM.day;</set></then>
      <else><set name=myday>&day;</set></else></if>
 <if> <get form name=month> <then> <set name=mymonth>&FORM.month;</set></then>
      <else><set name=mymonth>&month;</set></else></if>
 <if> <get form name=year> <then> <set name=myyear>&FORM.year;</set></then>
      <else><set name=myyear>&year;</set></else></if>

<set entity name=title>Agenda &month;/&myday;/&year;</set>
<read interform file="heading.inc" process>
<read interform file="subhead.inc" process>
<tagset-load name=MB3-actors>
<hr>
<h3>Add event for MB3</h3>
<form method=POST action="&url;" process copy>

<process copy>

 
 <set name=dir>events&AGENT.fseparator;<get name=year form>&AGENT.fseparator;<get name=month form></set>
 <set name=file><get name=day form></set>
 <set name=file>&dir;&AGENT.fseparator;&file;</set>
 <set name=nextid><sum digits=0><get agent name=idcounter> 1 </sum></set>
 <set name=idcounter agent>&nextid;</set>
 <write file=eventcount.dat>&nextid;</write>

 <set name=event>
 <event id=&nextid;>
 <eventtitle><get name=title form></eventtitle>
 <eventfile><get name=file></eventfile>
 <date> <month><get form name=month></month>
 <year><get form name=year></year>
 <day><get form name=day></day>
 </date>
 <eventstart><get name=start form></eventstart>
 <eventdescription><get name=desc form> </eventdescription>
 <eventlinks><ol> </ol></eventlinks>
 <eventauthor><get name=author form></eventauthor>
 </event>
 </set>

 <write file=&file; append><get name=event></write>
 
 <if> <get name=calendars agent key=&FORM.month;&FORM.year;> <then>
 <set name=calendar><get name=calendars agent key=&FORM.month;&FORM.year;></set>
 <calendar-insert calendar=&calendar; day=&event.date.day.text;>
  <view-event-link event=&event;>
 </calendar-insert>
 </then> </if>

Added event  <view-event-link event=&event;>
(click title to view/modify event), click <view-day-link day=&myday;
month=&mymonth; year=&myyear;>here</view-day-link> to
view updated events for &mymonth;/&myday;/&myyear;.
<hr>
</process>
<if> <get name=event> <else>
 <!-- default values -->
<set name=event>
<event>
<eventtitle> Event Title</eventtitle>
<date> <month><if><get form name=month><then><get form
       name=month></then><else>&month;</else></if></month>
 <year><if><get form name=year><then><get form
       name=year></then><else>&year;</else></if></year>
 <day><if><get form name=day><then><get form
       name=day></then><else>&day;</else></if></day>
</date>
<eventstart>&time;</eventstart>
<eventdescription></eventdescription>
<eventlinks><ol> </ol></eventlinks>
<eventauthor> </eventauthor>
</event>
 </set>
 </else> </if>

  <table>
   <tr><th valign=top align=left> Day
        <td><select name="day">
            <option> <get index=event.date.day.text></option>
            <repeat list="01 02 03 04 05 06 07 08 09 10 11 12 13 14 15
		    16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31">
            <option>&li; </option></repeat></select>
    <tr><th valign=top align=left> Month
        <td><select name="month">
            <option><get index=event.date.month.text></option>
            <repeat list="01 02 03 04 05 06 07 08 09 10 11 12 13 14 15
		    16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31">
            <option>&li; </option></repeat></select>
<tr>    <th valign=top align=left> Year
        <td><select name="year">
            <option><get index=event.date.year.text></option>
            <repeat list="1997 1998 1999 2000 2001">
            <option>&li; </option></repeat></select>
<tr>    <th valign=top align=left> Start time
        <td><select name="start">
            <option><get index=event.eventstart.text></option>
            <repeat list="8:00 8:30 9:00 9:30 10:00 10:30 11:00 11:30 12:00
            12:30 1:00 1:30 2:00 2:30 3:00 3:30 4:00 4:30 5:00 5:30">
           <option>&li; </option></repeat></select>
<tr>    <th valign=top align=left> Title
	<td><input name=title value="&event.eventtitle.text;" size=12>
<tr>    <th valign=top align=left> Host/Presenter
	<td><input name=author value="&event.eventauthor.text;" size=12>
<tr>    <th valign=top align=left> Description
	<td><textarea name=desc><get index=event.eventdescription.text></textarea>
<tr>
    <tr><th><th valign=top align=left><input type=submit value="AddEvent">
  </table>
</form>




<hr>
<if>on<then><expand><get agent name=navbar></expand></if>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
