<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>MB3: Event</title>
<set name=sep>&</set>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<tagset-load name=MB3-actors>
 <if> <get form name=eid> <then>
      <set name=event><retrieve-event id=&FORM.eid; file=&FORM.file;> </set>
      </then>
      <else><b> Error, no event specified</b></else></if>
<set entity name=title><get index=event.eventtitle></set>
<read interform file="heading.inc" process>
<!-- read interform file="subhead.inc" process -->
<!-- set query separator -->
<set name=sep>&</set>


<if> <get index=event.slides>  <then>
 <if> <get name=slide form> <then> <set name=slidenum>&FORM.slide;</set></then> <else><set name=slidenum>0</set></else> </if>
<set name=nextslide><sum digits=0> &slidenum; 1 </sum></set>
<set name=prevslide><difference digits=0> &slidenum; 1 </difference></set>

<br>
<a name="slide">
<set name=fsize>2</set><set name=fface>times</set>
<set name=slidebar><table align=center width=100% border=1>
<tr><th align=left><font face=&fface; size=&fsize;>
<a href=add_slide.if?file=&FORM.file;&sep;eid=&FORM.eid;>Slides:</a></font></th>
<td><font face=&fface; size=&fsize;><a href=view_event.if?file=&FORM.file;&sep;eid=&FORM.eid>Top</a></font></td>
 <td align=center><if><test positive> <get name=prevslide> </test>
  <then><font face=&fface; size=&fsize;><a
   href=view_event.if?file=&FORM.file;&sep;eid=&FORM.eid;&sep;slide=&prevslide;#slide>Prev</a></font></then> </if></td>

  <repeat list=&event.slides; entity=slide>
   <set name=snum><get name=slide attr=number></set>
   <if><test match=&slidenum; exact><get name=snum></test> <then> <set
   name=myslide>&slide;</set><td align=center><strong>&snum;</strong></td></then> <else><td align=center><font face=&fface; size=&fsize;><a
   href=view_event.if?file=&FORM.file;&sep;eid=&FORM.eid;&sep;slide=&snum;#slide>&snum;</a></font></td> </else> </if>
  </repeat>

<td align=left>
<if><test negative> <difference> &snum; <get name=nextslide></difference> </test>
  <else><font face=&fface; size=&fsize;><a
   href=view_event.if?file=&FORM.file;&sep;eid=&FORM.eid;&sep;slide=&nextslide;#slide>Next</a><font></else> </if></td>

</tr>
</table></set>
 <get name=slidebar>
 </then></if>

<if> <get name=myslide> <then>

 <get name=myslide>

<br>
<p>
 <get name=slidebar>
<p>
 </then> <else>
 <center>
 <h2><a href=view_event.if?file=&FORM.file;&sep;eid=&FORM.eid;&sep;slide=1#slide><get index=event.eventtitle></a></h2> <br>
 Presented by: <strong><get index=event.eventauthor></strong><br>
 on:  <get index=event.date.month> <get index=event.date.day> <get index=event.date.year><br>
 <strong><get index=event.eventdescription></strong>
 </center>
 <hr>
 <p>
 

  <a href=add_slide.if?file=&FORM.file;&sep;eid=&FORM.eid;> Add slide </a>

 </else></if>

<p>
<p>

<!-- update URL if any -->
 <if> <get name=newurl form> <then>
 <set index=event.eventlinks.ol insert=-1><li>
      <a href=&FORM.newurl;> 
       <if> <get form name=desc>
       <then><get form name=desc></then>
       <else><get name=newurl form></else> </if>
      </a>
     </li>
 </set>
 <set name=saveflag>true</set>
 </then> </if>

 <!-- update local links if any -->
 <if> <get name=newfile form> <then>
       <if> <get index=event.eventlocallinks><then>
       <set name=event insert=-1><eventlocallinks><ul> </ul></eventlocallinks></set>
       </then> </if>
 <set index=event.eventlocallinks.ul insert=-1><li>
      <a href=&FORM.newfile;> 
       <if> <get form name=desc>
       <then><get form name=desc></then>
       <else><get name=newfile form></else> </if>
      </a>
     </li>
 </set>
 <set name=saveflag>true</set>
 </then> </if>

 <if> <get name=saveflag> <then><save-event event=&event;></then>  </if>
      
 <!-- main presentation links -->

      <table align=center>
      <caption>References </caption>
<tr><th>Web Pages </th> <th> <a href=view_event_help.if>Local files </a> </th>
       <if><agent-running name=History> <then><th> <a href=view_event_help.if>History </a> </th></then> </if> </tr>
<tr> <td> <get index=event.eventlinks> </td>
      <td> <get index=event.eventlocallinks></td>
       <if><agent-running name=History> <then><td><a
      href=/~History/&event.date.year.Text;/&event.date.month.Text;/&event.date.day.Text;>Visited Pages </a></td></then> </if>
      </tr>
<tr><td>
      <form method=POST action="&url;">
      
      <input name="eid"  value="&FORM.eid;"  type=hidden>
      <input name="file"  value="&FORM.file;"  type=hidden>
      <input type=submit value="AddURL:">
      <input name=newurl value="http://" size=40><br>
      Description: <input name=desc  size=30>
      </form>
      </td>
      <td><form method=POST action="&url;">
      
      <input name="eid"  value="&FORM.eid;"  type=hidden>
      <input name="file"  value="&FORM.file;"  type=hidden>
      <input type=submit value="AddFILE:">
      <input name=newfile value="file://&AGENT.shareDIR;" size=40><br>
      Description: <input name=desc  size=30>
      </form> </td>

     
      </tr>
 </table>
      


<hr>
      <a
      href="bundle_presentation.if?eid=&FORM.eid;&sep;file=&FORM.file;">Full
      presentation (for printing)
      </a>||<if>on<then><expand><get agent name=navbar></expand></if>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
