<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>|dName|: Sample Form</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Sample Form</set>
<read interform file="heading.inc" process>
<read interform file="subhead.inc" process>
<hr>
<if>|dNavBar|<then><expand><get agent name=navbar></expand></if>

<form method=POST action="&url;" process copy>

<!-- You will need to edit this, possibly with another template... -->
<!-- See tagset.inc and form.if in the Template agent for an alternative
     way of handling forms, using tags that do more of the work for you. -->

  <table>
    <tr><th valign=top align=right>Text Input
	<td><input name=textInput size=50 value="sample text">
    <tr><th valign=top align=right>Text Area
	<td><textarea name=textArea rows=5 cols=50> longer text goes here
	    </textarea>
    <tr><th valign=top align=right>Checkbox
	<td><input type=checkbox name=checkbox checked>

    <tr><th valign=top align=right><input type=submit>
  </table>

<process copy>
<set name=fieldNames><get index="FORM.KEYS"></set>
<!-- You will need to edit this, too. -->
<h4><a name="form">Form submitted:</a></h4>
<dl>
  <dt> Fields: 
  <dd> <repeat list="&fieldNames;">&li; </repeat>
  <dt> Values:
  <dd>
       <dl>
    	 <repeat list="&fieldNames;">
	 <dt> &li;
	 <dd> <protect-result markup><get form name="&li;"></protect-result>
	 </repeat>
       </dl>
</dl>

</process>
</form>

<hr>
<if>|dNavBar|<then><expand><get agent name=navbar></expand></if>
<b>|dCopyright|</b><br>
<b>$Id$</b><br>
</body></html>
