<!doctype html system "html.dtd">
<html><head>
<title>buglog</title>
<link rev="made" href="mailto:steve@crc.ricoh.com"></link>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<agent-set-criterion name="response" value=0>
<agent-set-criterion name="agent_response" value=0>

<set entity name=recep>rithy@crc.ricoh.com</set>

<set entity name=firstname><get form name=firstname></set>
<set entity name=lastname><get form name=lastname></set>
<set entity name=company><get form name=company></set>
<set entity name=title><get form name=title></set>
<set entity name=addr><get form name=addr></set>
<set entity name=city><get form name=city></set>
<set entity name=state><get form name=state></set>
<set entity name=zip><get form name=zip></set>
<set entity name=url><get form name=url></set>
<set entity name=email><get form name=email></set>
<set entity name=PhoneArea><get form name=PhoneArea></set>
<set entity name=PhoneExch><get form name=PhoneExch></set>
<set entity name=Phone><get form name=Phone></set>
<set entity name=FaxArea><get form name=>FaxArea</set>
<set entity name=FaxExch><get form name=FaxExch></set>
<set entity name=Fax><get form name=Fax></set>

<set name=result><read method=post href="http://&piaHOST:&piaPORT/Buss/Validate.if" query="?firstname=&firstname;?lastname=&lastname;" process></set>

<if><test exact match=''>&result;</test>
   <then>
      <ol foreach list="a b c d e f g h i j k l m n o p q r s t u v x y z">
      <write directory file="&li;"></write>
      <if><test match="^&li;">&lastname;</test>
      <then>
           <set entity name=basefilename>&hour&minute&second;</set>
	   <set entity name=filename>&hour&minute&second;.html</set>
	   <write append trim line file="&li;/&filename;">
	   <dl>
	      <dt>firstname<dd>&firstname;
	      <dt>lastname<dd>&lastname;
     	      <dt>company<dd>&company;
     	      <dt>title<dd>&title;
     	      <dt>addr<dd>&addr;
     	      <dt>city<dd>&city;
     	      <dt>state<dd>&state;
     	      <dt>zip<dd>&zip;
     	      <dt>url<dd>&url;
     	      <dt>email<dd>&email;
     	      <dt>PhoneArea<dd>&PhoneArea;
     	      <dt>PhoneExch<dd>&PhoneExch;
     	      <dt>Phone<dd>&Phone;
     	      <dt>FaxArea<dd>&FaxArea;
     	      <dt>FaxExch<dd>&FaxExch;
     	      <dt>Fax<dd>&Fax;
          </dl>
          </write>

     <write trim line file="&usrDIR;/Buss/lastcard.html">
     <table border=1 caption="Last card">
        <tr><td> <a href="http://&piaHOST:&piaPORT/Buss/Getcard.if?filename=&li;/&basefilename;"><font size=3 face=times>Last card</font></a>
        <tr><td> <font size=3 face=times>&firstname; &lastname;<br>
	         &company; <br>
		 &title; <br>
		 &addr;<br>
		 &city;,&state; &zip;<br> 		 
		 <a href=&url;>&url;</a><br>
		 &email;<br>
		 phone:&PhoneArea;-&PhoneExch;-&Phone;<br>
		 fax:&FaxArea;-&FaxExch;-&Fax; </font>
        <tr><td> <form method=GET action="http://maps.yahoo.com/yahoo/yt.hm">
	         <input type="hidden" name="FAM" value="yahoo">
                 <input type="hidden" name="CMD" value="GEO">
		 <input type="hidden" name="SEC" value="geo">
		 <input type="hidden" name="AD2" value=&addr;>
		 <input type="hidden" name="AD3" value=&city;>
		 <input type="hidden" name=""    value="2C+&state;+&zip;">
		 <input type="image" src="images/map.gif" name="submit" alt="Map">
		 </form>
     </table>
     </write>

     <write append trim line file="&li;/index.html">
     <A fname=&firstname; lname=&lastname; dir=&li; filename=&basefilename; HREF="http://&piaHOST:&piaPORT/Buss/Getcard.if?filename=&li;/&basefilename;">&firstname; &lastname;</A><BR>
     </write>
</then>
</if>
</ol>

<!-- read.href href="http://&piaHOST:&piaPORT/Buss/Card.if" process -->
Your card has been added


   </then>
   <else>
      Please enter the following fields:<br>
      &result;
   </else>
</if>

<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
<address><a href="http://www.crc.ricoh.com/people/steve/steve.html"
         >Stephen R. Savitzky</a> &lt;<a href="mailto:steve@crc.ricoh.com"
         >steve@crc.ricoh.com</a>&gt;</address>
</body></html>





