<set name=filename>&FORM.filename;</set>

<set name=rec><read file=&filename;.html process></set>
<set entity name=firstname><get index="rec" key="firstname"></set>
<set entity name=lastname><get index="rec" key="lastname"></set>
<set entity name=company><get index="rec" key=company></set>
<set entity name=title><get index="rec" key=title></set>
<set entity name=addr><get index="rec" key=addr></set>
<set entity name=city><get index="rec" key=city></set>
<set entity name=state><get index="rec" key=state></set>
<set entity name=zip><get index="rec" key=zip></set>
<set entity name=url><get index="rec" key=url></set>
<set entity name=email><get index="rec" key=email></set>
<set entity name=PhoneArea><get index="rec" key=PhoneArea></set>
<set entity name=PhoneExch><get index="rec" key=PhoneExch></set>
<set entity name=Phone><get index="rec" key=Phone></set>
<set entity name=FaxArea><get index="rec" key=FaxArea></set>
<set entity name=FaxExch><get index="rec" key=FaxExch></set>
<set entity name=Fax><get index="rec" key=Fax></set>

<table border=1>
        <tr><td> <font size=3 face=times>&firstname; &lastname;<br>
	         &company; <br>
		 &title; <br>
		 &addr;<br>
		 &city;,&state; &zip;<br> 		 
		 <a href=&url;>&url;</a><br>
		 &email;<br>
		 phone:&PhoneArea;-&PhoneExch;-&Phone;<br>
		 fax:&FaxArea;-&FaxExch;-&Fax; </font>
	<tr><td> <form method=GET action="http://maps.yahoo.com/yahoo/yt.hm">
	         <input type="hidden" name="FAM" value="yahoo">
                 <input type="hidden" name="CMD" value="GEO">
		 <input type="hidden" name="SEC" value="geo">
		 <input type="hidden" name="AD2" value=&addr;>
		 <input type="hidden" name="AD3" value=&city;>
		 <input type="hidden" name=""    value="2C+&state;+&zip;">
		 <input type="image" src="images/map.gif" name="submit" alt="Map">
		 </form>
</table>
<hr>

<table>
<tr><th><td valign=top><form method=POST action="/Buss/Delete.if">
	<input type=hidden name="filename" value="&filename;">
	<input type="submit" value="Delete">
 </form>
<td><form action="http://&piaHOST:&piaPORT/Buss/Update.if" method=post>
 <input type="submit" value="Update"><br>
 <input type=hidden name="filename" value="&filename;">
 First name <input name="firstname" size=15 MAXLENGTH="15" value="&firstname;">
 Last name <input name="lastname" size=20 MAXLENGTH="20" value="&lastname;"><br>

 Company name <input type="text" name="company" size=35 MAXLENGTH="35" value="&company;">
 Title <input type="text" name="title" size=20 MAXLENGTH="20" value="&title;">
 Street Address <input type="text" name="addr" size=35 MAXLENGTH="35" value="&addr;"><br>

 City <input type="text" name="city" size="22" MAXLENGTH="22" value="&city;">
 State <input type="text" name="state" size="2" MAXLENGTH="2" value="&state;">
 Zip  <input type="text" name="zip" size="9" MAXLENGTH="9" value="&zip;"><br>

 Internet:
 <input type="text" name="url" size="50" MAXLENGTH="100" value="&url;"><br>

 E-Mail Address:
 <input type="text" name="email" size="50" MAXLENGTH="100" value="&email;"><br>

 Business Telephone (<input type="text" name="PhoneArea" size="3" MAXLENGTH="3" value="&PhoneArea;">)
 <input type="text" name="PhoneExch" size="3" MAXLENGTH="3" value="&PhoneExch;">-<input type="text" name="Phone" size="4" MAXLENGTH="4" value="&Phone;"><br>
 Business Fax (<input type="text" name="FaxArea" size="3" MAXLENGTH="3" value="&FaxArea;">)
 <input type="text" name="FaxExch" size="3" MAXLENGTH="3" value="&FaxExch;">-<input type="text" name="Fax" size="4" MAXLENGTH="4" value="&Fax;"><br>
</form>
</table>




