<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>InterForm Actors</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<h1>List of Defined InterForm Actors</h1>


<set entity name=title>Programming Information: <br>Actor List</set>
<read interform file="heading.inc" process>

<set entity name=IFman>/PIA/Doc/Manuals/InterForm/index.html</set>
<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="file:&filePath;">&filePath;</a><br>
<b>See Also:</b> <a href="&IFman;">PIA InterForm
Manual</a>, <a href="/InterForm">InterForm Demo Agent</a>
       <if><agent-running name="InterForm"><then></then>
       <else><a href="/Agency/installers#InterForm"><em>install
       needed!</em></a></else></if>
<hr>
<dl>
  <dt> <b>Note:</b>
  <dd> This page lists the active tags defined by the <strong>old</strong>,
       obsolete InterForm interpretor.  See the <a
       href="/PIA/Doc/Manuals/InterForm/index.html">InterForm manual</a> for
       documentation on the new tagset.
</dl>
<hr>

<set name=actorNames><actor-names></set>
<dl foreach list="&actorNames;">
  <dt> <strong><a href="&IFman;#&li;">&li;</a></strong>
       <actor-attrs name="&li;">&gt;
  <dd> <if><actor-dscr name="&li;"><then>
       <dl>
	 <dt> <b>Syntax:</b>
	 <dd> <add-markup><actor-syntax name="&li;"></add-markup>
	 <dt> <b>Description:</b>
	 <dd> <add-markup><actor-dscr name="&li;"></add-markup>
       </dl>
       </then>
       <else> (HTML tag) </if>
</dl>
<hr>

<a href="/Agency">Agency home page</a>
<b>URL:</b>
&lt;<a href="http://&piaHOST;:&piaPORT;/">http://&piaHOST;:&piaPORT;/</a>&gt;
<b>User:</b> &piaUSER;


<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
</body></html>
