<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>InterForm Actors</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff">
<h1>List of Defined InterForm Actors</h1>

<set entity name=IFman>/PIA/Doc/Manuals/InterForm/index.html</set>
<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="file:&filePath;">&filePath;</a><br>
<b>See Also:</b> <a href="&IFman;">PIA InterForm
Manual</a>, <a href="/InterForm">InterForm Demo Agent</a>
       <if><agent-running name="InterForm"><then></then>
       <else><a href="/Agency/installers.if#InterForm"><em>install
       needed!</em></a></else></if>
<hr>
 
<dl foreach list="&actorNames;">
  <dt> &lt;<strong><a href="&IFman;#&li;">&li;</a></strong><actor-attrs name="&li;">&gt;
  <dd> <add-markup><actor-dscr name="&li;"></add-markup>
</dl>

<hr>

<a href="/Agency">Agency home page</a>
<b>URL:</b>
&lt;<a href="http://&piaHOST;:&piaPORT;/">http://&piaHOST;:&piaPORT;/</a>&gt;
<b>User:</b> &piaUSER;


<hr>

<b>$Id$</b><br>
<!-- hhmts start -->
Last modified: Wed Mar 12 10:53:40 1997
<!-- hhmts end -->
<p>
<address><a href="http://www.crc.ricoh.com/people/steve/steve.html"
         >Stephen R. Savitzky</a> &lt;<a href="mailto:steve@crc.ricoh.com"
         >steve@crc.ricoh.com</a>&gt;</address>
</body></html>
