<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Agent Index</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Agent Index</set>
<read file="heading.inc" process interform>

<pre><i><pad align=right width=15>Index</pad>	Home</i>
<repeat list="&agentNames;"
       ><pad spaces width=15>&li;/</pad><a href="/&li;/"><b>&li;/</b></a
       >	<agent-home link name="&li;">
</repeat></pre>

<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="file:&filePath;">&filePath;</a>
<hr>
<a href="/">PIA</a> || <a href="/Agency">Agency</a>:
<a href="&agentName;/">index</a>
<a href="&agentName;/options.if">options</a>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b>
</body></html>
