<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Toggle debugging</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1>debugging status</h1>

<if><test zero><get pia name="main::debugging"></test>
    <then><set pia name="main::debugging">1</set></then>
    <else><set pia name="main::debugging">0</set></else>
</if>
<code>main::debugging</code> = <get pia name="main::debugging">

<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
</body></html>
