<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Entities</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff">
<h1>List of Defined Entities</h1>

<set entity name=IFman>/PIA/Doc/Manuals/InterForm/index.html</set>
<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="file:&filePath;">&filePath;</a><br>
<b>See Also:</b> <a href="&IFman;">PIA InterForm
Manual</a>, <a href="/InterForm">InterForm Demo Agent</a>
       <if><agent-running name="InterForm"><then></then>
       <else><a href="/Agency/installers.if#PIA"><em>install
       needed!</em></a></else></if>
<hr>
 
<pre><i>Name		Value</i>
<repeat list="&entityNames;"> <b><pad width=8>&li;:</pad></b><!--
    			-->	<get entity name="&li;">
</repeat></pre>

<hr>

<a href="/Agency">Agency home page</a>
<b>URL:</b> http://&piaHOST;:&piaPORT;
<b>User:</b> &piaUSER;<br>


<hr>

<b>$Id$</b><br>
<!-- hhmts start -->
Last modified: Wed Mar 12 10:41:33 1997
<!-- hhmts end -->
<p>
<address><a href="http://www.crc.ricoh.com/people/steve/steve.html"
         >Stephen R. Savitzky</a> &lt;<a href="mailto:steve@crc.ricoh.com"
         >steve@crc.ricoh.com</a>&gt;</address>
</body></html>
