<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; Index</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>&agentName; agent <br>Index Page</set>
<read interform file="heading.inc" process>
<table cellspacing=0 cellpadding=0>
<tr><th width=170><td>
    <table cellspacing=0 cellpadding=0>
    <tr><th width=170><td><br>
    <tr><th align=right><a href="home.if">&agentName;</a>:<td>Index Page
    <tr><th align=right><td> <a href="home.if">Home Page</a>
    <tr><th><td> <a href="options.if">Options</a> /
  	<a href="/Agency/checkpoint.if">checkpoint</a> /
	<a href="/Agency/restore.if">restore</a> state
    <tr><th><td> <a href="/PIA/Agents/&agentName;/">InterForms</a>
    <tr><th><td> <a href="/My/Agents/&agentName;/">Customized InterForms</a>
    <tr>
        <th valign=top align=right><b>Agents:</b>
        <td valign=top> <repeat list="&agentNames;" entity="foo">
          <a href="/&foo;">&foo;</a> <a href="/&foo;/"><b> / </b></a>
       </repeat><br>
  </table>
</table>
<pre><i><pad align=right width=15>Index</pad>	Home</i>
<repeat list="&agentNames;"
       ><pad spaces width=15>&li;/</pad><a href="/&li;/"><b>&li;/</b></a
       >	<agent-home link name="&li;">
</repeat></pre>

<dl>
  <dt> Note:
  <dd> This page does not have an option for removing the
       <a href="home.if">&agentName;</a> agent.  It is required for the proper
       functioning of this appliance.
</dl>
<hr>
<a href="/">PIA</a> || <a href="/Agency">Agency</a> ||
<a href="/&agentName;/home.if">&agentName;</a>:
<a href="&agentName;/">index</a>
<a href="&agentName;/options.if">options</a>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>

