<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Initialize Agency</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1>The Agency Initialization InterForm</h1>


<user-message>Initializing &agentName; from &filePath;</user-message>
<if><read.file interform file="checkpoint.dat" info>
    <then>
	<user-message>Restoring from checkpoint.dat</user-message>
	<if><agent-restore interform file=checkpoint.dat>
	    <then>restored from <code>checkpoint.dat</code>.</then>
            <else><user-message>Restore failed.  Loading <read interform 
		  info=path file="/Agency/START-UP.html"></user-message>
		  <actor name=form tag=form handle="submit_forms"></actor>
		  <read file="/Agency/START-UP.html" interform process skip>
	    </else></if>
    </then>
    <else>
	<set agent name=do-not-remove>true</set>
	<user-message>Loading startup file <read interform info=path
		file="/Agency/START-UP.html"></user-message> 
	<!-- Define an actor to handle forms -->
	<actor name=form tag=form handle="submit_forms"></actor>
	<read file="/Agency/START-UP.html" interform process skip>

    </else>
</if>
<hr>
This form gets requested by the agency at start-up.  It looks for a <a
href=START-UP.html>START-UP.html</a> file and submits each of the forms
found in that file in turn.
<p>

It is also possible to override <em>this</em> file with your own version, in
(<code>/My/Agents/Agency/initialize.if</code>) and put arbitrary InterForm
code into it.

<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
