<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Install Agent</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<h1>Install Agent form handler</h1>
<blockquote><em>
  (heading simplified to save time during startup)
</em></blockquote>

This is only used by legacy InterForms; you should be using
<a href="install_agent.xh">install_agent.xh</a> instead.  Your form action
should be <code>action="/Agency/install_agent"</code>.
<p>
<hr>
<set entity name="name"><if><get name=urlQuery>
    <then><agent-install>&urlQuery;</agent-install></then></if></set>

<if><get entity name="name">
<then>
  <set entity name=type><get form name=type></set>
  <h2>&name; installed:</h2> <p>
  <table cellspacing=0 cellpadding=0>
  <tr><th width=340><td><br>
  <tr><th align=right>&name;:
  <tr><th width=340><td> <a href="/&name;">home page</a>
  <tr><th width=340><td> <a href="/&name;/">index</a>
  <if><test not exact match="&name;">&type;</test>
    <then>
    <tr><th width=340><td> <a href="/&type;">/&type;</a> (type agent)
    <tr><th width=340><td> <a href="/&type;/&name;">/&type;/&name;</a>
    </then>
  </if>
  <tr><th width=340><td> <a href="/&name;/options">options</a>
  <tr><th width=340><td> <form action="/Agency/remove_agent" method="POST">
	 <input name="agent" value="&name;" type=hidden>
	 <input type="submit" value="Remove &name;">
	 </form>
  </ul>
  </table>
  <hr>
  Query string: <code>&urlQuery;</code>

</then>
<else>
You should be using <a href="install_agent.xh">install_agent.xh</a> instead.

</else>
</if>

<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
