<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Agent Installers</title>
<link rev="made" href="mailto:steve@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>Agent Installers</set>
<read interform file="heading.inc" process>

<table cellspacing=0 cellpadding=0>
<tr><th width=340><td><br>
<tr><th align=right>&agentName;:
	<td> Install / <a href="/Agency/remove_agent">remove</a> agents
<tr><th><td> <a href="home">Home Page</a>
<tr><th><td> <a href="/PIA/Agents/&agentName;/">InterForms</a>
	     (<a href="/My/Agents/&agentName;/">Customized</a>)
</table>

<hr>
 
An agent is represented in the information agency by a persistent software
object.  In order for the agency to know about an Agent and direct
requests like <code> http://localhost:8888/Agent/home </code> to an
<code>Agent</code>, the agent must be "installed" which creates the
corresponding software object.  When the Agency is started, it looks in the Agency's
<code> <a href=START-UP.html>START-UP.html </a> </code> and installs any
       agents found there.  (Like all agent files, the original file found in
       the agents directory, in this case
       &piaDIR;/Agents/Agency/ can be overridden by local files in
       &usrDIR;/Agents/Agency/.)
Other agents can be installed using this form which contains ``canned''
install forms for various agents.  You can paste sections out of
this file into your own <code> START-UP.html </code> file.  When you design a
new agent, you can
add a default install form to this page. (Alternatively, the bottom section
of this page automatically discovers and creates an install form for any <a
href="#local">local</a> agents found in your user directory, &usrDIR;/Agents/.) <p>

There is also a <a href="install_agent">generic agent installation form</a>
which allows you to type in the name an type of an agent directly.

<h3>Contents:</h3>

<ul>
  <li> <a href="#agents">Agents</a>
  <li> <a href="#DOFS">Document-Oriented File Systems</a>
  <li> <a href="#app">Appliances</a>
  <li> <a href="#exp">Experimental</a>
  <li> <a href="#local">Local</a>
</ul>

<hr>
<h3><a name="agents">Agents</a></h3>
<dl> 
  <dt> <a name="History">History agent</a>
       <if><agent-running name=History><then><em>installed</em></then><else>
  <dd> <form action="/Agency/install_agent" method="POST">
       <input type="submit" value="Install">
       name: <input name="agent" value="History">
       </form></if>
  <dt> <a name="Spy">Spy agent</a>
       <if><agent-running name=Spy><then><em>installed</em></then><else>
  <dd> <form action="/Agency/install_agent" method="POST">
       <input type="submit" value="Install">
       name: <input name="agent" value="Spy">
       </form></if>
  <dt> <a name="CIA">CIA agent</a>
       <if><agent-running name=cia><then><em>installed</em></then><else>
  <dd> <form action="/Agency/install_agent" method="POST">
       <input type="submit" value="Install">
       name: <input name="agent" value="cia">
       type: <input name="type" value="Spy">
       </form></if>
  <dt> <a name="FBI">FBI agent</a>
       <if><agent-running name=fbi><then><em>installed</em></then><else>
  <dd> <form action="/Agency/install_agent" METHOD="POST">
       <input type="submit" value="Install">
       name: <input name="agent" value="fbi">
       type: <input name="type" value="Spy">
       </form></if>
  <dt> <a name="logo">Logo agent</a>
       <if><agent-running name=Logo><then><em>installed</em></then><else>
  <dd> <form action="/Agency/install_agent" METHOD="POST">
       <input type="submit" value="Install">
       name: <INPUT NAME="agent" value="Logo">
       </form></if>
  <dt> <a name="Cache">Cache agent</a> (keeps a copy of every external doc...)
       <if><agent-running name=Cache><then><em>installed</em></then><else>
  <dd> <form action="/Agency/install_agent" method="POST">
       <input type="submit" value="Install">
       name:<input name="agent" value="Cache"><br>
       (could add more options here, like update frequency: always, never,
       once,...) 
       </form> </if>

  <dt> <a name="InterForm">InterForm Demonstration and Test agent</a>
       <if><agent-running name="InterForm"><then><em>installed</em></then><else>
  <dd> <FORM ACTION="/Agency/install_agent" METHOD="POST">
       <input type="submit" value="Install">
       name: <input name="agent" value="InterForm">
       </form></if>

</dl>

<hr>
<h3><a name="DOFS">Document-Oriented File Systems</a></h3>

<dl>
  <dt> <a name="dofs">the DOFS agent</a>
  <dd> <if><agent-running name=DOFS>
       <then><em>is already running, as it should be.</em></then>
       <else> Really needs to be running, or lots of things won't work.
       <form action="/Agency/install_agent" method="POST">
       <input type="submit" value="Install NOW!">
       name:<input name="agent" value="DOFS">
       </form></if><p>

  <dt> <a name="My">DOFS/My</a>
       <if><agent-running name=My><then><em>installed</em></then>
       <else>
  <dd> <form action="/Agency/install_agent" method="POST">
       name:<input name="agent" value="My">
       type:<input name="type" value="DOFS"><br>
       root:<input name="root" value="&usrDIR;">
       <input type="submit" value="Install">
       </form></if>
  <dt> <a name="PIA">DOFS/PIA</a>
       <if><agent-running name=PIA><then><em>installed</em></then>
       <else>
  <dd> <form action="/Agency/install_agent" method="POST">
       name:<input name="agent" value="PIA">
       type:<input name="type" value="DOFS"><br>
       root:<input name="root" value="~/pia">
       <input type="submit" value="Install">
       </form></if>
  <dt> <a name="Root">DOFS/Root</a>
       <if><agent-running name=Root><then><em>installed</em></then>
       <else>
  <dd> <form action="/Agency/install_agent" method="POST">
       name:<input name="agent" value="Root">
       type:<input name="type" value="DOFS"><br>
       root:<input name="root" value="/">
       <input type="submit" value="Install">
       </form></if>
  <dt> <a name="Home">DOFS/Home</a>
       <if><agent-running name=Home><then><em>installed</em></then>
       <else>
  <dd> <form action="/Agency/install_agent" method="POST">
       name:<input name="agent" value="Home">
       type:<input name="type" value="DOFS"><br>
       root:<input name="root" value="~/">
       <input type="submit" value="Install">
       </form></if>
  <dt> Generic DOFS form:
  <dd> <form action="/Agency/install_agent" method="POST">
       name:<input name="agent" value="Name">
       type:<input name="type" value="DOFS"><br>
       root:<input name="root" value="/complete/path/">
       <input type="submit" value="Install">
       </form></if>

</dl>

<hr>
<h3><a name="app">Appliances</a></h3>

<dl>
  <dt> <a name="Photo_Album">Photo Album</a>
       <if><agent-running name="Photo_Album"><then><em>installed</em></then>
       <else>
  <dd> <form action="/Agency/install_agent" method="POST">
       name:<input name="agent" value="Photo_Album"><br>
       <br>
       <input type="submit" value="Install"><br>
       </form></if>
  <dt> <a name="PhotoNet">Photo Net</a>
       <if><agent-running name="PhotoNet"><then><em>installed</em></then>
       <else>
  <dd> <form action="/Agency/install_agent" method="POST">
       name:<input name="agent" value="PhotoNet"><br>
       <br>
       <input type="submit" value="Install"><br>
       </form></if>
  <dt> Photos
       <if><agent-running name="Photos"><then><em>installed</em></then>
       <else>
  <dd> <form action="/Agency/install_agent" method="POST">
       name:<input name="agent" value="Photos">
       type:<input name="type" value="DOFS"><br>
       root:<input name="root" value="&usrDIR;/Photo_Album/">
       <input type="submit" value="Install">
       </form></if>

       <p>


  <dt> <a name="Printer">Printer agent</a>
       <if><agent-running name=WebPrinter><then><em>installed</em></then>
       <else>
  <dd> <form action="/Agency/install_agent" method="POST">
       name: <input name="agent" value="WebPrinter"><br>
       type: <input name="type" value="Printer"><br>
       (Note this agent currently requires some auxiliary programs, including
       ghostscript to work properly.)
       <input type="submit" value="Install">
       </form></else></if>

  <dt> <a name="FMA">FMA</a>
       <if><agent-running name="FMA"><then><em>installed</em></then>
       <else>
  <dd> <form action="/Agency/install_agent" method="POST">
       name:<input name="agent" value="FMA"><br>
       <br>
       (This "Fax Management Appliance" is just a shell with no substance yet.)
       <input type="submit" value="Install"><br>
       </form></if>

</dl>

<hr>
<h3><a name="exp">Experimental</a></h3>

<dl>
    <dt>  <a href="Forms"> Forms agent </a>
	 <dd> <form action="/Agency/install_agent.if" method="POST">
       <input type="submit" value="Install">
       name:<input name="agent" value="Forms">
       passwords: <input name="authentication" value="/home/wolff/.piajava/Forms/passwd">
       </form>
  <dt>  <a href="RAWHO"> RAWHO agent -- assists in creating hierarchies</a>
 <if><agent-running name=RAWHO><then><em>installed</em></then><else>
  <dd> <form action="/Agency/install_agent.if" method="POST">
       <input type="submit" value="Install">
       name:<input name="agent" value="RAWHO">
       </form></if>
</dl>

<hr>
<h3> <a name=local>Local agents (found in your &usrDIR;/Agents directory)</a> </h3>
 <set name="dirs"><read file=&usrDIR;/Agents  directory></set>
<dl> <repeat list="&dirs;">
<dt> <a name="/&li;">&li;</a> 
       <if><agent-running name=&li;><then><em>installed</em></then><else>
  <dd> <form action="/Agency/install_agent.if" method="POST">
       <input type="submit" value="Install">
       name:<input name="agent" value="&li;">
       </form></if>
       </repeat>
</dl>


<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/src/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="file:&filePath;">&filePath;</a>
<hr>
<a href="/">PIA</a> || <a href="/Agency">Agency</a>:
<a href="&agentName;/">index</a>
<a href="&agentName;/options">options</a>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
