<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Agency options</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>&agentName; agent <br>Options Page</set>
<read interform file="heading.inc" process>

<table cellspacing=0 cellpadding=0>
<tr><th width=340><td><br>
<tr><th><td> <a href="index.if">Index Page</a>
<tr><th><td> <a href="home.if">Home Page</a>
<tr><th align=right><a href="home.if">&agentName;</a>: <td> Options
<tr><th><td> <a href="/PIA/Agents/&agentName;/">InterForms</a>
	     (<a href="/My/Agents/&agentName;/">Customized</a>)
<tr><th align=right><td>  
       <form action="/Agency/remove_agent.if" method="POST">
	Remove agent:<br>
       <input name="agent" value="&agentName;" type=hidden>
       <input type="submit" value="Remove &agentName;">
       </form>
</table>

<if>&urlQuery;
    <then><agent-set-options>&urlQuery;</agent-set-options></then>
</if>

<set entity name=opts><agent-options></set>
<form method=POST action="&url;"><table>
  <tr> <th><input type=submit value="Change Options"></th></tr>
  <repeat list="&opts;" entity=opt><tr>
    <th align=right>&opt;:</th>
    <td><set entity name=v><get agent name="&opt;"></set>
        <input name="&opt;" value="&v;" size=50></td><p></tr>
  </repeat>
</table></form>

<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/src/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="file:&filePath;">&filePath;</a>
<hr>
<a href="/">PIA</a> || <a href="/Agency">Agency</a>:
<a href="&agentName;/">index</a>
<a href="&agentName;/options.if">options</a>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
