<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Programming Information</title>
<link rev="made" href="mailto:steve@rsv.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Programming Information</set>
<read interform file="heading.inc" process>

<p>
<hr>

<dl>
  <dt> <b>Note:</b>
  <dd> Everything below this is mainly of interest to people interested in
       writing or customizing agents, and can safely be skipped by the
       non-curious.
</dl>
<hr>

<h3>Useful Interforms:</h3>
<ul>
  <li> <a href=/Agency/agents>list running agents</a>
  <li> <a href="/Agency/installers">install new agents</a>
  <li> <a href=/Agency/options>view/change options</a>
  <li> <a href=/Agency/debug>toggle debugging</a> (currently
       <if><test zero><get pia name="main::debugging"></test>
           <then>off</then><else>on</else></if>)
  <li> <a href=/Agency/remove_agent> remove agent</a>
  <li> <a href="/Agency/os-cmd">run OS commands</a>
  <li> <a href="/Agency/shutdown">Shut down the PIA or the computer</a>
</ul>

<h3>Other Information:</h3>
<ul>
  <li> <a href="/PIA/Doc/"><b>Documentation</b> </a>
       <if><agent-running name=PIA>
           <then>
       <ul>
	 <li> <a href="/PIA/Doc/Tutorial">Tutorial</a>
	 <li> <a href="/PIA/Doc/Release">Release Notes</a>
	 <li> <a href="/PIA/Doc/Manuals">Manuals</a>
       </ul>
           </then>
           <else><a href="/Agency/installers#PIA"><em>install
                 needed!</em></a></else></if>
  <li> <a href="/Agency/entities">list defined entities</a>
  <li> <a href="/InterForm/home">InterForm demonstration agent</a>
       <if><agent-running name="InterForm"><then></then>
       <else><a href="/Agency/installers#InterForm"><em>install
       needed!</em></a></else></if> <b>mostly obsolete now</b>
</ul>

<h3>Where Things Are:</h3>

<ul>
  <li> <code>PIA_DIR = &piaDIR; </code>
       (parent of src, Doc, etc.) <br>
       If things are set up correctly, this should also be reachable as
       <a href="/PIA/">/PIA/</a>
  <li> <code>USR_DIR = &usrDIR;</code>
       (your customizations and agent output)  <br>
       If things are set up correctly, this should also be reachable as
       <a href="/My/">/My/</a>
  <li> Customized InterForms: <code>&usrDIR;/Agents</code>
</ul>

<h3>Miscellaneous files...normally not accessed directly</h3>
<ul>
     <li> <a href=/Agency/install_agent> install agent</a> -- requires
	  knowledge of several non-obvious parameters.
     <li> <a href=/Agency/START-UP.html> start-up </a> 
	  (This file gets "executed" on start-up by submitting every form.)
     <li> <a href=/Agency/initialize> initialize Agency</a>
	  (This file gets "executed" when a new Agency agent is created)
</ul>

<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="file:&filePath;">&filePath;</a>
<hr>
<a href="/">PIA</a> || <a href="/Agency">Agency</a>:
<a href="&agentName;/">index</a>
<a href="&agentName;/options">options</a>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
