<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Remove Agent</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Remove Agent</set>
<read interform file="heading.inc" process>

<table cellspacing=0 cellpadding=0>
<tr><th width=340><td><br>
<tr><th align=right><a href="home.if">&agentName;</a>: <td>
<tr><th><td> <a href="index.if">Index Page</a>
<tr><th><td> <a href="home.if">Home Page</a>
<tr><th><td> <a href="options.if">Options</a>
<tr><th><td> <a href="/PIA/Agents/&agentName;/">InterForms</a>
<tr><th><td> <a href="/My/Agents/&agentName;/">Customized InterForms</a>
</table>
<p>
<hr>

<if><get form name=agent>
<then>
  <h3><agent-remove><get form name=agent></agent-remove> removed<h3>
</then><else>
  <h2> Agent removal form</h2>
</else></if>

<form action="/Agency/remove_agent.if" method="POST">
Name:<select name="agent">
        <repeat list="&agentNames;" ><option>&li;</option></repeat>
     </select>
<input type="submit" value="Remove Agent">
</form>

<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="file:&filePath;">&filePath;</a>
<hr>
<a href="/">PIA</a> || <a href="/Agency">Agency</a>:
<a href="&agentName;/">index</a>
<a href="&agentName;/options.if">options</a>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
