<html><head>
<title>Invention Disclosure</Title>
</head>

<body bgcolor="#ffffff">

<center><a href="http://rhine:8888/Forms/forms.if"><img src="../formsbutton.gif"></a><a href="http://rhine:8888/Forms/users.if"><img src="../userbutton.gif"></a><a href="http://rhine:8888/Forms/reports.if"><img src="../reportsbutton.gif"></a><a href="mailto:dgillen@crc.ricoh.com"><img src="../feedbackbutton.gif"></a></center><p>

<h1>Invention Disclosure</h1>

<form method=POST action="invention_process.if">
      
<hr><h1>I. Background:<p>
You may be interested in learning more about 
<a href="http://internal/genadmin/policies/evaluation.html">who will be reading your description and how it will be evaluated.</a><p>
       
Your Username:
<select name="name"><set entity name=namelist><read file="namelist.dat"></set><repeat list="&namelist;"><option> &li; </repeat></select><p>

Inventors:<br> 
<select name=inventor1><repeat list="&namelist;"><option>&li; </repeat></select>
<select name=inventor2><repeat list="&namelist;"><option>&li;</repeat></select>
<select name=inventor3><repeat list="&namelist;"><option>&li; </repeat></select>
<select name=inventor4><repeat list="&namelist;"><option> &li;</repeat></select>
<select name=inventor5><repeat list="&namelist;"><option>&li; </repeat></select><p>

Group:
<select name=group><option>- <option>CIP <option>DA <option>ES <option>ICARUS <option>MLP </select><p>

Objective (What problem does it solve):<br>
<textarea name=objective rows=3 cols=70></textarea><p>
	
Descriptive Title:<br>
<textarea name=title rows=2 cols=40></textarea><p>
	
Detailed Description (Attach Additional Sheets as necessary):<br>
<textarea name=description rows=5 cols=70></textarea><p><hr>

<h1>II.  Disclosure:</h1>
Have information, samples or technical bulletins relating to this
invention been given to customer(s)? Have products relating to the
invention been sold?  Has the process involved been used on a
commercial scale?  Has the invention been disclosed to others
outside the company in printed publication, technical meeting or
otherwise?  If the answer to any of these questions is yes, or if 
any of these events are scheduled in the future, please give dates 
and other details on an attached sheet.<p>
	
Yes/No:
<select name=boolean><option>- <option>Yes <option>No </select><p>
	
Is there an application deadline?  If yes, what is the deadline and
why (conference paper, publication, etc.):
<textarea name="deadline" rows=3 cols=70></textarea><p>
When did you first disclose this invention (internally or externally)?<br>
Date:
<input name=disclosedate size=8></input><hr>

<h1>III.  Conception and Development</h1>
When did you first think of this invention? <input name=coceptiondate></input><p>
	
What records to you have to substantiate this date?  <a href="http://internal/genadmin/policies/lab.html">Notebook</a> numbers and pages,letter, reports, etc. with dates.<br>
	
<textarea name="substantiation" rows=3 col=70></textarea><p>
	
Stage of Invention:  <select name="stage"><option>- <option>Concept Only <option >Preliminary Experiments <option>Ready for Tech Transfer </select><p>

First Actual Experimental Work (Date): <input name="experimentdate" size=8></input><p>
Notebook# and Page documenting the above experimental work:<br>
<input name="labbook"></input><p>
Enter the names of the individuals that witnessed that notebook entry:<br>
<textarea name="witnesses" rows=3 col=50></textarea><p>
Is further experimental work now underway or planned? <select name="further"><option>- <option>Yes <option>No </select><hr>

<h1>IV.  Prior Art</h1>
Please work with the technical librarian and conduct a
literature/patent search.  After reviewing the results please
submit them to the patent administrator for safe keeping with this
disclosure.<p>
<INPUT type=submit name=process value="Process"><p>
  
</html>




