<html><head>
<title>Travel Arrangement Request Form</Title>
</head>

<body bgcolor="#ffffff">

<center><a href="http://rhine:8888/Forms/forms.if"><img src="../formsbutton.gif"></a><a href="http://rhine:8888/Forms/users.if"><img src="../userbutton.gif"></a><a href="http://rhine:8888/Forms/reports.if"><img src="../reportsbutton.gif"></a><a href="mailto:dgillen@crc.ricoh.com"><img src="../feedbackbutton.gif"></a></center><p>

<center><h1>Travel Arrangement Request Form</h1></center>

<form method=POST action="travel_process.if">

Username:
<select name=name><set entity name=namelist><read file="namelist.dat"></set><repeat list="&namelist;"><option> &li;</repeat></select><br>

Purpose: <textarea name=purpose rows=2 cols=70></textarea><br><hr>

<center><h1>Air</h1></center>
<center>Destination: <select name=dest1><option>- <option>East Coast <option>Mid West <option>West Coast <option>Japan <option>Other International</select><br></center>
Air Date: <input name=airdate1 size=8>
Depart Time : <input name=depart1 size=5>
Arrive Time : <input name=arrive1 size=5><br>
<strong>From:</strong> SFO/San Jose  
<strong>To:</strong> <input name=to1 size=15>
Airline: <input name=airline1 size=15><br><hr>


<center><h1>Rent-a-Car</h1></center>
Rental Company: <input name=company1 size=15>
Size: <input name=size1 size=15>
Number of Days with Car: <input name=cdays value=0 size=2><br>
Pick-up Date: <input name=pickdate1 size=8>
Pick-up Time: <input name=picktime1 size=5>
Pick-up Place: <input name=pickplace1 size=15><br>
Drop-off Date: <input name=dropdate1 size=8>
Drop-off time: <input name=droptime1 size=5>
Drop-off Place: <input name=dropplace1 size=15><br>
Remarks: <textarea name=remarks1 rows=1 cols=70></textarea><br><hr>

<center><h1>Hotel</h1></center>
Nightly Rate with Tax: <input name=rate size=10>
Room Type: <input name=type1><br>
Date In: <input name=datein1 size=8>
Date Out: <input name=dateout1 size=8>
Number of Nights: <input name=nights1 value=0 size=2>
Hotel: <input name=hotel1 size=15><br>
Remarks: <textarea name=remarks3 rows=1 cols=70></textarea><br><hr>

<INPUT type=submit name=process value="Process"><p>
 
</html>
