<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title> add url to &agentName;</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<h1> Add url to list</h1>
<read file="new_url.inc" interform process>
<if><get name="urlatag"> <then>
<h3> added &urlatag; </h3>
<ul>
  <li>  <a href="edit_link.if?id=&urlid;"> edit categories or features</a>       
</ul>
</then>
</if>
<hr>
<b>$Id$</b><br>
<!-- hhmts start -->
Last modified: Thu Oct  9 17:35:53 1997
<!-- hhmts end -->
<p>
<address><a href="http://www.crc.ricoh.com/people/wolff/wolff.html"
         >Greg Wolff</a> &lt;<a href="mailto:wolff@crc.ricoh.com"
         >wolff@crc.ricoh.com</a>&gt;</address>
</body></html>

