 <read interform process file=heading.inc>

<h2> Edit features</h2>
Features are the items which can be used for categorization. when a new
category or link is added, the default values (first) for every feature will be assigned
to it.


<form action="&url;" method=post id="edfeats" copy>

<set name=feats><get name=features agent></set>
	      <set name=f><get name=feats keys></set>

 <process copy>
    <repeat list=&f;>
    <if><get form name="fd&li;"> <then>
	   <set name=feat><get index="feats" key=&li;></set>
	   <set index=feat insert=0><li><get form name="fd&li;"></li></set></then></if>
   <if><get form name="fv&li;"> <then>
	   <set name=feat><get index="feats" key=&li;></set>
	   <set index=feat insert=-1><li><get form name="fv&li;"></li></set></then></if>
    </repeat>
     <if><get form name="newfeature"> <then>
		 Adding feature &FORM.newfeature; <br>
      <set index="feats" key=&FORM.newfeature;><ul foreach=&FORM.newfeaturevalues; entity=v><li>&v;</li></ul></set>
      </then></if>
 <write file=features></write>
      </process>

<dl>
<repeat list=&f;>
 <dt><b>&li;</b> values:</dt>
      <dd>New Default: <input name="fd&li;" value="" size=30>

	   <get index="feats.&li;"><br>
New Value: <input name="fv&li;" value="" size=30>	   
	   </dd>
	   
</repeat>
	   <br>
New Feature: <input name="newfeature" value="" size=30> Values:<input name="newfeaturevalues" value="" size=30>
<input type="SUBMIT" value="Edit features">

</form>


