<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>RAWHO</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
 <table>
<TR><TD> <a href="show_category.if">Show categories</a>
<TD> <a href="show_link.if">Show  links</a>
<TD> <a href="view_links.if">view links</a>
<TD> <a href="initialize.if"> initialize</a>
<TD> <a href="restore_cats.if"> rebuild categories</a>
<TD> <a href="save_categories.if"> save categories</a>
<TD> <a href="/~&agentName;/">  data files</a>
</table>
<h2> <a href="add_url.if"> add link</a></h2>
<read file=new_url.inc interform process>

<h2>  <a href="add_category.if">add  category</a></h2>
<read file=add_cat.inc interform process>

<h2>  <a href="show_category.if">categories</a></h2>
<read interform process file=show_category.if>
<h3>  <a href="show_link.if">links</a></h3>
<read interform process file=show_link.if>
<hr>
<b>$Id$</b><br>
<!-- hhmts start -->
Last modified: Thu Oct 16 10:53:01 1997
<!-- hhmts end -->
<p>
<address><a href="http://www.crc.ricoh.com/people/wolff/wolff.html"
         >Greg Wolff</a> &lt;<a href="mailto:wolff@crc.ricoh.com"
         >wolff@crc.ricoh.com</a>&gt;</address>
</body></html>
