<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<h1></h1>
 this should restore link counter and categories from cached files...

<if><read file=nextid info> <then>
<set agent name="nextid"><read file=nextid></set>
</then><else>
<set agent name="nextid">0</set>
</else></if>

<if><read file=features info> <then>
<set agent name="features"><read file=features process></set>
</then><else>
  Example feature names and possible values -- default listed first
<set agent name="features"><dl>
<dt> Feature1 </dt>
<dd> <ul><li>0 <li>100 <li>1000 <li>10000</ul> </dd>
<dt> Feature2 </dt>
<dd> <ul><li>.com <li>.edu <li>.org<li> .net <li>ricoh.com</ul> </dd>
</dl></set>
</else></if>


<if><read file=links.html info> <then>
<set agent name="links"><read file=links.html process></set>
</then><else>
<set agent name="links"><dl codekeys> </dl>
<dl urlkeys> </dl>
</set>
</else></if>

<if><read file=cats.html info> <then>
<set agent name="cats"><read file=cats.html process></set>
</then><else><set agent name="cats"><dl>
  <dt>  Miscellaneous </dt>
  <dd>  A default catch-all category 
 </dl></set></else></if>

<read interform process file=init_calendar.inc>
<hr>
<b>$Id$</b><br>
<!-- hhmts start -->
Last modified: Tue Oct 21 19:11:14 1997
<!-- hhmts end -->
<p>
<address><a href="http://www.crc.ricoh.com/people/wolff/wolff.html"
         >Greg Wolff</a> &lt;<a href="mailto:wolff@crc.ricoh.com"
         >wolff@crc.ricoh.com</a>&gt;</address>
</body></html>
