<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>RAWHO notes</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<read file=heading.inc interform process>

<h1>about</h1>
<read file=about.inc interform process>

<h2> status</h2>
 This is a very experimental version, suitable for playing around, but don't
 count on it to work correctly.
 
<p>
Each category and link has an expandable set of features associated with it.
Currently these features are not used but can be in the near future.

<p>
Any category can be the super or sub category of any other category.  Any link
can be added to any category.  Use the <a href="home.if"> home page</a> to add
categories or links.  Use the editing forms  (<a href="edit_category.if">
category</a> or <a href="edit_link.if"> link</a>) to  add links to categories
or denote a category as a sub category.
Files of links can be  <a href="import.if"> imported</a>.
<p>
Categories which have no super category show up as the "top level categories"
on the home page.
<p>
categories and links are stored in files,  <a
href="/~&agentName;/">~/.pia/&agentName;</a>.

<p>
 Feel free to run your own agent (this agent is running on &piaHOST;:&piaPORT;) or use the shared:
 <a href="http://pia:8888/RAWHO/home.if"> PIA group server RAWHO</a>.
Add new behaviors to the shared server by editing <a href="file:~pia/pia/Agents/RAWHO"><code>~pia/pia/Agents/RAWHO</code></a>.
<h3> problems</h3>
 multiple selection not supported... category names must be single words
 without leading spaces...
 probably many others...
<hr>
<b>$Id$</b><br>
<!-- hhmts start -->
Last modified: Wed Oct 22 10:11:14 1997
<!-- hhmts end -->
<p>
<address><a href="http://www.crc.ricoh.com/people/wolff/wolff.html"
         >Greg Wolff</a> &lt;<a href="mailto:wolff@crc.ricoh.com"
         >wolff@crc.ricoh.com</a>&gt;</address>
</body></html>
