<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title> show category  <get  form  name="catname"></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<read file=heading.inc interform process>

 <if> <get  form  name="catname"><then> 
<get agent index="cats.&FORM.catname;">
 <a href="edit_category.if?category=&FORM.catname;"> edit &FORM.catname;</a>

</then>
 <else>
 Please specify a category:
<form action="&url;"><input type="SUBMIT" value="ShowCategory">: <select
name=catname> <set name=cats><get agent name=cats keys></set>
 <repeat list=&cats;> <option>&li;</option></repeat>
</select>
</form>
</else></if>
<hr>
<read interform process file=show_cats.inc>

<b>$Id$</b><br>
<!-- hhmts start -->
Last modified: Tue Oct 21 13:12:22 1997
<!-- hhmts end -->
<p>
<address><a href="http://www.crc.ricoh.com/people/wolff/wolff.html"
         >Greg Wolff</a> &lt;<a href="mailto:wolff@crc.ricoh.com"
         >wolff@crc.ricoh.com</a>&gt;</address>
</body></html>
