<!doctype html system "html.dtd">
<html><head>
<title>Initialize the CIA</title>
<link rev="made" href="mailto:steve@crc.ricoh.com"></link>
</head><body>
<h1>Initialize the CIA</h1>

<user-message>Initializing &agentName; from &filePath;</user-message>
<agent-set-criteria>response agent-response- html</agent-set-criteria>
<user-message>&agentName; criteria: <agent-criteria></user-message>

<set agent hook name="act-on"><protect><if><get agent name=hidden><else>
<trans-control>
<set entity name=pia>http://&piaHOST;:&piaPORT;</set>
<a href="&pia;/" target="_top"><img src="&pia;/cia/Logo/pent24.gif"
			 	    height=24 width=24 border=0></a>
<a href="/MB3/view_day.if" target="_top">MB3</a> ||
<expand><get agent=Spy name=controls></expand>
<expand><get agent=History name=controls></expand>
<!-- making this a link is actually useful: it gets you out of a frame. -->
<a href="&url;" target="_top">&lt;URL:&url;&gt;</a>
<hr>
</trans-control></if>
</protect></set>

<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b>
</body></html>
