<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; edit forms</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title> edit forms</set>
<read interform file="heading.inc" process>
 
<tagset-load name=Form-agent-actors>

 <if> <get form name=newform> <then>
<!--  create a new form with corresponding directory -->
 <set name=fname><get form name=newform></set>
 <write file=&usrDIR;/Agents/&agentName;/&fname;/&fname;.if><get form
 name=content></write>
 <set agent name=forms insert=-1><get form name=newform></set>
</then></if>

<table>
<TR><TH>Form</TR>
 <repeat list=&AGENT.forms;>
<TR><TD> <a href="&li;/&li.if">&li;</a>
<TD><form action="edit_route.if">
<input name="form" value="&li;" type=hidden>
<input type="SUBMIT" value="EditRouting">
</form>
<TD><form action="edit_form.if">
<input name="form" value="&li;" type=hidden>
<input type="SUBMIT" value="EditForm">
</form>
<TD><form action="edit_processing.if">
<input name="form" value="&li;" type=hidden>
<input type="SUBMIT" value="EditProcessing">
</form>
</TR>
 </repeat>
</table>
<hr>
<h2> Create new form</h2>
<form action="&url;" method=post>
Form name: <input name="newform" size=20>
Form Content: <textarea name="content" rows=30 cols=70>
&lt;html&gt;&lt;head&gt;
&lt;title&gt;Form Name&lt;/Title&gt;
&lt;/head&gt;
 &lt;body&gt;
&lt;form method=POST action="process.if"&gt;
Entry1: &lt;input name=entry1&gt;
&lt;br&gt;
Entry2: &lt;input name=entry2&gt;
&lt;input type=submit value=Process&gt;
&lt;/form&gt;
&lt;/body&gt;
</textarea>
<br>
<input type="SUBMIT" value="Create Form">
</form>
<hr>

<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
