<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Form <get form name=formurl></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>

<tagset-load name=Form-agent-actors>

<if> <get form name=formurl> <then>
 <set name=sigs><read file=&FORM.formurl;.sig process></set>
<read file=&FORM.formurl;>
<hr>
<if> <get name=sigs> <then>
<h3> Signatures for  <a href="&FORM.formurl;">&FORM.formurl; </a></h3>

 <if> <get form name=verify> <then>
       <set name=document><read file=&FORM.formurl;></set>
	 <set name=hash><hash><get name=document></hash></set>
  </then></if>

 <table>
<!-- for-every tag=signature object=&sigs; entity=sig -->
<set  name=mysigs><get name=sigs findall=signature></set>
 <if> <test match=signature exact><get name=mysigs attr=tag></test> <then>
<!-- just do once -->
 <set name=sig><get name=mysigs></set>
<TR>
  <TD>  Signed by: <b><full-name user=&sig.sigblock.signer.Text;></b>
  <TD>on:
  <TD>&sig.sigblock.sigdate; </TD>
 <!-- don't show signature &sig.sig; -->
   <TD>
       <if><sign user=&sig.sigblock.signer.Text; verify=&sig.sig.Text;>&sig.sigblock;</sign> <then>
        <b>verified</b></then> <else>
        <b> does NOT verify</b></else>
       </if>
  </TD>
</TR>

</then>
 <else>
<repeat list=&mysigs; entity=sig>
<TR>
  <TD>  Signed by:<b><full-name user=&sig.sigblock.signer.Text;></b>
  <TD>on:
  <TD>&sig.sigblock.sigdate; </TD>
 <!-- don't show signature &sig.sig; -->
   <TD>
       <if><sign user=&sig.sigblock.signer.Text; verify=&sig.sig.Text;>&sig.sigblock;</sign> <then>
        <b>verified</b></then> <else>
        <b> does NOT verify</b></else>
       </if>
  </TD>
</TR>
</repeat>
</else></if>

</table>
</then> <else>
No signatures for &FORM.formurl;
</else>
</if>


<!-- $Id$ -->
</body></html>
