<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>InterForm Actors</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>&agentName; Agent<br>Actor List</set>
<read interform file="heading.inc" process>

<set entity name=IFman>/PIA/Doc/Manuals/InterForm/index.html</set>
<table align=center cellspacing=0 cellpadding=0 border=0>
<tr><th width=170 valign=center>
<td>
  <table cellspacing=0 BORDER=0>
  <tr><th align=right width=170>&nbsp;<td>
  <tr>
    <th valign=top align=right>
    <td valign=top> Demonstration and Test agent
  <tr><th><a href="&agentName;"><b>&agentName;:</b></a>
	  <td> <a href=actors.if>Defined InterForm Actors</a>
  <tr><th><td> <a href=entities.if>Defined Entities</a>
  <tr><th><td> <a href=/Agency/agents.if>Running PIA Agents</a>
  <tr><th><td> <a href="&IFman;">PIA InterForm Manual</a>
  </table>
</table>
 
<h2>Defined Actors</h2>


<set name=actorNames><actor-names></set>
<dl foreach list="&actorNames;">
  <dt> <strong>&li;</strong> <actor-attrs name="&li;">
  <dd> <if><actor-dscr name="&li;"><then>
       <dl>
	 <dt> <b>Syntax:</b>
	 <dd> <add-markup><actor-syntax name="&li;"></add-markup>
	 <dt> <b>Description:</b>
	 <dd> <add-markup><actor-dscr name="&li;"></add-markup>
       </dl>
       </then>
       <else> (HTML tag) </if>
</dl>

<h3>Note:  Action or Actor?</h3>

<blockquote><em>
  We call the things that ``act on'' syntactic elements inside InterForms
  ``<dfn>actors</dfn>'' rather than ``agents'' (to avoid confusion with PIA
  Agents, which act on HTTP transactions), or ``actions'' (in part because
  they come in both ``active'' and ``passive'' forms, and the phrase ``passive
  action'' sounds silly).<p>

  Besides, having both ``actors'' and ``agents'' in the system has the
  potential to give rise to a whole new set of puns.
</em></blockquote>

<hr>

<a href="/Agency">Agency home page</a>
<b>URL:</b>
&lt;<a href="http://&piaHOST;:&piaPORT;/">http://&piaHOST;:&piaPORT;/</a>&gt;
<b>User:</b> &piaUSER;


<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
</body></html>
