<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; Actor Index</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>Actor Index</set>
<read interform file="heading.inc" process>

<set entity name=IFman>/PIA/Doc/Manuals/InterForm/index.html</set>
<table cellspacing=0 cellpadding=0 border=0>
<tr><th width=170 valign=center>
<td>
  <table cellspacing=0 cellpadding=0 border=0>
    <tr><th width=170><img src="/Icon/blank170x1.gif"
	                   width=170 height=1></th><td>
    <tr><th align=right>
	    <td> <a href="home.if">Home</a>
    		 <a href="index.if">Index</a>
    		 <a href="help.if">Help</a>
    		 <a href="options.if">Options</a>
    <tr><th align=right><img src="/Icon/dot-blue.gif"
			     height=20 width=20 alt="*">
            <td> <b href=actors.if>Actors</b>
		 <a href=entities>Entities</a>
		 <a href=/Admin/list-agents>Agents</a>
    <tr><th><td> <a href="tag_man.if">Standard Tagset Manual</a>
    <tr><th><td> <a href=demo.if>Standard Tagset Examples</a>
    <tr><th><td> <a href="&IFman;">PIA InterForm Manual</a>
  </table>
</table>
 
<h2>Defined Actors</h2>


<set name=actorNames><actor-names></set>
<dl foreach list="&actorNames;">
  <dt> <strong>&li;</strong> -- &lt;actor <actor-attrs name="&li;">&gt;
  <dd> <if><actor-dscr name="&li;"><then>
       <dl>
	 <dt> <b>Syntax:</b>
	 <dd> <add-markup><actor-syntax name="&li;"></add-markup>
	 <dt> <b>Description:</b>
	 <dd> <add-markup><actor-dscr name="&li;"></add-markup>
       </dl>
       </then>
       <else> (HTML tag) </if>
</dl>

<h3>Note:  Action or Actor?</h3>

<blockquote><em>
  We call the things that ``act on'' syntactic elements inside InterForms
  ``<dfn>actors</dfn>'' rather than ``agents'' (to avoid confusion with PIA
  Agents, which act on HTTP transactions), or ``actions'' (in part because
  they come in both ``active'' and ``passive'' forms, and the phrase ``passive
  action'' sounds silly).<p>

  Besides, having both ``actors'' and ``agents'' in the system has the
  potential to give rise to a whole new set of puns.
</em></blockquote>

<hr>

<a href="/">Agency home page</a>
<b>URL:</b>
&lt;<a href="http://&piaHOST;:&piaPORT;/">http://&piaHOST;:&piaPORT;/</a>&gt;
<b>User:</b> &piaUSER;


<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
</body></html>
