<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; Entity Index</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>Entity Index</set>
<read interform file="heading.inc" process>

<set entity name=IFman>/PIA/Doc/Manuals/InterForm/index.html</set>
<table cellspacing=0 cellpadding=0 border=0>
<tr><th width=170 valign=center>
<td>
  <table cellspacing=0 cellpadding=0 border=0>
    <tr><th width=170><img src="/Agency/Icons/blank170x1.gif"
	                   width=170 height=1></th><td>
    <tr><th align=right>
	    <td> <a href="home.if">Home</a>
    		 <a href="index.if">Index</a>
    		 <a href="help.if">Help</a>
    		 <a href="options.if">Options</a>
    <tr><th align=right><img src="/Agency/Icons/dot-blue.gif"
			     height=20 width=20 alt="*">
            <td> <a href=actors.if>Actors</a>
		 <b href=entities.if>Entities</b>
		 <a href=agents.if>Agents</a>
    <tr><th><td> <a href="tag_man.if">Standard Tagset Manual</a>
    <tr><th><td> <a href=demo.if>Standard Tagset Examples</a>
    <tr><th><td> <a href="&IFman;">PIA InterForm Manual</a>
  </table>
</table>
 
<h2>Defined Entities</h2>

<pre><i>Name		 Value</i>
<repeat list="&entityNames;"> <b><pad width=15 spaces>&li:</pad><a
		href="&IFman;#e-&li;">&li;</a>:</b><!--
    			--> <get entity name="&li;">
</repeat></pre>

<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="/Root/&filePath;">&filePath;</a>
<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
</body></html>
