<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Entities</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>&agentName; Agent<br>Entity List</set>
<read interform file="heading.inc" process>

<set entity name=IFman>/PIA/Doc/Manuals/InterForm/index.html</set>
<table align=center cellspacing=0 cellpadding=0 border=0>
<tr><th width=170 valign=center>
<td>
  <table cellspacing=0 BORDER=0>
  <tr><th align=right width=170>&nbsp;<td>
  <tr>
    <th valign=top align=right width=170>
    <td valign=top> Demonstration and Test agent
  <tr><th><td> <a href=actors.if>Defined InterForm Actors</a>
  <tr><th align=right><a href="/&agentName;"><b>&agentName;:</b></a>
	  <td> <a href=entities.if>Defined Entities</a>
  <tr><th><td> <a href=/Agency/agents.if>Running PIA Agents</a>
  <tr><th><td> <a href="&IFman;">PIA InterForm Manual</a>
  </table>
</table>
 
<h2>Defined Entities</h2>

<pre><i>Name		 Value</i>
<repeat list="&entityNames;"> <b><pad width=15 spaces>&li:</pad><a
		href="&IFman;#e-&li;">&li;</a>:</b><!--
    			--> <get entity name="&li;">
</repeat></pre>

<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="/Root/&filePath;">&filePath;</a>
<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
</body></html>
