<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Entities</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>Programming Information: <br>Entity List</set>
<read interform file="heading.inc" process>

<set entity name=IFman>/PIA/Doc/Manuals/InterForm/index.html</set>
<hr>
<b>See Also:</b> <a href="&IFman;">PIA InterForm Manual</a>,
<a href="/InterForm">InterForm Demo Agent</a>
       <if><agent-running name="InterForm"><then></then>
       <else><a href="/Admin/installers#PIA"><em>install
       needed!</em></a></else></if>
 
<hr>
<h2>Defined Entities</h2>

<pre><i>Name		 Value</i>
<repeat list="&entityNames;"> <b><pad width=15 spaces>&li:</pad><a
		href="&IFman;#e-&li;">&li;</a>:</b><!--
    			--> <get entity name="&li;">
</repeat></pre>

<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="/Root/&filePath;">&filePath;</a>
<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
</body></html>
