<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>InterForm Demo and Test Home Page</title>
<link rev="made" href="mailto:steve@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>Demo &amp; Test Agent<br>Home Page</set>
<read interform file="heading.inc" process>
<set entity name=IFman>/PIA/Doc/Manuals/InterForm/index.html</set>

<table align=center cellspacing=0 cellpadding=0 border=0>
<tr><th width=170 valign=center>
<td>
  <table cellspacing=0 cellpadding=0 border=0>
    <tr><th width=170><img src="/Agency/Icons/blank170x1.gif"
	                   width=170 height=1></th><td>
    <tr><th align=right><img src="/Agency/Icons/dot-blue.gif"
			     height=20 width=20 alt="*">
	    <td> <b href="home.if">Home</b>
    		 <a href="index.if">Index</a>
    		 <a href="help.if">Help</a>
    		 <a href="options.if">Options</a>
    <tr><th><td> <a href=actors.if>Actors</a>
		 <a href=entities.if>Entities</a>
		 <a href="/Agency/agents.if">Agents</a>
    <tr><th align=right>
            <td> <a href="tag_man.if">Standard Tagset Manual</a>
    <tr><th><td> <a href=demo.if>Standard Tagset Examples</a>
    <tr><th><td> <a href="&IFman;">PIA InterForm Manual</a>
    <tr><th><td> <a href=test.if>Test page</a>
		 <a href="/Agency/debug.if">[debug]</a>
  </table>
</table>



<h2>About This Agent:</h2>

The <b><a href="/&agentName;/">&agentName;</a></b> agent is intended as a
demonstration and testbed for the PIA's InterForm markup language and its
formatter/interpretor. The <a href="&IFman;">PIA InterForm Manual</a>
is a conventional programming manual for InterForms (in plain HTML); this
agent contains active documents built largely from the actors' built-in online
documentation.  Both are useful.
<p>


<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="/Root/&filePath;">&filePath;</a>
<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
</body></html>
