<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>InterForm Actor Test Page</title>
<link rev="made" href="mailto:steve@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<h1>InterForm Actor Test Page</h1>

<set entity name=title>Actor Test Page</set>
<read interform file="heading.inc" process>

<set entity name=IFman>/PIA/Doc/Manuals/InterForm/index.html</set>
<table cellspacing=0 cellpadding=0 border=0>
<tr><th width=170 valign=center>
<td>
  <table cellspacing=0 cellpadding=0 border=0>
    <tr><th width=170><img src="/Agency/Icons/blank170x1.gif"
	                   width=170 height=1></th><td>
    <tr><th align=right>
	    <td> <a href="home.if">Home</a>
    		 <a href="index.if">Index</a>
    		 <a href="help.if">Help</a>
    		 <a href="options.if">Options</a>
    <tr><th><td> <a href=actors.if>Actors</a>
		 <a href=/Agency/entities>Entities</a>
		 <a href="/Agency/agents">Agents</a>
    <tr><th align=right>
            <td> <a href="tag_man.if">Standard Tagset Manual</a>
    <tr><th><td> <a href=demo.if>Standard Tagset Examples</a>
    <tr><th><td> <a href="&IFman;">PIA InterForm Manual</a>
    <tr><th align=right><img src="/Agency/Icons/dot-blue.gif"
			     height=20 width=20 alt="*">
	    <td> <b href=test.if>Test page</b>
		 <a href="/Agency/debug.if">[debug]</a>
  </table>
</table>


<hr>
<h2>About This Page:</h2>

<!-- Note: the b and a tags below have nameless end tags in the .if file: -->
The <b><a href="/&agentName;/">&agentName;</></b> agent is intended as a
demonstration and testbed for the PIA's InterForm markup language and its
formatter/interpretor.  This page is intended for testing and experimentation;
it is expected that each user will make a customized version.

<dl>
  <dt> <b>Note:</b>
  <dd> You are <em>strongly</em> encouraged to make a copy of this page
       in the &agentName; subdirectory of your personal Agents directory
       (<code><a href="/My/Agents/">&usrDIR;/Agents</a></code>).  You can do
       this with the command:
</dl>
<pre>
cp &piaDIR;/Agents/&agentName;/&fileName; &usrDIR;/Agents/&agentName;/&fileName
</pre>
<hr>

<actor tag=demo quoted=1 dscr="show both CONTENT and its value">
  <protect-result markup><get name=content></protect-result> <b>=&gt;</b> 
<expand><get name=content></expand>
</actor>

<dl>
  <dt> <demo><set entity name=foo><ul><li>1<li>2</ul></set></demo><br>
       <demo><repeat list="&foo;">&li;--</repeat></demo>
  <dd> 
  <dt> <demo><set entity name=foo><li>1<li>2</set></demo><br>
       <demo><repeat list="&foo;">&li;--</repeat></demo>
  <dd> 
</dl>

<pre><demo><read file="~/.login"></demo></pre>
<pre><demo><read file="~/.pia"></demo></pre>
<pre><demo><read directory match="^[A-Z].*[^~]$" tag=ol file="~/.pia"></demo></pre>
<demo><set entity name=dir><read directory file="~/.pia"></set>
<ul foreach list="&dir;">
   <li> <read info file="~/.pia/&li;"> <a href="/My/&li;">&li;</a>
</ul></demo>

<demo><write file="test">This is a test
</write></demo><br>
<demo><read file="test"></demo><br>
<demo><write append copy file="test">This is another test
</write></demo><br>
<demo><read file="test"></demo><br>

<p>
urlQuery = '&urlQuery;'<p>

<form method=POST action="&url;">
<if><get form name=command>
    <then>The command listed below is running in the background:
          <os-command><get form name=command></os-command>
    </then>
    <else> Enter a command in the form below.  It will be run in the
	   background with proxies set to the PIA.
    </else>
</if>
<br>
<input type=submit value=Command:>
<input size=50 name=command value="chimera">
</form>
<form method=POST action="&url;">
<if><get form name=npcommand>
    <then>The command listed below is running in the background:
          <os-command bypass><get form name=npcommand></os-command>
    </then>
    <else> Enter a command in the form below.  It will be run in the
	   background with the PIA bypassed.
    </else>
</if>
<br>
<input type=submit value=Command:>
<input size=50 name=npcommand value="chimera">
</form>

<h3>Process status:</h3>
<pre>
<os-command-output>/bin/ps</os-command-output>
</pre>

<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="/Root/&filePath;">&filePath;</a>
<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
</body></html>
