<h1>Masters</h1>

This directory contains a directory of master files for each template or form
collection.  By convention, subdirectories with uppercase names contain
complete templates; subdirectories with lowercase names contain collections of
forms and prototypes that are shared among many templates.  <p>



Each template directory contains: <p>

<dl>
  <dt> <code>template.inc</code>
  <dd> a &lt;dl&gt; of name-value pairs that control the agent
  <dt> <code>data.inc</code>
  <dd> default values for <code>form.inc</code>; a new <code>data.inc</code>
       file is constructed in the Agent's data directory to contain the values
       the user has supplied.
</dl>

Further information can be obtained from the
<a href="../impl.html">Implementation Notes</a>.


<dl>
  <dt> <b>Note:</b>
  <dd> Browsing below this level under /Template (i.e. the Template agent, as
       opposed to a DOFS) may result in your trying to execute master files as
       InterForms, with unpredictable results.
</dl>
<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
<hr>
