<html><head>
<!--  set the value of title variable to this agent's name + "home page" -->
<set entity name=title>&agentName; home page</set>
<!-- use title variable as html title for this page -->
<title> &title; </title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<!-- include the standard head banner -->
<!-- This puts in the logos and title at top of page -->
<read interform file="heading.inc" process>

<!-- create table with image on left controls on right -->
<table align=center cellspacing=0 cellpadding=0 border=0>

<!-- image is linked to Ricoh fax page -->
  <TR><th rowspan=3 valign=center align=left width=160>
        <a href="http://www.ricoh.co.jp/fax/hl5200_e/shinka_e.html">
         <!--  images are served from the agent's Icon directory -->
         <img src="/&agentName;/Icons/r3.jpg" width=144 border=0></a>

<!-- controls -->
  <!-- each control has an icon and text link to the appropriate InterForm -->
      <td  align=right>
        <a href="/&agentName;/view_incoming.if">
         <img src="/&agentName;/Icons/incoming.gif"  height=32 width=64
            border=0 alt="INBOX"></a>
      <td align=left>
         <!-- link to incoming faxes InterForm -->
         <a href="/&agentName;/view_incoming.if"> Incoming Faxes</a><br>

 <TR> <TD align=right>
        <a href="/&agentName;/send_fax.if">
         <img src="/&agentName;/Icons/send.gif"  height=32 width=64
            border=0></a>
      <TD align=left><a href="/&agentName;/send_fax.if"> Send Fax</a><br>

 <TR>
      <TD align=right>
        <a href="/&agentName;/find_fax.if">
         <img src="/&agentName;/Icons/previews.gif"
           height=32 width=32 border=0></a>
      <td align=left><a href="/&agentName;/find_fax.if"> Find Fax </a>
</table>

  <hr>


<!-- insert  brief description of appliance -->
<read interform file="about.inc" process>

<!-- insert standard footer which usually includes controls -->
<read interform file="footer.inc" process>

<!-- this page is mostly just html and does not include a form -->

</body></html>
