<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>View  Fax</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>

<!-- set fax -->
<set name="fax"><if><get name="fax" form><then>&FORM.fax;</then><else>incoming/latest</else></if></set>

<!-- include the standard head banner -->

<set entity name=title>Fax &fax;</set>
<read interform file="heading.inc" process>

<!-- search form/ sorting -->
<form action="/&agentName;/route_fax.if" method=POST>
<input type="SUBMIT" value="Route">
<input type=hidden name="fax" value="&fax;">
Fax To: <select name="user">  
 <repeat list="&AGENT.users;"> <option>&li;</option></repeat>
</select>
</form>
<form action="/&agentName;/send_fax.if" method=POST>
<input type=hidden name="fax" value="&fax;">
<input type="SUBMIT" value="Send">
Fax To: <select name="to">  <option> (type in)</option>
 <repeat list="&AGENT.quicklist.dl.KEYS;"> <option>&li;</option></repeat>
</select><input name="toname" size="20">
</form>
 <HR>

<!--  next an previous buttons could go here -->
<!--  more data  should be shown in listing -->

<img src="/&agentName;/DATA/&fax;/fax.gif">
<hr>

<!-- $Id$ -->

<!-- insert standard footer which usually includes controls -->
<read interform file="footer.inc" process>

</body></html>
