<html><head>
<title>Expense Report</Title>
</head>

<body bgcolor="#ffffff">

<set entity name=dir>expense</set>
<set entity name=departmentobject><read file="usertodept.dat" process></set>
<set entity name=acctobject><read file="acct_codes.dat" process></set>

<!-- some calculations repeated here and below --  should do only once -->

<set entity name=atotal><sum><product>&FORM.miles1; 0.28</product> <product>&FORM.miles2; 0.28</product></sum></set>

<set entity name=htotal><sum><product>&FORM.nights1; &FORM.rate1;</product>
<product>&FORM.nights2; &FORM.rate2;</product>
<product>&FORM.nights3; &FORM.rate3;</product>
</sum></set>

<if><test match="Domestic US">&FORM.perdest1;</test>
<then><set entity name=perdiem1><product>&FORM.perdays1; 34</product></set></if>
<if><test match="Japan">&FORM.perdest1;</test>
<then><set entity name=perdiem1><product>&FORM.perdays1; 60</product></set></if>
<if><test match="Other International">&FORM.perdest1;</test>
<then><set entity name=perdiem1><product>&FORM.perdays1; 47</product></set></if>
        
<if><test match="Domestic US">&FORM.perdest2;</test>
<then><set entity name=perdiem2><product>&FORM.perdays2; 34</product></set></if>
<if><test match="Japan">&FORM.perdest2;</test>
<then><set entity name=perdiem2><product>&FORM.perdays2; 60</product></set></if>
<if><test match="Other International">&FORM.perdest2;</test>
<then><set entity name=perdiem2><product>&FORM.perdays2; 47</product></set></if>

<set entity name=ptotal><sum>&perdiem1; &perdiem2;</sum></set>
<set entity name=mtotal><sum>&FORM.cost1; &FORM.cost2; &FORM.cost3;</sum></set>

<set entity name=ototal><sum>&FORM.amount1; &FORM.amount2; &FORM.amount3; &FORM.amount4; &FORM.amount5; &FORM.amount6; &FORM.amount7; &FORM.amount8; &FORM.amount9; &FORM.amount10;</sum></set>

<set entity name=firstthree><sum>&atotal; &htotal; &ptotal;</sum></set>

<set entity name=grandtotal><sum>&atotal; &htotal; &ptotal; &mtotal; &ototal; </sum></set>


<set entity name=dataobject><dl><dt><b>Name:</b><dd><u>&FORM.name;</u><dt><b>Department #:</b><dd><u><get name="departmentobject.&FORM.name;"></u><dt><b>Date:</b><dd><u>&date;</u></dl>
<p>
<table border><caption><h2>Personal Auto</h2></caption>
<tr><th>Date <th>Destination <th>Miles<th> Cost</tr>
<repeat list="1 2 3"><if><get form name="autodate&li;"><then><TR><TD><get form name="autodate&li;"><TD><get form name="dd&li;"><TD><get form name="miles&li;"><TD><product><get form name="miles&li;"> 0.28</product></tr></repeat></then></if>
<TR><TH align=center colspan=3> Total <TD> &atotal;</table>
<p>
<table border><caption><h2>Hotel</h2></caption>
<tr><th>Hotel <th> Rate <th>Nights <th> Cost</tr>
<repeat list="1 2 3"><if><get form name="hotel&li;"><then><TR><TD><get form name="hotel&li;"><TD><get form name="rate&li;"><TD><get form name="nights&li;"><TD><product><get form name="rate&li;"> <get form name="nights&li;"></product></tr></repeat></then></if>
<TR><TH align=center colspan=3> Total <TD>&htotal;</table>
<p>
<table border><caption><h2>Per Diem</h2></caption>
<tr><th>Days<th>Location<TH>Cost</tr>
<repeat list="1 2 3"><if><test positive><get form name="perdays&li;"></test><then><TR><TD><get form name="perdays&li;"><TD><get form name="perdest&li;"> <TD><get name="perdiem&li;"></tr></repeat></then></if>
<TR><TH align=center colspan=2> Total <TD>&ptotal;</table>
<p>
<table border><caption><h2>Business Meals</h2></caption>
<tr><th>Guests <th> Purpose<th> Cost</tr>
<repeat list="1 2 3"><if><test positive><get form name="cost&li;"></test><then><TR><TD><get form name="guests&li;"><TD><get form name="purpose&li;"><TD><get form name="cost&li;"></TR></then></if></repeat>
<TR><TH align=center colspan=2> Total <TD>&mtotal;</table>
<p>
<table border><caption><h2>Other</h2></caption>
<tr><th>Description <th>Type/Account # <th>Amount </tr>
<repeat list="1 2 3 4 5 6 7 8 9 10"><if><test positive><get form name="amount&li;"></test><then><set name="acct"><get form name="account&li;"></set>
<TR><td><get form name="description&li;"> <td>&acct;/<get name="acctobject.&acct;"> <td><get form name="amount&li;"> <tr></then></if></repeat>
<TR><TH align=center colspan=2> Total <TD>&ototal;</TR></table>
<p></set>

<set entity name=mlist><read file="mgr.dat" process></set>    
<set entity name=manager><get name="mlist.&FORM.name;"></set>
<set entity name=routeobject> <dl><dt>&FORM.name;<dd>NULL</dl></set>

<set entity name=timesec>&time;:&second;</set>
<!-- insert at beginning of response but not in file-->
<body bgcolor="#ffffff">
<b>Please print this form, attach all receipts and give to the auditor (Front Desk)</b><br>
<form action="http://salmon.crc.ricoh.com:8001/cgi-bin/imws.cgi" method=GET>
<input type="hidden" name="src_url" value="http://&piaHOST;:&piaPORT;/My/&agentName;/&dir;/&year;/&month;/&day;/&timesec;.html">
<input type="hidden" name="username"  value="&FORM.name;">
<input type="SUBMIT" value="Print using IMP">
on: <select name="printer">
 <option>ps3
 <option>ps4
 <option>ps5
 <option>ps6
 <option>ps2
 <option>ps1
 <option>psfile
</select>
</form>
<p>
<write file="&dir;/&year;/&month;/&day;/&timesec;.html">
Summary of Expenses for <b>&FORM.name;</b>:<br>
<ul><li>Personal Auto ($): &atotal; <li>Hotel Est ($): &htotal; <li>Per Diem ($): &ptotal; ---------------> subtotal account 6210 = $&firstthree;<li>Business Meals ($): &mtotal; ---------------> account 6415 = $&mtotal;<li>Other ($): &ototal; </ul>
<strong>Total Cost Est ($):</strong> &grandtotal;<p><hr>
</write>

<read interform file="write.inc" process><p>  

</html>
