<!doctype html system "html.dtd">
<html><head>
<title>Initialize the FBI</title>
<link rev="made" href="mailto:steve@crc.ricoh.com"></link>
</head><body>
<h1>Initialize the FBI</h1>

<user-message>Initializing &agentName; from &filePath;</user-message>
<agent-set-criteria>response agent-response html</>
<set agent hook name="act-on"><protect>
<trans-control>
<set entity name=pia>http://&piaHOST;:&piaPORT;</set>
<a href="&pia;/"><img src="&pia/fbi/Logo/pia24.gif" height=24 width=43
			border=0></a>
<a href="&pia;/My/">[~]</a>
[<a href="&pia;/History">Hist</a>
 <a href="&pia;/My/History/">*</a>/<a
    href="&pia;/My/History/&year;/">&year;</a>/<a
    href="&pia;/My/History/&year;/&month;/">&month;</a>/<a
    href="&pia;/My/History/&year;/&month;/&day;.html">&day;</a>
 <a href="&pia;/My/History/.last.html">&time;</a>]
( <if><test not exact match="&transAgentType;">&transAgentName;</test>
    <then><a href="&pia;/&transAgentType;">&transAgentType;</a>
          <a href="&pia;/&transAgentType;/"> / </a></then>
</if>
<a href="&pia;/&transAgentName;">&transAgentName;</a>
<a href="&pia;/&transAgentName;/"> / </a> )
<a href="/PIA/Agents/&urlPath;">&urlPath;</a>
<hr>
</trans-control>
</protect></set>

<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b>
<address><a href="http://www.crc.ricoh.com/people/steve/steve.html"
         >Stephen R. Savitzky</a> &lt;<a href="mailto:steve@crc.ricoh.com"
         >steve@crc.ricoh.com</a>&gt;</address>
</body></html>
