<html><head>
<title>Vacation Request Form</Title>
</head>

<body bgcolor="#ffffff">

<set entity name=dir>vacation</set>
<set entity name=departmentobject><read file="usertodept.dat" process></set>

<set entity name=dataobject><dl><dt><b>Name:</b><dd><u>&FORM.name;</u><dt><b>Department #:</b><dd><u><get index="departmentobject.&FORM.name;"></u><dt><b>Accrued hours:</b><dd><u>&FORM.accrued;</u><dt><b>Requested vacation from:</b><dd><u>&FORM.from;</u><dt><b>Requested vacation to:</b><dd><u>&FORM.to;</u></dl></set>

<set entity name=mlist><read file="mgr.dat" process></set>    
<set entity name=manager><get index="mlist.&FORM.name;"></set>
<set entity name=routeobject> <dl><dt>&FORM.name;<dd>&manager;<dt>&manager;<dd>NULL</dl></set>

<set entity name=timesec>&time;:&second;</set> 
<read interform file="write.inc" process><p>  

</html>
