<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; Home Page</title>
<base href="http://&piaHOST;:&piaPORT;/&agentName;/home.if">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<!-- load tags specific to this agent (just in case not already loaded) -->
<tagset-load name=DISC-actors>

<set entity name=title>Edit topic</set>
<!-- put up the header at the top of the page -->
<read interform file="heading.inc" process>

<!-- put up the events for today and navigation buttons -->
<read interform file="subhead.inc" process>

<h3>Topic: &FORM.topic;</h3>
 <if> <get name=&FORM.topic; agent> <else>
<add-topic topic=&FORM.topic;>
adding new topic.
</else></if>

 <if> <get name=entryname form> <then>
<add-topic-entry topic=&FORM.topic; entry=&FORM.entryname;
url=&FORM.entryurl;> <get name=description form></add-topic-entry>

</then> <else></else> </if>

<p> <center><show-topic topic=&FORM.topic;> </center>

<form action="edit_topic.if"
     method=post>
<input name="topic" type=hidden value=&FORM.topic;>
 entry:<input name="entryname" size="15"><br>
 url:<input name="entryurl" size="20"><br>
 desc:<textarea name="description" rows=4 cols=20>
</textarea>
<br>
<input type="SUBMIT" value="Add_entry">



<p>
<!-- generic discussion description -->
 <get name=description agent>

<!-- generic agent information -->
<read interform file="about.inc" quiet process>



<hr>

<!-- shows/process the navigation bar -->
<expand><get agent name=navbar></expand>

 <!-- copyright and cvs source control information -->
<b>Copyright Å© 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ --><br>
</body></html>
