<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; Home Page</title>
<base href="http://&piaHOST;:&piaPORT;/&agentName;/home.if">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<!-- load tags specific to this agent (just in case not already loaded) -->
<tagset-load name=DISC-actors>

<set entity name=title>Home Page</set>
<!-- put up the header at the top of the page -->
<read interform file="heading.inc" process>

<!-- put up the events for today and navigation buttons -->
<read interform file="subhead.inc" process>

 Description:
<!-- generic discussion description -->
 <if><get index=description agent> <then><get name=description agent></then>
 <else>
<form action="&url;" process copy  method=post>
<process> <set name=description agent><get name=description form></set>
<save-data  data=description>
</process>
<textarea name="description" rows=5 cols=60>
 Enter the purpose of this agent here.
</textarea>
<input type="SUBMIT" value="Submit">
</form>

</else> </if>

<table border=1>
<tr> <repeat list=&AGENT.topics.li.Text;><th> <a href=edit_topic.if?topic=&li;><get name=li> </a></th> </repeat> </tr>
<tr> <repeat list=&AGENT.topics.li.Text;><td><show-topic topic=&li; type=brief></td> </repeat> </tr>
<tr> <repeat list=&AGENT.topics.li.Text;><td> <form action="edit_topic.if"
     method=post>
<input name="topic" type=hidden  value=&li;>
 entry:<input name="entryname" size="15"><br>
 url:<input name="entryurl" size="20"><br>
 desc:<textarea name="description" rows=4 cols=20>
</textarea>
<br>
<input type="SUBMIT" value="Add_entry">
</form>
</td> </repeat> </tr>
</table>



<form action="edit_topic.if"     method=post>
  New topic:<input name="topic" size="15"> <input type="SUBMIT" value="To_Add">
</form>

<p>

<!-- generic agent information -->
<read interform file="about.inc" quiet process>



<hr>

<!-- shows/process the navigation bar -->
<expand><get agent name=navbar></expand>

 <!-- copyright and cvs source control information -->
<b>Copyright Å© 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ --><br>
</body></html>
