<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Add Photos Frame</title>
<link rev="made" href="mailto:marko@crc.ricoh.com">
<SCRIPT LANGUAGE="Javascript">
function ClaimNewPhotos(UserID) {
  location = "ClaimNewPhotos.if?userid=" + UserID;
}
function GetPhotos(UserID) {
  location = "GetPhotos.if?userid=" + UserID;
}
function Restart(UserID) {
  if (confirm("Erase all photos?")) {
    top.location = "Reset.if?userid=" + UserID;
  }
}
</SCRIPT>
</head>
<body BGCOLOR="#000099" TEXT="#FFFFFF">

<set name="onClick">onClick</set>

<set name="UserID"><get form name="userid"></set>

<set name="message"><get form name="message"></set>

<NOBR>
<APPLET codebase="/PhotoNet/" code="NewPhotoCheck.class" width=200 height=20>
<PARAM name="interval" value="5">
<PARAM name="Trace" value="true">
</APPLET>
<if><get name="message"><then>
<I>&message;</I>
</then>
</if>
</NOBR>

<BR>

<NOBR>
<FONT SIZE="-1" COLOR="#000000">
<FORM>
<INPUT &onClick;="ClaimNewPhotos('&UserID;');" TYPE="button"  NAME="Fetch from Camera" VALUE="Fetch from Camera">
<INPUT &onClick;="GetPhotos('&UserID;');" TYPE="button"  NAME="Fetch from Photonet" VALUE="Fetch from Photonet">
<INPUT &onClick;="top.Reset();" TYPE="button"  NAME="Home" VALUE="Home">
<INPUT &onClick;="Restart('&UserID;');" TYPE="button"  NAME="Clear" VALUE="Clear">
</FORM>
</FONT>
</NOBR>

</body></html>
