<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Initialize PhotoNet Agent</title>
<link rev="made" href="mailto:marko@crc.ricoh.com">
</head><body>

<!-- Ensure all correct directories exist -->

<write directory file="localphotos"></write>
<write directory file="metadata"></write>
<write directory file="userdata"></write>

<!-- Initialize counter if it does not already exist -->

<if><read file="photoid.latest">
<else>
<write file="photoid.latest">0</write>
<write file="photoid.first">0</write>
</else>
</if>

<!-- Add a utility script for restarting (clearing all photos) -->
<if><read file="restart">
<else>
<write file="restart"><read interform file="restart"></write>
</else>
</if>

<!-- Copy over user settings for marko (including photonet account details) -->
<if><read file="userdata/marko.xml" info>
<else>
<write file="userdata/marko.xml"><read interform file="marko.xml"></write>
<write file="userdata/marko.xml.ok"><read interform file="marko.xml"></write>
</else>
</if>

</body></html>
