<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:marko@crc.ricoh.com">
</head><body bgcolor="#FFFFFF">

<!-- Find file with info for logged in user -->

<set name="UserdataFileName">userdata/&FORM.userid;.xml</set>

<set name="userdata"><read file="&UserdataFileName;" process></set>

<set name="View">&FORM.View;</set>

<set name="CountLocal">0</set>
<set name="CountRemote">0</set>

<if><get name="userdata">
<then>

<!-- Check if the user wants to see all photos or just the latest batch -->
<!-- Also show a select box allowing user to change this setting -->
<FORM METHOD="GET" ACTION="Login.if" NAME="ViewChange">
View
<INPUT TYPE="hidden" NAME="userid" VALUE="&FORM.userid;">
<if><test match="all">&View;</test><then>
<SELECT NAME="View" onChange="document.ViewChange.submit();">
<OPTION SELECTED>all
<OPTION>new
</SELECT>
<set name="MinPhoto">0</set>
</then><else>
<SELECT NAME="View" onChange="document.ViewChange.submit();">
<OPTION>all
<OPTION SELECTED>new
</SELECT>
<set name="MinPhoto"><get index="userdata.startoflatestbatch.text"></set>
</else>
</if>
photos
</FORM>

<!-- Show thumbnails of all images -->
<set name="photos"><dummy><get index="userdata.photoids.-1-"></dummy></set>
<repeat list="&photos;" entity="photo">

<set name="photodata"><read file="metadata/&photo.Text;.xml" process></set>
<if><get name="photo"><then>
<if><get index="photodata.localurl.Text"><then>
<set name="CountLocal"><sum digits="0">&CountLocal; 1</sum></set>
</then>
</if>
<if><get index="photodata.remoteurl.Text"><then>
<set name="CountRemote"><sum digits="0">&CountRemote; 1</sum></set>
</then>
</if>

<if><sorted numeric>&MinPhoto; &photo.Text;</sorted><then>

<if><get index="photodata.localthumbnailurl.Text"><then>
<set name="thumbnailurl"><get index="photodata.localthumbnailurl.Text"></set>
</then>
<else>
<if><get index="photodata.remotethumbnailurl.Text"><then>
<set name="thumbnailurl"><get index="photodata.remotethumbnailurl.Text"></set>
</then>
</if>
</else>
</if>
<A HREF="/&agentName;/Pic.if?PhotoID=&photo.Text&userid=&FORM.userid;"><IMG SRC="&thumbnailurl;"></A>
</then>
</if>
</then>
</if>
</repeat>

<set name="budget"><get index="userdata.personal.photonetbudget"></set>
<set name="PhotonetPercentFull"><product digits="0"><quotient>&CountRemote; &budget;</quotient> 100</product></set>
<P>
<TABLE BGCOLOR="#000099" WIDTH="100%" CELLSPACING="0" CELLPADDING="3">
<TR>
<TD><FONT COLOR="#FFFFFF">Local storage: &CountLocal; photos</FONT></TD>
</TR>
<TR>
<TD><FONT COLOR="#FFFFFF">Remote storage: &CountRemote; photos (&PhotonetPercentFull;% full)</FONT></TD>
</TR>
</TABLE>

</then>
<else>
<!-- This is a brand new user -->
UNKNOWN USER
</else>
</if>

</body></html>




