<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Photo Name Resolver</title>
<link rev="made" href="mailto:marko@crc.ricoh.com">

<SCRIPT LANGUAGE="JavaScript">

function Upload() {
  userid = document.forms[0].userid.value;
  photoid = document.forms[0].PhotoID.value;
  location = "UploadPhotos.if?userid=" + userid + "&PhotoID=" + photoid;
}

function ChangeRemoteStorage() {
  if (document.forms[0].PhotonetStorage.checked) {
    if (confirm("Upload this picture to Photonet?")) {
       Upload();
    } else {
      document.forms[0].PhotonetStorage.checked = false;
    }
  } else {
    if (confirm("Remove this picture from Photonet?")) {
      alert("Not implemented");
    }
    document.forms[0].PhotonetStorage.checked = true;
  }
}

function ChangeLocalStorage() {
  userid = document.forms[0].userid.value;
  photoid = document.forms[0].PhotoID.value;
  if (document.forms[0].LocalStorage.checked) {
    if (confirm("Download this picture from Photonet?")) {
      alert("Not implemented");
    } else {
      document.forms[0].LocalStorage.checked = false;
    }
  } else {
    if (confirm("Remove this picture from local storage?")) {
      alert("Not implemented");
    }
    document.forms[0].LocalStorage.checked = true;
  }
}

function SubmitIfRemotelyStored() {
  if (document.forms[0].PhotonetStorage.checked) {
    document.forms[0].submit();
  } else {
    if (confirm("These services require the photo to first be uploaded to the Photonet site.  Do this now?")) {
      Upload();
      SubmitIfRemotelyStored();
    }
  }
}

function Email() {
  alert("Not implemented");
}

function PrintIm() {
  alert("Not implemented");
}


</SCRIPT>


</head><body bgcolor="#FFFFFF">

<set name="onClick">onClick</set>


<!-- Show options for a single photo -->

<!-- Find the user ID -->
<set name="UserID"><get form name="userid"></set>

<!-- Find the universal ID -->
<set name="PhotoID"><get form name="PhotoID"></set>

<!-- Given that, look up the metadata -->
<set name="metadata"><read file="metadata/&PhotoID;.xml" process></set>

<!-- Show local image if available, otherwise from remote service -->
<if><get index="metadata.localurl.Text">
<then>
<set name="LocalStorageChecked">CHECKED</set>
</then>
</if>
<if><get index="metadata.remoteurl.Text">
<then>
<set name="PhotonetStorageChecked">CHECKED</set>
</then>
</if>


<if><get name="LocalStorageChecked"><then>
<set name="PhotoLocalURL"><get index="metadata.localurl.Text"></set>
<IMG SRC="&PhotoLocalURL;" HEIGHT="480">
<BR><FONT SIZE="-1"><I>Source: Local</I>
</then>
<else>
<if><get name="PhotonetStorageChecked"><then>
<set name="PhotoRemoteURL"><get index="metadata.remoteurl.Text"></set>
<set name="PhotoRemoteActionURL"><get index="metadata.remoteactionurl.Text"></set>
<IMG SRC="&PhotoRemoteURL;" HEIGHT="480">
<BR><FONT SIZE="-1"><I>Source: Photonet Service</I>
</then>
<else>
<!-- No picture available -->
Photo unavailable
</else>
</if>
</else>
</if>


<FORM ACTION="Services.if" METHOD="POST">

<INPUT TYPE="hidden" NAME="PhotoID" VALUE="&PhotoID;">
<INPUT TYPE="hidden" NAME="userid" VALUE="&UserID;">


<TABLE>
<TR>
<TD>
Storage:
</TD>
<TD>
<INPUT &LocalStorageChecked; TYPE="checkbox" NAME="LocalStorage" VALUE="true" &onClick;="ChangeLocalStorage();">Local
<BR><INPUT &PhotonetStorageChecked; TYPE="checkbox" NAME="PhotonetStorage" VALUE="true" &onClick;="ChangeRemoteStorage();">Photonet
</TD>
<TD>
Local Services:
</TD>
<TD>
<INPUT &onClick;="Email();" TYPE="button"  NAME="Print" VALUE="Email">
<INPUT &onClick;="PrintIm();" TYPE="button" NAME="Print" VALUE="Print">
</TD>
</TR>

<TR>
<TD COLSPAN="2">
<if><get name="PhotoRemoteActionURL"><then>
<A HREF="&PhotoRemoteActionURL;">View remote copy</A>
</then></if>
</TD>

<TD>
Remote Services:
</TD>
<TD>
<!-- Find out what services are available -->
<SELECT NAME="Service">
<set name="ServiceDescriptions"><read interform directory file="services"></set>
<if><get name="ServiceDescriptions"><then>
<repeat list="&ServiceDescriptions;" entity="ServiceDescription">
<set name="serviced"><read interform file="services/&ServiceDescription;" process></set>
<if><get name="serviced"><then>
<OPTION><get index="serviced.name.Text">
</then>
</if>
</repeat>
</then>
</if>
</SELECT>


<INPUT &onClick;="SubmitIfRemotelyStored()" TYPE="button" NAME="Order" VALUE="Order">
</TD>
</TR>
</TABLE>



</FORM>


</body></html>
