<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:marko@crc.ricoh.com">
</head><body bgcolor="#FFFFFF">

<!-- Find file with info for logged in user -->

<set name="UserdataFileName">userdata/&FORM.userid;.xml</set>

<set name="userdata"><read file="&UserdataFileName;" process></set>

<set name="View">&FORM.View;</set>

<set name="Output1"></set>

<set name="Output2"></set>

<set name="Count">0</set>

<if><test match="all">&View;</test><then>
<set name="MinPhoto">0</set>
</then><else>
<set name="MinPhoto"><get index="userdata.startoflatestbatch.text"></set>
</else>
</if>

<set name="photos"><dummy><get index="userdata.photoids.-1-"></dummy></set>
<repeat list="&photos;" entity="photo">

<set name="photodata"><read file="metadata/&photo.Text;.xml" process></set>
<if><get name="photo"><then>

<if><sorted numeric>&MinPhoto; &photo.Text;</sorted><then>

<if><get index="photodata.localurl.Text"><then>

<set name="Count"><sum digits="0">&Count; 1</sum></set>

<set name="PUrl"><get index="photodata.localthumbnailurl.Text"></set>

<set name="Output1">&Output1;
<PARAM NAME="ImageURL&Count;" VALUE="&PUrl;"></set>

<set name="Output2">&Output2;
ImageURL&Count;="&PUrl;"</set>


</then>
</if>
</then>
</if>
</repeat>

<protect-result>
<set name="Output3">
<OBJECT classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"
     width="550" height="265" align="baseline"
     codebase="http://java.sun.com/products/plugin/1.2/jinstall-12-win32.cab#Version=1,2,0,0">
 <PARAM NAME="code" VALUE="crc.story.ui.PhotoStoryApplet"></PARAM>
 <PARAM NAME="archive" VALUE="crc.story.jar"></PARAM>
 <PARAM NAME="type" VALUE="application/x-java-applet;version=1.2"></PARAM>
 &Output1;
<COMMENT>
<embed type = "application/x-java-applet;version=1.2"
     width = "550" height = "265" align = "baseline"
     code = "crc.story.ui.PhotoStoryApplet"
     archive = "crc.story.jar"
 &Output2;
 pluginspage = "http://java.sun.com/products/plugin/1.2/plugin-install.html">
 <NOEMBED>
  No JDK 1.2 support for APPLET!!
 </NOEMBED>
</embed>
</COMMENT>
</OBJECT>
</set>
</protect-result>

&Output3;

</body></html>
