<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Store a photo on the pia server and email the URL</title>
<link rev="made" href="mailto:marko@crc.ricoh.com">
</head><body>

<set name="onClick">onClick</set>

<!-- Set the name of the image server -->
<set name="Server">http://ox.crc.ricoh.com/</set>

<!-- Find the universal ID -->
<set name="PhotoID"><get form name="PhotoID"></set>

<!-- Given that, look up the metadata, to find the local file name -->
<set name="metadata"><read file="metadata/&PhotoID;.xml" process></set>
<set name="ImageFilename"><get index="metadata.localfile.Text"></set>

<!-- Find the user's email address -->
<set name="Email"><get form name="Email"></set>

<!-- Find a unique ID for the new photo -->
<set name="UploadedIDText"><read href="&Server;cgi-bin/PhotoKiosk/GetNewUniqueID.py" process></set>
<set name="UploadedID"><get index="UploadedIDText.Text"></set>

<!-- Upload the photo -->
<!-- (Email is sent by the storage server) -->
<set name="dummy">
<submit-forms>
<form ENCTYPE="multipart/form-data" METHOD="POST" action="&Server;cgi-bin/PhotoKiosk/UploadPhoto.py">
<input type="text" name="Email" value="&Email;">
<input type="text" name="FileName" value="&UploadedID;.jpg">
<input type="file" name="Image" value="&ImageFilename;">
</form>
</submit-forms>
</set>


<!-- Return a message to the user with the remote URL -->
<set name="UploadedURL">&Server;Photos/&UploadedID;.html</set>
Image is now at <A HREF="&UploadedURL;">&UploadedURL;</A>
<BR>Email has been sent to &Email;
<P>
<FORM><INPUT &onClick;="top.Reset()" TYPE="button" VALUE="Continue"></FORM>




