<html><head>
<title>Kiansho</Title>
</head>

<body bgcolor="#ffffff">

<center><a href="http://&piaHOST;:&piaPORT;/&agentName;/forms.if"><img src="../formsbutton.gif"></a><a href="http://&piaHOST;:&piaPORT;/&agentName;/users.if"><img src="../userbutton.gif"></a><a href="http://&piaHOST;:&piaPORT;/&agentName;/reports.if"><img src="../reportsbutton.gif"></a><a href="/Forms/feedback/feedback.if"><img src="../feedbackbutton.gif"></a></center><p>

<h1>Kiansho</h1>

<form method=POST action="kiansho_process.if">

Username:
<select name=name><set entity name=namelist><read file="namelist.dat"></set><repeat list="&namelist;"><option> &li;</repeat></select><p>
 
Amount ($): <input name=cost><p>

Subject: <br> <textarea name=subject rows=2 cols=70> </textarea><p>

Explanation: <br> <textarea name=explanation rows=2 cols=70></textarea><p>
Effect: <br> <textarea name=effect rows=2 cols=70></textarea><p>

Detail of Expenditure: <br> <textarea name=expenditure rows=2 cols=70></textarea><p>

Recommended Vendors: <br> <textarea name=vendor rows=2 cols=70></textarea><p>

<INPUT type=submit name=process value="Process"><p>
 
</html>
