<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Hide/Show &agentName; toolbar</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name="subs"><agent-list subs type="&agentType;"></set>

<set entity name=title>Hide/Show Toolbar</set>
<read interform file="heading.inc" process><p>

<table cellspacing=0 cellpadding=0 border=0>
<tr><th width=170><td>
  <table cellspacing=0 cellpadding=0 border=0>
    <tr><th width=170><img src="/Agency/Icons/blank170x1.gif"
	                   width=170 height=1></th>
        <td>
    <tr><th align=right>
	    <td> <a href="home.if">Home</a>
    		 <a href="index.if">Index</a>
    		 <a href="help.if">Help</a>
<if><read info interform file="initialize.if"><then>
    <tr><th><td><a href="options.if">Options</a>
	    	      <a href="initialize.if">[re-initialize]</a></then>
</if>
    <tr><th align=right><img src="/Agency/Icons/dot-blue.gif"
			     height=20 width=20 alt="*">
	<td>Hide / Show toolbar
    <tr><th align=right>
           <if><test not exact match="&agentType;">&agentName;</test>
	        <then><a href="/&agentType;/home.if">&agentType;</a>/</then>
                <else>&agentType; agents: </else></if>
        <td><repeat list="&subs;">
               <a href="/&li;">&li;</a> <a href="/&li;/"><b> / </b></a>
           </repeat>
    <tr><th><td> <a href="using.if">Using  &agentType; Agents</a>
    <tr><th><td> <a href="writing.if">Writing &amp; Customizing
		    		      &agentType; Agents</a>
  </table>
</table>
<hr>
<a href="/">PIA</a> || <a href="/Agency">Agency</a> ||
<if><test not exact match="&agentType">&agentName;</test>
    <then><a href="/&agentType;">/&agentType;</a>
          <a href="/&agentType;/">/</a></then></if>
<a href="home.if">&agentName;</a>
<a href="home.if">/</a>
<a href="options.if">options</a> 
// <repeat list="&subs;">
   <a href="/&li;">&li;</a> <a href="/&li;/"><b> / </b></a></repeat>
<hr>

<if><test match=false><get form name=hide></test>
    <then><set agent name=hidden></set>
<else><if><get form name=hide>
    <then><set agent name=hidden>true</set>
<else><if><get form name=show>
    <then><set agent name=hidden></set>
<else><if><get form name=hidden>
    <then><set agent name=hidden><get form name=hidden></set>
</if></if></if></if>

<h3>&agentName; controls <em>
<if><get agent name=hidden><then>Hidden<else>Shown</if></em>
</h3>

<if><get agent name=hidden>
<then>
<form action="hide.if">
  <input type=hidden name=show value=true>
  <input type=submit value=SHOW>
</form>
<else>
<form action="hide.if">
  <input type=hidden name=hidden value=true>
  <input type=submit value=HIDE>
</form>
</if>

<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="/Root/&filePath;">&filePath;</a>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
