<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Using &agentType; Agents</title>
<link rev="made" href="mailto:steve@rsv.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name="subs"><agent-list subs type="&agentType;"></set>
<set entity name=title>Using  &agentType; Agents</set>
<read interform file="heading.inc" process><p>

Once a <a href="&agentType;">&agentType;</a> agent is installed it requires
little attention; it will simply look ``over your shoulder'' at some subset of
your HTTP transactions and report its findings to you, usually by attaching
information to the top or bottom of each page.<p>


<h2>About Banners</h2>

Most <a href="&agentType;">&agentType;</a> agents put a ``banner'' on top of
certain pages retrieved from the agency.  <p>

The banner usually starts out with a distinctive logo that indicates where the
page came from.  For example, the <a href="/&agentType;/fbi">fbi</a> agent,
which puts banners on pages that come from <em>inside the PIA</em>, attaches a
PIA logo (<img src="Logo/pia24.gif" height=24 width=43>) which is a link to
the PIA's home page.<p>

This is usually followed by a link to your personal PIA data directory (<a
href="/My">/My</a>), that looks like this: 

<dl>
  <dt> <a href="/My">[~]</a>
  <dd> <a href="/My">/My</a> (The tilde is the usual shorthand for one's
       ``home directory'' on a Unix system, or a user's home page on a Web
       server.)
</dl>

The banner normally also refers to the following items in the <a
href="/History">History</a> agent's data directory:

<dl>
  <dt> [ <a href="/History">Hist:</a> 
  <dd> <a href="/History">/History</a> -- the History agent's home page
  <dt> <a href="/~History">*</a> 
  <dd> <a href="/~History">/~History</a> -- the History agent's data
       directory. 
  <dt> <a href="/~History/&year;">&year;</a> /
  <dd> <a href="/~History/&year;">/~History/&year;</a> --
       the history for the current year
  <dt> <a href="/~History/&year;/&month;">&month;</a> /
  <dd> <a href="/~History/&year;/&month;">/~History/&year;/&month;</a> --
       the history for the current month
  <dt> <a href="/~History/&year;/&month;/&day;.html">&day;</a>
  <dd> <a href="/~History/&year;/&month;/&day;.html">
       /~History/&year;/&month;/&day;.html</a> --
       the history for today
  <dt> <a href="/~History/last.html">&hour;:&minute;</a>] --
  <dd> <a href="/~History/last.html">/~History/last.html</a>
</dl>



<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
<address><a href="http://rsv.ricoh.com/~steve/"
         >Stephen R. Savitzky</a> &lt;<a href="mailto:steve@rsv.ricoh.com"
         >steve@rsv.ricoh.com</a>&gt;</address>
</body></html>
