<!-- Temporary kludge using the legacy tagset to document tagsets. -->

<actor tag=tagset><html><head>
  <title>&lt;tagset <repeat list="&attributes;"> &li; </repeat>&gt;</title>
  </head><body>
  <h1>&lt;tagset <repeat list="&attributes;"> &li; </repeat>&gt;</h1>
	<if>&content;<then>&content;</if>
	<p>
  </body></html>
</actor>

<actor tag=define>
  <strong>&lt;define</strong>
	   <repeat list="&attributes;"> &li; </repeat><strong>&gt;</strong> <br>
	<if>&content;<then><blockquote>&content;</blockquote></if>
	<p>
</actor>

<actor tag=action quoted>
   &lt;action&gt;
	<blockquote><pre><protect-result markup>&content;</protect-result></pre></blockquote>
	   &lt;/action&gt;
</actor>

<actor tag=value quoted>
   &lt;value&gt;
	<blockquote><pre><protect markup>&content;</protect></pre></blockquote>
	   &lt;/value&gt;
</actor>

<actor tag=doc>
  <blockquote><em>&content;</em></blockquote>
</actor>

<actor tag=note>
  <dl>
    <dt> <strong>Note: </strong> (&attributes;)
    <dd> <em>&content;</em>
  </dl>
</actor>

<actor tag=cvs-id><h3>&content;</h3></actor>

<actor tag=tag><code>&lt;&content;&gt;</code></actor>

