<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Generic Home Page for &agentName;</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<!-- NOTE: This page exists only for backwards compatibility. -->
<!--       It has been completely supplanted by home.xh       -->

<set entity name=title>Home Page</set>
<read interform file="heading.inc" process>

<set entity name="subs"><agent-list subs type="&agentType;"></set>
<if><test exact match="&agentType">&agentName;</test>
    <then><set name=agentPath>&agentName;</set></then>
    <else><set name=agentPath>&agentType;/&agentName;</set></else>
</if>
<set entity name="subs"><agent-list subs type="&agentType;"></set>
<table cellspacing=0 cellpadding=0 border=0>
<tr>
  <th width=170>
    <read quiet interform file="insert" process>
  <td>
    <table cellspacing=0 cellpadding=0 border=0>
    <tr><th width=170><img src="/Icon/blank170x1.gif"
	                   width=170 height=1></th>
        <td><br>
    <tr><th align=right><img src="/Icon/dot-blue.gif"
			     height=20 width=20 alt="*">
	    <td> <b href="home">Home</b>
    		 <a href="index">Index</a>
    		 <a href="help">Help</a>
<if><read info interform file="initialize"><then>
    <tr><th><td><a href="options">Options</a>
	    	      <a href="initialize">[re-initialize]</a></then>
</if>
    <tr><th><td><a href="/PIA/Agents/&agentPath;/">InterForms</a>
	        <a href="/My/Agents/&agentPath;/">(Customized)</a>
    <if>&subs;<then>
    <tr><th align=right>
           <if><test not exact match="&agentType;">&agentName;</test>
	        <then><a href="/&agentType;/home">&agentType;/</a></then>
                <else>&agentType;/</else></if>
        <td><repeat list="&subs;">
               <a href="/&li;">&li;</a> <a href="/&li;/"><b> / </b></a>
           </repeat></then></if>
    </table>
</table>
<hr>
<p><strong>Note:</strong> You got here by following a link to
   "<code>home.if</code>".  The correct way to link to an agent's home page is
   "<code>home</code>", so that home pages with different extensions can be
   found. 
<p>
<!-- See whether there's an "about" file for this agent. -->
<read interform file="about.inc" quiet process>
<p>

<hr>
<a href="/">PIA</a> || <a href="/Admin">Admin</a> ||
<if><test not exact match="&agentType;">&agentName;</test>
    <then><a href="/&agentType;/home">&agentType;</a>
          <a href="/&agentType;/"> / </a>
          <a href="/&agentType;/&agentName;">&agentName;</a>:
          <a href="/&agentType;/&agentName;/">index</a>
          <a href="/&agentType;/&agentName;/">help</a>
	  <a href="/&agentType;/&agentName;/options">options</a>
    <else><a href="/&agentName;/home">&agentName;</a>:
	  <a href="/&agentName;/">index</a>
	  <a href="/&agentName;/">help</a>
	  <a href="/&agentName;/options">options</a>
</if>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
