<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Generic Index for &agentName;</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Index Page</set>
<read interform file="heading.inc" process>

<set entity name="subs"><agent-list subs type="&agentType;"></set>
<if><test exact match="&agentType">&agentName;</test>
    <then><set name=agentPath>&agentName;</set></then>
    <else><set name=agentPath>&agentType;/&agentName;</set></else>
</if>

<table cellspacing=0 cellpadding=0 border=0>
<tr><th width=170>
	<img src="/Agency/Icons/white170x1.gif" width=170 height=1>
    <td>
  <table cellspacing=0 cellpadding=0 align=center border=0>
    <tr><th width=170>
	<img src="/Agency/Icons/white170x1.gif"
	                   width=170 height=1> <td><br>
    <tr><th align=right><img src="/Agency/Icons/dot-blue.gif"
			     height=20 width=20 alt="*">
	    <td> <a href="home.if">Home</a>
    		 <b href="index.if">Index</b>
    		 <a href="help.if">Help</a>
<if><read info interform file="initialize.if"><then>
    <tr><th><td><a href="options.if">Options</a>
	    	      <a href="initialize.if">[re-initialize]</a></then></if>
    <tr><th><td><a href="/PIA/Agents/&agentPath;/">InterForms</a>
	        <a href="/My/Agents/&agentPath;/">(Customized)</a>
<if><get agent name=criteria><then>
    <tr><th align=right> criteria:
        <td><get agent name=criteria>
</if>
<if><get agent name=do-not-remove><then></then><else>
    <tr><th align=right>
        <td><form action="/Agency/remove_agent.if" method="POST">
              <input name="agent" value="&agentName;" type=hidden>
              <input type="submit" value="Remove &agentName;">
            </form>
</if>
<if>&subs;<then>
    <tr><th align=right>
           <if><test not exact match="&agentType;">&agentName;</test>
	        <then><a href="/&agentType;/home.if">&agentType;/</a></then>
                <else>&agentType;/</else></if>
        <td><repeat list="&subs;">
               <a href="/&li;">&li;</a> <a href="/&li;/"><b> / </b></a>
           </repeat></then>
</if>
    <tr><th valign=top align=right><b>Agents:</b>
        <td valign=top> <repeat list="&agentNames;" entity="foo">
          <a href="/&foo;">&foo;</a> <a href="/&foo;/"><b> / </b></a>
       </repeat><br>
  </table>
</table>

<if><get agent name=do-not-remove><then>
<hr>
<dl>
  <dt> Note:
  <dd> This page does not have an option for removing the
       <a href="home.if">&agentName;</a> agent.  It is required for the proper
       functioning of this appliance.
</dl>
</if>

<hr>
<a href="/">PIA</a> || <a href="/Agency">Agency</a> ||
<if><test not exact match="&agentType;">&agentName;</test>
    <then><a href="/&agentType;/home.if">&agentType;</a>
          <a href="/&agentType;/"> / </a>
          <a href="/&agentType;/&agentName;">&agentName;</a>:
          <a href="/&agentType;/&agentName;/">index</a>
          <a href="/&agentType;/&agentName;/">help</a>
	  <a href="/&agentType;/&agentName;/options.if">options</a>
    <else><a href="/&agentName;/home.if">&agentName;</a>:
	  <a href="/&agentName;/">index</a>
	  <a href="/&agentName;/">help</a>
	  <a href="/&agentName;/options.if">options</a>
</if>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>

