<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Generic Options Page for &agentName;</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Options Page</set>
<read interform file="heading.inc" process>

<if><test exact match="&agentType">&agentName;</test>
    <then><set name=agentPath>&agentName;</set></then>
    <else><set name=agentPath>&agentType;/&agentName;</set></else>
</if>
<table cellspacing=0 cellpadding=0 border=0>
<tr><th width=170><td>
    <table cellspacing=0 cellpadding=0 border=0>
    <tr><th width=170>
	<img src="/Icon/white170x1.gif"
	                   width=170 height=1> <td><br>
    <tr><th align=right>
	    <td> <a href="home">Home</a>
    		 <a href="index">Index</a>
    		 <a href="help">Help</a>
    <tr><th align=right><img src="/Icon/dot-blue.gif"  
		             height=20 width=20 alt="*">
        <td> <strong>Options</strong>
	    <if><read info interform file="initialize">
	        <then><a href="initialize">[re-initialize]</a></then></if>
    <tr><th><td><a href="/PIA/Agents/&agentPath;/">InterForms</a>
	        <a href="/My/Agents/&agentPath;/">(Customized)</a>
<if><get agent name=do-not-remove><else>
    <tr><th align=right><td>  
       <form action="/Admin/remove-agent" method="POST">
       <input name="agent" value="&agentName;" type=hidden>
       <input type="submit" value="Remove &agentName;">
       </form></if>
    </table>
</table>
<hr>
<!-- generic navigation bar -->
<a href="/">PIA</a> || <a href="/Admin">Admin</a> ||
<if><test not exact match="&agentType;">&agentName;</test>
    <then><a href="/&agentType;/home">&agentType;</a>
          <a href="/&agentType;/"> / </a>
          <a href="/&agentType;/&agentName;">&agentName;</a>:
          <a href="/&agentType;/&agentName;/">index</a>
          <a href="/&agentType;/&agentName;/">help</a>
	  <a href="/&agentType;/&agentName;/options">options</a>
    <else><a href="/&agentName;/home">&agentName;</a>:
	  <a href="/&agentName;/">index</a>
	  <a href="/&agentName;/">help</a>
	  <a href="/&agentName;/options">options</a>
</if>
<hr>

<set entity name=opts><agent-options></set>
<form method=POST action="&url;"><table>
  <tr> <th><input type=submit value="Change Options"></th></tr>
  <repeat list="&opts;" entity=opt><tr>
    <th align=right valign=top>&opt;:</th>
    <td><set entity name=v><get agent name="&opt;"></set>
	<if><test exact match="act-on">&opt;</test>
	    <test exact match="handle">&opt;</test>
	    <test markup>&v;</test>
	<then><textarea name="&opt;" cols=50 rows=10
	      ><protect-result markup>&v;</protect-result></textarea></then>
	<else><input name="&opt;" value="&v;" size=50></else>
	</if></td><p></tr>
  </repeat>
</table></form>

<if><get agent name=do-not-remove><then>
<hr>
<dl>
  <dt> Note:
  <dd> This page does not have an option for removing the
       <a href="home">&agentName;</a> agent.  It is required for the proper
       functioning of this appliance.
</dl>
</if>

<hr>
<a href="/">PIA</a> || <a href="/Admin">Admin</a> ||
<if><test not exact match="&agentType;">&agentName;</test>
    <then><a href="/&agentType;/home">&agentType;</a>
          <a href="/&agentType;/"> / </a>
          <a href="/&agentType;/&agentName;">&agentName;</a>:
          <a href="/&agentType;/&agentName;/">index</a>
          <a href="/&agentType;/&agentName;/">help</a>
	  <a href="/&agentType;/&agentName;/options">options</a>
    <else><a href="/&agentName;/home">&agentName;</a>:
	  <a href="/&agentName;/">index</a>
	  <a href="/&agentName;/">help</a>
	  <a href="/&agentName;/options">options</a>
</if>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
