<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Catalog of Pictures</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">

</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Catalog</set>
<read interform file="heading.inc" process>

<table  border=1>
<TR><TH>Title<TH>Captions created</TR>
<read file="&AGENT.masterlist;">
</table>

<hr>
<h3>All Rolls</h3>
<set entity name="entries"><read file=".catalog"></set>
<ul foreach list=&entries;>
<li> <a href="show_roll.if?roll=&li;">&li;</a>
</ul>

<hr><get agent name="banner">
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>

