<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Help for &agentName;</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title>Help for &agentName;</set>
<read interform agent=Agency file="heading.inc" process>

<h3>Functions</h3>
<ul>
  <li><a href="/Photos/&latest;/">Latest photos</a>
  <li><a href="/Photos/">All photos</a>
  <li><a href="/&agentName;/slide_show.if">Slideshows</a>
  <li><a href="/&agentName;/catalog.if">Catalog</a>
         <li><a href="http://cdrw/CDRW/publish_photos.if">Create CD</a>
  <li><a href="/&agentName;/installation.html">Installation Instructions</a>
</ul>
<hr>
<if><test><get agent name="banner"></test><then>&AGENT.banner; <hr>
<p>
</then></if>


<b>$Id$</b><br>
<!-- hhmts start -->
Last modified: Tue Jun  3 17:15:01 1997
<!-- hhmts end -->
<p>
<address><a href="http://www.crc.ricoh.com/people/wolff/wolff.html"
         >Greg Wolff</a> &lt;<a href="mailto:wolff@crc.ricoh.com"
         >wolff@crc.ricoh.com</a>&gt;</address>
</body></html>
