<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Digital Photo Album </title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>Photo Album<br>agent home page</set>
<read interform file="heading.inc" process>

<set entity  name=latest><read file=".latest"></set>

<table cellspacing=0 BORDER=0>
<TR><th width=170>
	<a href="http://www.ricohcpg.com/digital.html">
	  <img src="/Photo_Album/rdc2esmall.gif" width=144 height=99
	       alt="Digital Camera"></a>
<td>
  <table cellspacing=0 BORDER=0>
    <tr><td align=right width=170><br>

  <if><get name=latest><then>
    <TR><TD align=right width=170>
    <td><a href="/&agentName;/latest.if">
          <img src="/~&agentName;/&latest;/r0100001.small.gif"
               height=32 width=32 border=0 alt="Photo Album"></a>
	<a href="/&agentName;/show_roll.if">Newest Photos</a><br>
  </then></if>
    <TR><TD align=right width=170>
	<td><!-- put this td after the icon to get the -->
            <!-- icons lined up to the left of the PIA -->
        <a href="/&agentName;/catalog.if">
          <img src="/Photo_Album/album.gif"  height=32 width=32 border=0></a>
	<a href="/&agentName;/catalog.if">Photos Catalog</a><br>

    <TR><TD align=right>
	<td>
        <a href="/&agentName;/catalog.if">
          <img src="/Photo_Album/album.gif"  height=32 width=32 border=0></a>
	<a href="import_pictures.if">Import Pictures (from web) </a><br>

    <TR><TD align=right>
	<td>
        <a href="/&agentName;/slide_show.if">
          <img src="/Photo_Album/slides.gif"  height=32 width=32 border=0></a>
	<a href="/&agentName;/slide_show.if">Slideshows</a><br>

    <tr><TD align=right>
	<td>
	    <a href="/&agentName;/help.if">
              <img src="/Photo_Album/help.gif"  height=32 width=63 border=0></a>
	    <a href="/&agentName;/help.if">Help</a><br>
<if><get agent name=CDwriter><then>
    <tr><td align=right>
	<td>
        <a href="&AGENT.CDwriter;">
          <img src="/Agency/Icons/cd.gif" height=32 width=32 border=0></a>
	<!-- should test for CD-R/RW -->
	<a href="&AGENT.CDwriter;">Create photo CD</a>
	<br>
</tr></then></if>
  </table>
  

</table>
<p>
<set name=checked><read file="checkout"></set>
<if><get name=checked><then>
       Camera is <a href="checkout.if">checked out</a> to <get name=checked>
      </then><else>
        Please <a href="checkout.if"> Check-Out the camera</a>
      </else></if>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
<address><a href="http://www.crc.ricoh.com/people/wolff/wolff.html"
         >Greg Wolff</a> &lt;<a href="mailto:wolff@crc.ricoh.com"
         >wolff@crc.ricoh.com</a>&gt;</address>
</body></html>

