<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Latest Pictures</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Latest Pictures</set>
<read interform file="heading.inc" process>

<set entity  name=latest><read file=".latest"></set>
<set agent name="slides"><read directory file="&latest;" match="\.jpg$"></set>
 <set agent name="slide_directory"><get entity name="latest"></set>
<set agent name="next_slide">1</set>
<if><test><get agent name="slide_pause"></test><then> </then><else><set agent
name="slide_pause">10</set></else></if>



Most recent pictures captured on  &latest;.
<ul>
  <li><a href="/Photos/&latest;/index.html">Add Captions</a>
  <li><a href="show_slide.if">Start slide show</a> 
</ul>

<repeat list="&AGENT.slides;">
<set name="small"><subst match=".jpg" result=".small.gif">&li; </subst></set>
 <a href="/Photos/&latest;/&li;"><img  src="/Photos/&latest;/&small;" ></a>
</repeat>

<hr>
<if><test><get agent name="banner"></test><then>&AGENT.banner; <hr>
<p>
</then></if>

<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>

