

<if>&FORM.file;<then><os-command>mv &FORM.file; &FORM.file;.orig</os-command>
<os-command>djpeg &FORM.file;.orig | pnmflip -r270 | cjpeg -quality 85> &FORM.file;.orig</os-command></then></if>