<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Slide Show Setup</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Slide Show Setup</set>
<read interform file="heading.inc" process>

<if><test><get form name="directory"></test><then><set agent
name="slides"><read directory file="&FORM.directory;" match="\.jpg$"></set>
 <set agent name="slide_directory"><get form name="directory"></set>
<set agent name="next_slide">1</set>
<if><test><get agent name="slide_pause"></test><then> </then><else><set agent
name="slide_pause">10</set></else></if>
<a href="show_slide.if">Start show of &FORM.directory;</a>
<br><hr>OR
</then></if>
<h3>choose directory</h3>
<set entity name=directories><read file=".catalog"></set>
<form method=POST action="slide_show.if">
<select name=directory foreach list="&directories;">
<option>&li;</option></select>
<input type=submit value="ShowSlides">
</form>



<hr>
<if><test><get agent name="banner"></test><then>&AGENT.banner; <hr>
<p>
</then></if>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
