<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<h1>Load slide show </h1>
<if><test><get form name="directory"></test><then><set agent
name="slides"><read directory file="&FORM.directory;" match="\.jpg$"></set>
 <set agent name="slide_directory"><get form name="directory"></set>
<set agent name="next_slide">1</set>
<if><test><get agent name="slide_pause"></test><then> </then><else><set agent
name="slide_pause">10</set></else></if>
<a href="show_slide.if">Start show of &FORM.directory;</a>
<br><hr>OR
</then></if>
<h3>choose directory</h3>
<set entity name=directories><read file=".catalog"></set>
<form method=POST action="slide_show.if">
<select name=directory foreach list="&directories;">
<option>&li;</option></select>
<input type=submit value="ShowSlides">
</form>



<hr>
<b>$Id$</b><br>
<!-- hhmts start -->
Last modified: Thu Apr 17 17:54:51 1997
<!-- hhmts end -->
<p>
<address><a href="http://www.crc.ricoh.com/people/wolff/wolff.html"
         >Greg Wolff</a> &lt;<a href="mailto:wolff@crc.ricoh.com"
         >wolff@crc.ricoh.com</a>&gt;</address>
</body></html>
