<!doctype html system "html.dtd">
<html><head>
<title>The History agent home page</title>
<link rev="made" href="mailto:steve@crc.ricoh.com"></link>
</head><body bgcolor="#ffffff">
<h1>The History agent</h1>

<if><agent-running name=History>
  <then><code>&agentName;</code> installed.
        <a href="/&agentName;/initialize.if">[re-initialize]</a></then>
  <else>see the <a href="/Agency/installers.if#History">installation page</a>
        or <br>
        <form method=POST action="/Agency/install_agent.if">
		<input name="agent" value="History" size=30>
		<input type="submit" value="Install Now">
        </form>
  </else>
</if>
<p>

<hr>
<a href="/Agency">PIA</a> | <a href="/">agents</a> | <a href="/cia">CIA</a> |
<a href="/fbi">FBI</a> | <a href="/History">History</a> |
<a href="/My/History/">/My/History</a> <p>

<ul>
  <li>History Agent: <a href="/History">/History</a>
  <li>History directory: <a href="/My/History">/My/History</a>
  <li>Page info: <a href="/My/History/.last.html">/My/History/.last.html</a>
  <li>Last link: <a  href="/My/History/.last.link">/My/History/.last.link</a>
</ul>

<h3>Directory Format</h3>

The History agent uses a directory hierarchy of the form:

<dl>
  <dt> yyyy/
  <dd> 
       <dl>
	 <dt> mm/
	 <dd> 
	      <dl>
		<dt> dd.html
		<dd> 
	      </dl>
       </dl>
</dl>

The year is always four digits; month and day are always two.  This makes
sorting files by date very easy.  <p>

Older versions of the PIA used <code>yymmdd.html</code> as the filename.  A
PERL program, <code><read interform info=path file="fixup.pl"></code>, is
provided for fixing old History directories.<p>


<h3>Agent Act_On Hook</h3>

<blockquote><em>
  This is the source code for the hook that writes data into the history
  files.  It is slightly contorted due to the desire not to write extra
  newlines or spaces into the file.<p>

  It can be customized by making an edited copy of the &agentName;
  initialization InterForm, <a href="/PIA/Agents/&agentName;/initialize.if"
  >/PIA/Agents/&agentName/initialize.if</a>, and putting it in your personal
  InterForm directory as <code>~/.pia/Agents/&agentName;/initialize.if</code>
</em></blockquote>

<pre><protect-result markup><get agent name="_act_on"></protect-result>
</pre>

<hr>

The <code>&agentName;</code> agent puts information into the history database,
which is located in <a href="/My/history">/My/history</a>.  The <a
href="/cia/">cia</a> and <a href="/fbi/">fbi</a> agents put a small control
bar at the top of each page that refers to the history database.<p>

The ``last link'' file is particularly useful; the following Emacs code lets
you define a key that inserts a link to the last page you visited:

<blockquote><pre><!-- listing doesn't work for some reason -->
(global-set-key "\C-Cy"   'generic-insert-last-link)
(defun generic-insert-last-link ()
  "Insert a link to the last page visited into the buffer"
  (interactive)
  (insert-file-contents "~/.pia/History/.last.link") )
</pre></blockquote>

<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
<address><a href="http://www.crc.ricoh.com/people/steve/steve.html"
         >Stephen R. Savitzky</a> &lt;<a href="mailto:steve@crc.ricoh.com"
         >steve@crc.ricoh.com</a>&gt;</address>
</body></html>
