<!doctype html system "html.dtd">
<html><head>
<title>Initialize the &agentName; agent</title>
<link rev="made" href="mailto:steve@crc.ricoh.com"></link>
</head><body>
<h1>Initialize the &agentName; agent</h1>

<user-message>Initializing &agentName; from &filePath;</user-message>
<agent-set-criteria>response agent-response-</agent-set-criteria>
<user-message>&agentName; criteria: <agent-criteria></user-message>

<set agent hook name="controls"><protect><!-- from History agent: -->
<set entity name=pia>http://&piaHOST;:&piaPORT;</set>
[<a href="&pia;/History">Hist</a>
 <a href="&pia;/~History/">*</a>/<a
    href="&pia;/~History/&year;/">&year;</a>/<a
    href="&pia;/~History/&year;/&month;/">&month;</a>/<a
    href="&pia;/~History/&year;/&month;/&day;.html">&day;</a>
 <a href="&pia;/~History/.last.html">&time;</a>]</protect></set>

<set agent hook name="act-on"><protect><it>
   <set entity name=ct><get trans headers name=Content-Type></set>
   <set entity name=fn>&year;/&month;/&day;.html</set>
   <write directory file="&year;"></write>
   <write directory file="&year;/&month;"></write>
   <if><get trans feature name="html">
       <then><set entity name=title><get trans feature name=title></set>
	     <write append trim line file="&fn;">
	 	&time; <a href="&url;">&url; : &title;</a><br>
	     </write>
             <write trim line file="last.link">
		 <a href="&url;">&url; : &title;</a>
	     </write>
             <write file="last.html">&date; &time; <a href="&url;">&url; : &title;</a>
<dl>
  <dt> <b>Link:</b>
  <dd> <protect-result markup><a href="&url;">&url; : &title;</a></protect-result>
  <dt> <b>Reply Header</b>
  <dd> <pre><get trans headers></pre>
  <dt> <b>Request Header</b>
  <dd> <pre><get trans request headers></pre>
</dl>
</write>
       </then>
       <else><write trim line append file="&fn;">
		&time; --&ct;- <a href="&url;">&url;</a><br>
	     </write></else>
    </if>
</it></protect></set>

<dl>
  <dt> <b>Note:</b>
  <dd> The history agent adds items to the history database (makes sense,
       doesn't it).  It does <em>not</em> put anything on pages returned to
       the user's browser; that's up to the <a href="/cia">CIA</a> agent.
</dl>

<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
