<html><head>
<title>Time Card</Title>
</head>

<body bgcolor="#ffffff">

<center><a href="http://&piaHOST;:&piaPORT;/&agentName;/forms.if"><img src="../formsbutton.gif"></a><a href="http://&piaHOST;:&piaPORT;/&agentName;/users.if"><img src="../userbutton.gif"></a><a href="http://&piaHOST;:&piaPORT;/&agentName;/reports.if"><img src="../reportsbutton.gif"></a><a href="/Forms/feedback/feedback.if"><img src="../feedbackbutton.gif"></a></center><p>

<h1>Time Card</h1>

<form method=POST action="timecard_process.if">

Pay Period including or ending on:
<select name=paydate>
<option>&month;/&day;</option>
<set entity name=paydate><read file="paydate.dat"></set><repeat list="&paydate;"><option> &li;</repeat></select><p>

Username:
<select name=name><set entity name=namelist><read file="namelist.dat"></set><repeat list="&namelist;"><option> &li;</repeat></select><p>

Time cards for regular employees ("Exempt Personnel") are now reported by exception. If you did not miss any
workdays this pay period, leave None as the selected item on the following list, and click on the Submit Timecard
button. Otherwise choose the correct category for your absence from the list, and enter the dates below before clicking
the submit button. (If you have multiple exceptions, select other/multiple and just type them all in the dates box,
with the appropriate notations. Currently, whatever you type in will eventually be read by Luisa, so it just needs to be
human readable:-) <p>

<select name=exceptions><option selected>None <option>Sick day(s) <option>Vacation day(s) <option>Personal holiday(s) <option>Other or Multiple </select><p>

Enter dates and comments here:<p>
<textarea name=dates rows=3 cols=80></textarea><p>

<INPUT type=submit name=process value="Submit Timecard"><p>
  
</html>
