<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; map editor</title>
</head>
<body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<tagset-load name=Kiosk-agent-actors>
<set name="dept"><get name=dept form></set>

<!-- put up the header at the top of the page -->
<page-header title="&agentName; map marker">
</page-header>

<set name="imagefile">floorplan.gif</set>

<code>This page allows you to indicate the location of the specified
department.  Simply click on the image floor plan below and a marker will be
added to that location indicating the department.  This image will show up on
the department directions page with that marker included.

<p>
In the future, you'll be able to specify what floor plan to use and possibly
have different plans for different floors.  Floor plan images can be uploaded
by shared disks, by email, file upload, or retrieved from an arbitrary URL, or scanned in,...



<if><get name="setdept" form>
 <then><set name=dept><get form name=setdept></set>
 <set name=tmp><subst match=".*\?" result=""><get name=dept></subst></set>
 <set name=dept><subst match="\?&tmp; " result=""><get name=dept> </subst></set>
 <set name=x><subst match=",.* " result=""><get name=tmp> </subst></set>
 <set name=y><subst match=".*," result=""><get name=tmp></subst></set>
dept: &dept;<br>
x: &x; <br>
y: &y; <br>

<hr>
<mark-image image=&imagefile; x=&x; y=&y;
 dept=&dept;>
Result: <img src=/~&agentName;/maps/&dept;.gif> (This system requires
 an upgrade to properly handle image maps.) </then> 
 <else> <set name=dept><get form name=dept></set></else></if>


<h2>Please click on the location of <info attr=name><get agent
name=departments key=&dept;></info></h2>
<if><read file="&imagefile;" info>
 <then><a href="&url;?setdept=&dept;"><img src=/~&agentName;/&imagefile; ISMAP></a> </then> 
 <else>no floor plan file available </else></if>

<page-footer />
</body>
</html>
