<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>MB3:  Add Slide</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<tagset-load name=MB3-actors>
 <if> <get form name=eid> <then>
      <set name=event><retrieve-event id=&FORM.eid; file=&FORM.file;> </set>
      </then>
      <else><b> Error, no event specified</b></else></if>
<set entity name=title>Add Slide to <get index=event.eventtitle></set>
<read interform file="heading.inc" process>
<set name=sep>&</set>
<set name=subs><dummy> <a
href=view_event.if?file=&FORM.file;&sep;eid=&FORM.eid;> View slides </a></dummy></set>
<read interform file="subhead.inc" process>



<if> <get index=event.slides>  <then>
 <set name=slides><get index=event.slides></set>
</then>
<else> <set name=slides><slides></slides></set>
 <set name=event insert=-1><get name=slides></set>
</else>
</if>

 <if> <get name=slide form> <then> <set
      name=slidenum>&FORM.slide;</set></then>
 <else><set name=slidenum><sum digits=0> 1 <get
      name=slides size></sum></set></else> </if>
  

<form action="&url;" method=post process copy>
 <process copy>
 <set name=slides insert=-1><slide number=&slidenum;>
 <if> <get name=title form> <then><h3><get name=title form></h3></then>  </if>
 <ul><repeat start=1 stop=5>
 <if> <get name=bullet&li; form><then><li><strong> <get name=bullet&li;
      form></strong></li></then>
      </if></repeat></ul>
 <if> <get name=text form> <then><get name=text form></then>  </if>
 </slide></set>
 <save-event event=&event;>
 </process>
 <input name="file" type=hidden  value="&FORM.file;">
 <input name="eid" type=hidden  value="&FORM.eid;">
 <table> <caption>Enter values to create a new slide </caption>
  <tr><th align=right>Slide Title: </th><td align=left><input name="title"
size="30"> </td> </tr>
  <repeat start=1 stop=5>
      <tr><th align=right>Bullet: </th><td align=left><input name="bullet&li;"
size="60"> </td> </tr>
      </repeat>
      <tr><th align=right>Text: </th>
          <td align=left><textarea name="text" rows=5 cols=60>
          </textarea>
          </td> </tr>
      <tr><th align=right><input type="SUBMIT" value="CreateSlide"> </th> </tr>
 </table>

</form>
<hr>
 <center>
  Slides:
  <repeat list=&event.slides; entity=slide>
   <set name=snum><get name=slide attr=number></set>
   <if><test match=&slidenum; exact><get name=snum></test> <then> <set
   name=myslide>&slide;</set><strong>&snum;</strong></then> <else><a
   href=view_event.if?file=&FORM.file;&sep;eid=&FORM.eid;&sep;slide=&snum;>&snum;</a> | </else> </if>
  </repeat>
 <a href=add_slide.if?file=&FORM.file;&sep;eid=&FORM.eid;> Add slide </a>
 </center>
 <hr>

 <get name=myslide>


<!-- update URL if any -->
 <if> <get name=newurl form> <then>
 <set index=event.eventlinks.ol insert=-1><li>
      <a href=&FORM.newurl;> 
       <if> <get form name=desc>
       <then><get form name=desc></then>
       <else><get name=newurl form></else> </if>
      </a>
     </li>
 </set>
 <set name=saveflag>true</set>
 </then> </if>

 <!-- update local links if any -->
 <if> <get name=newfile form> <then>
       <if> <get index=event.eventlocallinks><then>
       <set name=event insert=-1><eventlocallinks><ul> </ul></eventlocallinks></set>
       </then> </if>
 <set index=event.eventlocallinks.ul insert=-1><li>
      <a href=&FORM.newfile;> 
       <if> <get form name=desc>
       <then><get form name=desc></then>
       <else><get name=newfile form></else> </if>
      </a>
     </li>
 </set>
 <set name=saveflag>true</set>
 </then> </if>

 <if> <get name=saveflag> <then><save-event event=&event;></then>  </if>
      
 <!-- main presentation links -->

      <table border=1 align=center>
      <caption>References </caption>
<tr><th>Web Pages </th> <th> <a href=view_event_help.if>Local files </a> </th>
       <if><agent-running name=History> <then><th> <a href=view_event_help.if>History </a> </th></then> </if> </tr>
<tr> <td> <get index=event.eventlinks> </td>
      <td> <get index=event.eventlocallinks></td>
       <if><agent-running name=History> <then><td><a
      href=/~History/&event.date.year.Text;/&event.date.month.Text;/&event.date.day.Text;>Visited Pages </a></td></then> </if>
      </tr>
<tr><td>
      <form method=POST action="&url;">
      
      <input name="eid"  value="&FORM.eid;"  type=hidden>
      <input name="file"  value="&FORM.file;"  type=hidden>
      <input type=submit value="AddURL:">
      <input name=newurl value="http://" size=40><br>
      Description: <input name=desc  size=30>
      </form>
      </td>
      <td><form method=POST action="&url;">
      
      <input name="eid"  value="&FORM.eid;"  type=hidden>
      <input name="file"  value="&FORM.file;"  type=hidden>
      <input type=submit value="AddFILE:">
      <input name=newfile value="file://&AGENT.shareDIR;" size=40><br>
      Description: <input name=desc  size=30>
      </form> </td>

      </tr>
 </table>
      
<hr>

<if>on<then><expand><get agent name=navbar></expand></if>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
