<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Bundled presentation</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
 <if> <get form name=p> <then> <set name=presentation>&FORM.p;</set></then> <else><set name=presentation>&presentation; Presentation</set></else></if>
<set entity name=title></set>
<read interform file="heading.inc" process>
<read interform file="subhead.inc" process>
<br> The pages of the &presentation; presentation are included below for your
     viewing and printing convenience.
<hr>
<set name=urllist><get agent  name=urls	key=&presentation;></set>
<repeat list=&urllist;>
 <set name=u> <get name=li attr=href></set>
 <b><get name=u></b><br>
 <read href=&u; process>
 <hr>
</repeat>

</body></html>
