<!doctype html system "html.dtd">
<html><head>
<title>Initialize the &agentName; agent</title>
<link rev="made" href="mailto:steve@crc.ricoh.com"></link>
</head><body>
<h1>Initialize the <a href=/&agentName;/home.if>&agentName; agent</a></h1>

<user-message>Initializing &agentName; from &filePath;</user-message>
<set name=criteria></set>
<if><get name=criteria>
    <then><agent-set-criteria>&criteria;</agent-set-criteria>
          <user-message>&agentName; criteria: <agent-criteria></user-message>
</if>

<set agent hook name="navbar"><protect><a href="/">PIA</a> || <a href="/Agency">Agency</a> ||
&agentName; <a href="/&agentName;/home.if">home</a>:
	  <a href="/&agentName;/">index</a>
	  <a href="/&agentName;/help.if">help</a>
	  <a href="/&agentName;/options.if">options</a>

<hr></protect></set>


<!--  rebuild calendar -->
<set agent name=currentmonth> <calendar month=&month; year=&year;></set>
<set name=d>0</set>
<repeat start=2 stop=7 entity=r>
<repeat start=1 stop=8 entity=c>
<set name=d><get agent name=currentmonth row=&r; col=&c;></set>
<if><get index="d.b.text"><then>
<set index=d.b insert=-1><a href="view_day.if?d=&d.b.text;"><img src="/Agency/Icons/dot-blue.gif"
			     height=10 width=10 alt="*"></a></set></then></if>
</repeat>
</repeat>

<!-- insert any old items -->
 <if> <read info file="currentmonth">
  <then> <set name=cm><read file="currentmonth"
	 process findall=td></set>
<set name=cells><get name=cm findall=td></set>
 <repeat list=&cells;>
Cell: <get name=li tree>
<if><get index=li.a> <then>
  <repeat list=&li.a; entity=f>
  <calendar-day cal=&AGENT.currentmonth; day=&li.b.Text;>&f;</calendar-day>
  </repeat>
 </then></if></repeat>

 </then>
</if>

 <if> <read info file="currentevents">
  <then> <set agent name=events><read file="currentevents"
	 process></set></then>
  <else><set agent name=events><dl> </dl></set></else></if>

 <if> <read info file="urls">
  <then> <set agent name=urls><read file="urls"
	 process></set></then>
  <else><set agent name=urls><dl> </dl></set></else></if>
 
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
