<!-- Read by MB3 home.if  -*-html-helper-*- -->
<!-- show presentations for today -->


 <if> <get name=myday> <then></then>
      <else><if> <get form name=day> <then><set name=myday>&FORM.day;</set>
            </then>
            <else><set name=myday>&day;</set>
            <set name=noday>true</set></else></if>
      </else></if>
<if> <get form name=month> <then><set name=mymonth>&FORM.month;</set></then>
            <else><set name=mymonth>&month;</set></else></if>
<if> <get form name=year> <then><set name=myyear>&FORM.year;</set></then>
            <else><set name=myyear>&year;</set></else></if>

<set name=daydesc><if><test match="&day;&month;&year;">&myday;&mymonth;&myyear; </test>
 <then>today</then><else>&mymonth;/&myday;/&myyear;</else></if></set>


<set name=mylist> <events-for day=&myday; month=&mymonth; year=&myyear;></set>
<set name=mylist><dummy><get name=mylist findall=event></dummy></set>
<if> <test positive> <get name=mylist size> </test> <then>
 <table border=1>
<caption> Events for <get name=daydesc></caption>
<TR><TH> Title<TH>Start<TH>Description</tr>
 <repeat list=&mylist; entity=e>
 <tr> <td> <get index=e.eventtitle.text>
  <td> <get index=e.eventstart.text>
  <td> <get index=e.eventdescription.text>
 </tr>
 </repeat>
 </table>
 </then>
 <else>No events scheduled for <get name=daydesc>.</else></if>
<br>
 <if> <get name=noday> <then><a href="view_day.if">Add Event</a></then> <else><a href="view_day.if?d=&myday;">Add Event</a></else> </if>
 


<!-- Copyright © 1998 Ricoh Silicon Valley -->
<!-- $Id$ -->
