<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; Options Page</title>
<base href="http://&piaHOST;:&piaPORT;/&agentName;/home.if">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>Change options</set>
<read interform file="heading.inc" process>
<read interform file="subhead.inc" process>

<tagset-load name=MB3-actors>
More configuration/installation information for the &agentName; agent can be found in
<if><agent-running name=PIA> <then><a href=/PIA/Config/&agentName;>the
configuration directory.
</a></then> <else>&piaDIR;/Config/&agentName; </code></else> </if>
<hr>

 <set name=myoptions><read file=options.dat process></set>
 <set name=options><dummy><get name=myoptions findall=agentoption></dummy></set>
<form action="&url;" process copy method=post>
 <process copy>
<!-- Replace  option values with values in form -->
 <repeat list=&options; entity=myoption>
 <set index=myoption.optionvalue insert=0 replace><get form
 name=&myoption.optionname.Text;></set>
 </repeat>
 <write file=options.dat><get name=myoptions></write>

<!-- load the options into the agent -->
<load-options> <get name=myoptions> </load-options>
New options have been loaded and stored.
<hr>

</process>
  <table>
<tr><th> Option Name <th>  Description <th> Value</tr>
 <repeat list=&options; entity=myoption>

<tr><td><get index=myoption.optionname.text></td>
    <td><get index=myoption.optiondescription.text></td>
    <td><input name=&myoption.optionname.text; value=&myoption.optionvalue.text;></td>
</tr>
 </repeat>
 </table>
<input type="SUBMIT" value="ChangeOptions">
</form>

<hr>
To add new options, edit the file <code>&usrDIR;/&agentName;/options.dat</code>


<hr>
<if>on<then><expand><get agent name=navbar></expand></if>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
