<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; Month view</title>
<base href="http://&piaHOST;:&piaPORT;/&agentName;/home.if">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>View Month</set>
<read interform file="heading.inc" process>
<read interform file="subhead.inc" process>

<tagset-load name=MB3-actors>
<hr>

<calendar-for month=&FORM.month; year=&FORM.year;>

<hr>
<if>on<then><expand><get agent name=navbar></expand></if>

<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<b>$Id$</b><br>
</body></html>
