<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Forms home page</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Add User</set>
<read interform file="heading.inc" process>

<tagset-load name=Form-agent-actors>
<if><get form name=uid><then>
<set name=uid><get form name=uid></set></then>
<else> <set name=uid><get trans name=AuthenticatedUser></set></else>
</if>
<if-in-group group=admin>
</if-in-group>

<form action="&url;" process copy method=post>
 <process copy>
 <set agent name=users key=&uid;><user>
 <userid><get name=uid></userid>
 <username><get form name=username></username>
 <userext><get form name=userext></userext>
 <userpublickey> </userpublickey>
</user></set>
    <if><get name=manager form>
	 <then>
	       <set name=alist><user-info user=&FORM.manager;
	       attribute=authlistid></set>
	       <add-user-to-authlist authlist=&alist; user=&uid;>
	       <!-- set index=alist.users insert=-1 --><!-- get name=euser -->
	       <save-data data=authlist>
	       <create-route-cache>
	   </then></if>
	   <!-- Saving new data to disk -->
	   <save-data data=users>

 Thanks for registering.  If this information is correct, please <a
 href="register.if?user=&uid;"> click here</a> to complete registration by creating your digital key.

 </process>
<h2> Registering new user</h2>
 <set name=u><get agent name=users key=&uid;></set>
 <if><get name=u> <then></then> <else><set name=u><user> </user></set></else></if>
 <table>
<TR><TD>user-id: <TD><get name=uid><input name="uid" type=hidden value=&uid;>
<TR><TD> Full name:<TD><input name="username" size="30" value=&u.username.Text;>

<TR> <TD> <a href=show_auth_list.if>Manager:</a><TD><select name=manager><option><manager user=&uid></option>
 <repeat list=&AGENT.users.keys;> <option>&li;</option></repeat> </select >
<TR> <TD>Phone extension:<TD><input name="userext" size="3" value=&u.userext.Text;>
</table>
<input type="SUBMIT" value="Register User">
</form>



<hr>
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
