<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; administration</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title>  Users and groups</set>
<read interform file="heading.inc" process>

<tagset-load name=Form-agent-actors>

<hr>
  <set name=auser><get trans name=AuthenticatedUser></set>
 You are logged in as <get name=auser> (<a
 href="edit_user.if?euser=&auser;">View/edit your profile</a>.)
 
 <set name=users><get agent name=users values></set>
 <table align=center>
 <caption> Users </caption>
<TR><TH>userid<TH>username<TH>manager<TH>extension</TH> </TR>
 <repeat list=&users; entity=u><TR>
      <TD> <a href="edit_user.if?euser=&u.userid.Text;"><get index=u.userid></a>
      <TD> <get index=u.username>
  <TD><get index=u.usermanager>
        <TD><get index=u.userext>
      </TR></repeat>
 </table>
<hr>
 <h1>
 <a href="edit_group.if"> Groups</a></h1>
<dl foreach=&AGENT.groups.keys;>
 <dt> <a href="edit_group.if?egroup=&li;"><get name=li></a>
 <dd><get agent name=groups key=&li;>
      </dl>
 <hr>

      <a href="initialize.if"> reinitialize</a>

      <form action="edit_form.if">
<input type="SUBMIT" value="Edit Form">:
<select name="form">
 <repeat list=&AGENT.forms;>
  <option>&li;</option>
 </repeat>
</select>
</form>

      <form action="edit_route.if">
<input type="SUBMIT" value="Edit Route">:
<select name="form">
 <repeat list=&AGENT.forms;>
  <option>&li;</option>
 </repeat>
</select>
</form>
<hr>

 
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
<!-- hhmts start -->
Last modified: Tue Feb 17 12:28:19 1998
<!-- hhmts end -->
</body></html>
