<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; administration</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title>  Administration</set>
<read interform file="heading.inc" process>

<tagset-load name=Form-agent-actors>

<hr>
  <set name=auser><get trans name=AuthenticatedUser></set>
 You are logged in as <get name=auser> (<a
 href="edit_user.if?euser=&auser;">View/edit your profile</a>.)
<br>
  <table border=1>
  <TR> <th>Task (What you want to do)</th><th>How (Click on this) </th>
  <th>Description (what it does) </th> </TR>
  <tr><td>Show or edit departments or users<td> <a href=show_auth_list.if>Show
  Authorization lists </a> </td> <td> gives a list of departments and all the
  members of each department.  Click on the name of a department  to edit it
  (change manager or administrator) or on a member id to edit the member's
  profile (including  moving them to a different department) </td></tr>
  <tr><td>Edit a form, change the routing for a form </td><td>
      <form action="edit_form.if">
      <select name="form">
      <repeat list=&AGENT.forms;>
        <option>&li;</option>
	 </repeat>
	 </select>
      <input type="SUBMIT" value="Edit Form">
	 </form>
      <br>
      <form action="edit_route.if">
      <select name="form">
       <repeat list=&AGENT.forms;>
         <option>&li;</option>
	  </repeat>
	  </select>
      <input type="SUBMIT" value="Edit Route">
	  </form>
	  <a href=create_form.if>Create a new form</a>
    </td>
    <td>Select a form and click on the button to change how a form looks or
  how it gets routed (only admin group can actually change) </td>
  </tr>
  <tr><td>Add or remove someone from a group </td>
	      <td> <repeat list=&AGENT.groups.keys;>
	      <a href="edit_group.if?egroup=&li;"><get name=li></a><br>
	      </repeat></td>
	      <td> click on a group name to modify that group --you can only
  modify groups that you are currently in (admin members can modify any
  group). For convenience, groups are listed below.</td> </tr>
<tr><td>Change system parameters </td><td><a href=options.if>Change
  options</a> </td><td>Allows ones to modify certain global options --
  generally these should not be changed.</td> </tr>
<tr><td>Assign new passphrase </td><td><a href=register_override.if>New
  Passphrase</a> </td><td>UseIf someone has forgotten their
  passphrase. After changing a passphrase, previous signatures (for that
  user) will not
  appear to verify correctly.  </td> </tr>
<tr><td>Reset system </td><td><a href=initialize.if>Initialize</a>
  </td><td>Forces the system to reinitialize from data stored on disk -- use
  with caution...do NOT use if system has stopped responding. </td> </tr>
 </table>
 <set name=users><get agent name=users values></set>

<hr>
 <h1>
 <a href="edit_group.if"> Groups</a></h1>
<dl foreach=&AGENT.groups.keys;>
 <dt> <a href="edit_group.if?egroup=&li;"><get name=li></a>
 <dd><get agent name=groups key=&li;>
      </dl>
 <hr>

      
<hr>

 
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
<!-- hhmts start -->
Last modified: Mon Aug 10 13:30:45 1998
<!-- hhmts end -->
</body></html>
