<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; edit route</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title> edit authorization list</set>
<read interform file="heading.inc" process>

<tagset-load name=Form-agent-actors>

 <if> <get name=authlist agent> <else> <set name=authlist agent><authlist
      level=1 id=au1 idcounter=1><authdescription> Top-level authorization </authdescription></authlist></set></else> </if>

      
<form action="&url;" method=post process copy>
 <process copy>
 <if-in-group group=admin reporterrors=true>
  <set name=idtoedit><get form name=authid></set>
  <set name=alist><find-tag-with-id tag=authlist idattr=&idtoedit; agentname=authlist></find-tag-with-id></set>
   <set name=authorizors><dummy><get index=alist.authorizor></dummy></set>
   <repeat list=&authorizors; entity=a>
     <set name=type><get name=a attr=type></set>
     <set name=a insert=0 replace><get form name=authorizor&type;></set>

   </repeat>
    <if> <get name=newauthorizortype form> <then>
      <set name=alist insert=-1><authorizor type=&FORM.newauthorizortype;
      group=&FORM.newauthorizorisgroup;><get name=newauthorizors form></set>
   </then> </if>
  
  <set index=alist.authdescription insert=0 replace><get name=authdescription form></set>
  <set name=oldusers><get index=alist.users></set>
   <if> <get name=oldusers> <then>
      <set name=newusers><repeat list=&oldusers; entity=u><if><get name=u
      attr=tag><then><set name=utext><get index=u.Text></set></then>
      <else><set name=utext><get name=u></set></else></if><if> <get
      name=delete&utext; form><then> <set name=myflag>replace</set></then>
      <else><get name=u></else> </if></repeat></set>
      <if><get name=myflag><then>
	<set name=userelement>-1</set>
	<set name=asize><get name=alist size></set> Size is &asize;
	 <set name=counter>0</set><repeat start=1 stop=&asize; entity=e> 
        <if><test
	 match=users> <get index=alist.-&e; attr=tag> </test>
	 <then> <set name=userelement><difference digits=0>&e; 1</difference></set></then>
<else> <get index=alist.-&e; attr=tag> </else> </if> 
         </repeat>
	<set index=alist insert=&userelement; replace><users><get
      name=newusers></set></users></then> </if>
    </then>
    </if>
   <if><get form name=addusers><then>
      <add-user-to-authlist authlist=&idtoedit; user=&FORM.addusers;>
       </then></if>
 <if><get form name=createnewlist> <then>
   <set name=parentid><get name=idtoedit></set>
 <set name=newid><sum digits=0><get agent name=authlist attr=idcounter> 1</sum></set>
 <set name=newlevel><sum digits=0><get name=alist attr=level> 1</sum></set>
  <set agent name=authlist attr=idcounter><get name=newid></set>
   <set name=idtoedit>au<get name=newid></set>
   <set name=alist insert=-1><authlist level=&newlevel; id=&idtoedit; parentid=&parentid;>
   <authdescription>A new list</authdescription>
   <authorizor type=Manager> </authorizor>
   </authlist></set>
  </then> </if>
  <!-- get name=alist -->
  <save-data data=authlist>
  </if-in-group>
</process>
  <if> <get name=idtoedit><then></then>
    <else>
      <if>  <get form name=authid>
	<then> <set name=idtoedit><get form name=authid></set></then>
	<else><set name=idtoedit><get agent name=authlist attr=id></set></else>
      </if>
    </else>
  </if>
  <input name="authid" value="&idtoedit;" type=hidden>
 <set name=alist><find-tag-with-id tag=authlist idattr=&idtoedit;><get name=authlist agent></find-tag-with-id></set>
 <set name=userlist><repeat list=&AGENT.users.keys;> <option>&li;</option></repeat></set>
 <table><Caption > Editing authorization list <get name=alist attr=id> at level <get
 name=alist attr=level> </Caption >
 <tr><th> Description: </th><td><input name="authdescription"
 value=&alist.authdescription.Text;> </td> </tr>

 <if><get index=alist.authorizor>
   <then>
     <set name=authorizors><dummy><get index=alist.authorizor></dummy></set>
     <repeat list=&authorizors; entity=a><tr><th> <set name=thistype><get name=a attr=type></set><get name=thistype>
       </th><td>
       <if><get name=a attr=group>
	 <then>
	   <select name=authorizor&thistype; multiple size=2>
	   <repeat list=&a.Text; entity=myu> <option selected><get name=myu>
	   </option> </repeat><get name=userlist> <option>delete</option ></select>
	 </then>
	 <else><select name=authorizor&thistype;> <option selected><get
	 index=a.Text></option><get name=userlist> <option>delete</option > </select></else>
       </if> </td> </tr></repeat>
     </then> <else></else> </if>
 <tr><th>New Auth type<br><input name="newauthorizortype" size="10"><br>
  Group?:<input type="RADIO" name="newauthorizorisgroup" value=true></th><td><select name="newauthorizors"> <option><get trans name=AuthenticatedUser></option>
    <get name=userlist>
    </select> </td> </tr>
    
 <tr><th> Employees:<br>(check to remove)</th>
   <if> <get index=alist.users> <then><td> <repeat list=&alist.users;
	entity=u><if><get name=u
      attr=tag><then><set name=utext><get index=u.Text></set></then>
      <else><set name=utext><get name=u></set></else></if>
     <input name=delete&utext; type="radio"><a href=edit_user.if?euser=&utext;><get name=utext></a> </repeat>       
      </td></if> </tr>
    <tr><th>Add:<br> (select to add)<td> <select multiple size=5 name=addusers>
    <get name=userlist></select>     
      </td> </tr></then> <else></else> </if>
<tr><td><input type="submit" value="SaveChanges"><td><input type="submit"
name="createnewlist" value="SaveChanges and Create new list"></td></tr>
</table >

</form>


<if><get index=alist.authlist>
  <then>
    <h4> Sub lists </h4>
    <set name=alists><dummy><get index=alist.authlist></dummy></set>
    <ul foreach list=&alists; entity=mylist>
      <set name=myid><get name=mylist attr=id></set>
      <li><a href=&url;?authid=&myid;><get index=mylist.authdescription.Text></a> </li>
    </ul>
  </then></if>
  <if><get name=alist attr=parentid>
  <then>
        <h4> Parent list </h4>
    <ul>
      <set name=myid><get name=alist attr=parentid></set>
      <li><a href=&url;?authid=&myid;>Parent list (&myid;)</a> </li>
    </ul>
  </then></if>
  Click <a href=show_auth_list.if> here to show the full organization</a>

<hr>
  <form action="&url;" method=post process copy>
<h4>After making and SavingChanges...  </h4>
  In order to properly route forms, the system must compute a list of
  authorized  signers for each employee.  At the moment, this is done by
  pushing the button below -- please push this button when you have finished
  making changes to the authorization list.  (In the future, this will be done
  automatically -- currently it takes some time.)
 <process copy><create-route-cache>
    <!-- get agent name=authorizors -->
    <get agent name=cachedroutes>
  </process>
  <input type="SUBMIT" value="Update Signers">
</form>


<expand><get agent name=navbar></expand>
<b>Copyright Å© 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
