<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; pending </title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
 
 <if><get form name=uid> <then><set name=user><get form name=uid></set></then>
 <else><set name=user><get trans name=AuthenticatedUser></set></else></if>
<set entity name=title> Forms originated by &user;</set>
<read interform file="heading.inc" process>
 
<tagset-load name=Form-agent-actors>

 <if> <test match=&user; exact><get trans name=AuthenticatedUser></test> <then>
 <set name=allow>true</set></then></if>
<if-in-group group=&user;><set name=allow>true</set></if-in-group>
 <set name=myfile>users/&user;.status</set>
 <if><get name=allow> <then>
 <set name=pending><read file="&myfile;"  process></set>
 <set name=pending><dummy><get name=pending findall=formstatus></dummy></set>
 <if> <test positive> <get name=pending size></test> <then>
 <form action="&url;" process method=post copy>
  <process copy>

 <file name=&myfile; dst=.temp.&user;.pending rename base=&usrDIR;/&agentName;/></file>
 <if> <test match=keep><get form name=buttonaction></test>
 <then>
  <set name=newpending>
  <repeat list=&pending; entity=myform>
  <set name=furl><get name=myform attr=form></set>
  <if><get form name=&furl;> <then><get name=myform></then></if>
  </repeat>
  </set>
 </then>
 <else>
  <set name=newpending>
  <repeat list=&pending; entity=myform>
  <set name=furl><get name=myform attr=form></set>
  <if><get form name=&furl;> <else><get name=myform></else></if>
  </repeat>
  </set>
 </else>

</if>
 <write file=&myfile; append><get name=newpending></write>
 <set name=pending><get name=newpending></set>
  </process>
<h2> Pending forms for <get name=user></h2>
  <ul foreach list="&pending;" entity=myli>
     <set local name=myurl><get name=myli attr=form></set>
     <li> <a href=show_signatures.if?formurl=&myurl;><get name=myurl></a>
     <input type="checkbox" name="&myurl;">
     </li>
  </ul>
  <input type=hidden name=uid value=&user;>
  <input type="SUBMIT" value="Remove" name=buttonaction> selected forms (and
 keep all unselected forms on your status list)<br>
  <b>or</b> <input type="SUBMIT" value="Keep" name=buttonaction> selected
  forms (and remove all unselected forms from your status list).
 Forms will be removed from your status list.  They will remain in the
  system.
 </form>

</then> <else>No forms on status list for &user;</else></if>
</then> <else><h2>Not Authorized</h2>
<get trans name=AuthenticatedUser> is not authorized for
&user;
</else>
</if>
	     
      
<hr>
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
