<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; pending </title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
 
 <if><get form name=uid> <then><set name=user><get form name=uid></set></then>
 <else><set name=user><get trans name=AuthenticatedUser></set></else></if>
<set entity name=title> Pending forms for &user;</set>
<read interform file="heading.inc" process>
 
<tagset-load name=Form-agent-actors>

 <if> <test match=&user; exact><get trans name=AuthenticatedUser></test> <then>
 <set name=allow>true</set></then></if>
<if-in-group group=&user;><set name=allow>true</set></if-in-group>
<if-in-group group=admin><set name=allow>true</set></if-in-group>
 <set name=myfile>users/&user;.html</set>
 <if><get name=allow> <then>
 <set name=pending><read file="&myfile;"  process></set>
 <set name=pending><b><get name=pending findall=a></b></set>
 <if> <test positive> <get name=pending size></test> <then>
 <form action="&url;" process method=post copy>
  <process copy>

 <file name=&myfile; dst=.temp.&user;.pending rename base=&usrDIR;/&agentName;/></file>
 <if> <test match=keep><get form name=buttonaction></test>
 <then>
  <set name=newpending><b>
  <repeat list=&pending; entity=myform>
  <set name=furl><get name=myform attr=href></set>
  <if><get form name=&furl;> <then><a href=&furl;>&furl;</a></then></if>
  </repeat>
  </b></set>
 </then>
 <else>
  <set name=newpending><b>
  <repeat list=&pending; entity=myform>
  <set name=furl><get name=myform attr=href></set>
  <if><get form name=&furl;> <else><a href=&furl;>&furl;</a></else></if>
  </repeat>
  </b></set>
 </else>

</if>
 <write file=&myfile; append><get name=newpending></write>
 <set name=pending><get name=newpending></set>
  </process>
<h2> Pending forms for <get name=user></h2>
    <set local name=mysignas>&signas=<get name=user></set>
  <dl foreach list="&pending;" entity=myli>
     <set local name=myurl><get name=myli attr=href></set>
     <dt>     <input type="checkbox" name="&myurl;"> <a href=sign_form.if?formurl=&myurl;&mysignas;><get index=myli.Text></a></dt>
      <if><read info file=&myurl;.sig><then>
        <set name=sigs><read file=&myurl;.sig process></set>
     <dd>  <show-sig-table signatures=&sigs;> </dd>
       </then></if>     
  </dl>
  <input type=hidden name=uid value=&user;>
  <input type="SUBMIT" value="Remove" name=buttonaction> selected forms (and
 keep all unselected forms on your pending list)<br>
  <b>or</b> <input type="SUBMIT" value="Keep" name=buttonaction> selected
  forms (and remove all unselected forms from your pending list).
 Forms will be removed from your pending list.  They will remain on the
  system, but will not be routed to any other users.
 </form>

</then> <else>No forms pending for &user;</else></if>
</then> <else><h2>Not Authorized</h2>
<get trans name=AuthenticatedUser> is not authorized for
&user;
</else>
</if>
	     
      
<hr>
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
