<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; edit route</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title> edit forms</set>
<read interform file="heading.inc" process>

<!-- should change from dl tags to route tags -->

<tagset-load name=Form-agent-actors>

 <if> <get form name=form> <then>
<set name=form><get form name=form></set>
<set name=formfile><read file=&form;/&form;.form interform process></set>
<set name=formvars><get name=formfile findall=formvariable></set>

<set name=formvars><repeat list=&formvars; entity=x> <text><get name=x
attr=name></text></repeat></set>

<if> <get name=routefile form> <then>
      <set name=routefile><get name=routefile form> </set>
     </then> <else>
     <set name=routefile>&usrDIR;/Agents/&agentName;/&form;/route.inc</set>
     <set name=genericroute>true</set>
</else></if>

<if> <get form name=setcannedroute> <then>
 <if-in-group group=admin reporterrors=true>
<set name=fsteps><get form name=cannedsteps></set>
 <set name=route><route>
 <repeat start=1 stop=&fsteps;><routestep>
<routeid><get name=li></routeid>
 <routeuser><get form name=user&li;></routeuser>
 <routewhen><get form name=when&li;></routewhen>
 <routecond><get form name=cond&li;></routecond>
  </routestep>
  </repeat>
  </route></set>
 <write file=&routefile;><get name=route>
 </write>
 </if-in-group>
 </then>

 <else> 
    <if> <read info file=&routefile;>
      <then> <set name=theroute><read
	     file=&routefile; process></set>
            <set name=route><get name=theroute findall=route></set>
      </then>
      <else><set name=route><route><routestep>
            <routeid>1</routeid>
            <routeuser>user</routeuser>
            <routewhen>always</routewhen>
            <routecond> </routecond>
            </routestep>
            <routestep>
            <routeid>2</routeid>
            <routeuser>manager</routeuser>
            <routewhen>always</routewhen>
            <routecond> </routecond>
            </routestep>
            </route></set>
        </else></if>
</else> </if>

<form action="&url;" method=post process copy>
 <process copy>
 
 <if-in-group group=admin reporterrors=true>
 <file name=&routefile; dst=&routefile;.bak rename></file>
 <!-- process route changes -->
 <set name=newroute><route> </route></set>
 <set name=steps><dummy><get name=route findall=routestep></dummy></set>
<!-- process deletes -->
 <set name=maxid>0</set>
 <repeat list=&steps; entity=step>
 <set name=rid><get index=step.routeid.Text></set>
 <if><get form name=delete&rid;><then></then> <else>
 <set name="newroute" insert=-1><get name=step></set>
 <if><test numeric positive> <difference> &rid; &maxid;</difference>
   <then> <set name=maxid><get name=rid></set></then></if>
 </else></if></repeat>

 <set name=steps><dummy><get name=newroute findall=routestep><dummy></set>
 <repeat list=&steps; entity=step>
 <set name=rid><get index=step.routeid.Text></set>
 <set index=step.routeuser insert=0 replace><get form name=user&rid;></set>
 <set index=step.routewhen insert=0 replace><get form name=when&rid;></set>
 <if><get form name=condvar&rid;> <then>
  <set index=step.routecond insert=0 replace ><conditional>
  <condvar><get form name=condvar&rid;></condvar>
  <condtest><get form name=condtest&rid;></condtest>
  <condval><get form name=condval&rid;></condval>
  </conditional></set>
 </then></if>
	    
 </repeat>	    

 <if> <get form name=addsteps> <then>
 <set name="rid"><get name=maxid></set>
 <repeat start=1 stop=&FORM.addsteps;>
 <set name="rid"><sum digits=0> &rid; 1 </sum></set>
 <set index=newroute insert=-1>
<routestep>
            <routeid>&rid;</routeid>
            <routeuser>user</routeuser>
            <routewhen>always</routewhen>
            <routecond> </routecond>
            </routestep>
</set>
 </repeat>
 </then></if>
	  <set name=route><get name=newroute></set>   
 <write file=&routefile;><get name=route>
	  </write>
	    Route &routefile; for &form; updated.
 </if-in-group>
</process>



<h2>Route for &form; Form</h2>	    
 <input name="form" value=&form; type=hidden>
 <set name=steps><dummy><get name=route findall=routestep></dummy></set>
 <table border=1>
 <TR><TH>Step
     <TH>Delete?
     <TH>Authorization
     <TH>When
     <TH> <a href="conditions.html">Condition</a></TR>

 <repeat list=&steps; entity=step>

 <set name=rid><get index=step.routeid.Text></set>
  <TR> <TD> &rid;
       <TD><input type="checkbox" name="delete&rid;">
       <TD>
	    <select name="user&rid;">
	     <option selected><get  index=step.routeuser.Text></option>
             <option>user</option>
             <repeat list=&AGENT.authorizors.keys; entity=mygrp>
            <option>&mygrp;</option></repeat>
            <option>printer</option>
            <repeat list=&AGENT.users.keys; entity=mygrp>
            <option>&mygrp;</option></repeat> 	    
            </select>
      <TD>
      <select name="when&rid;">	    
       <option><get  index=step.routewhen.Text></option>
       <option>always</option>
       <option>onlyif</option>
       <option>notify</option>	    
        </select>
      <TD>
      <if> <test match="onlyif"><get  index=step.routewhen.Text></test><then>
	<select name="condvar&rid;">
       <if><get  index=step.routecond.conditional.condvar.Text> <then>
       <option selected><get  index=step.routecond.conditional.condvar.Text></option></then></if>
       <repeat list=&formvars; entity=var> <option>&var;</option></repeat>
       </select>
       is
       <select name="condtest&rid;">
         <if><get  index=step.routecond.conditional.condtest.Text> <then>
           <option selected><get
           index=step.routecond.conditional.condtest.Text></option></then></if>
       <option>equalto</option>
       <option>greaterthan</option>
       <option>lessthan</option>
       </select>
       this value:
       <if><get  index=step.routecond.conditional.condval.Text> <then>
           <input name=condval&rid;
           value=&step.routecond.conditional.condval.Text;></then> <else>
           <input name=condval&rid;> </else></if>
     </then>
    </if>
    <TD>
    </TR>
 </repeat>
</table>
Add <input type="INT" name="addsteps" size="2"> additional steps (enter # in
box). <br>
<input type="SUBMIT" value="Change Route">
</form>
<hr>
<h3 > Or specify a standard route </h3 >
 <table border=1>
<tr><th>Route 1 </th><th> Route 2 </th><th> Route 3 </th> </tr>
<tr><td><form action="&url;"  method=post>
 <input name="form" value=&form; type=hidden>
 <input name="cannedsteps" value="2" type=hidden>
<input name="user1" value="user" type=hidden>user <br>
<input name="when1" value="always" type=hidden>
<input name="cond1" value="" type=hidden>
<input name="user2" value="Manager" type=hidden>Manager
<input name="when2" value="always" type=hidden>
<input name="cond2" value="" type=hidden>
<br><input type="SUBMIT" value="Use Route1" name=setcannedroute>
</form></td>
<td><form action="&url;"  method=post>
 <input name="form" value=&form; type=hidden>
 <input name="cannedsteps" value="2" type=hidden>
<input name="user1" value="user" type=hidden>user <br>
<input name="when1" value="always" type=hidden>
<input name="cond1" value="" type=hidden>
<input name="user2" value="DivAdmin" type=hidden>DivAdmin<br>
<input name="when2" value="always" type=hidden>
<input name="cond2" value="" type=hidden>
<input type="SUBMIT" value="Use Route2" name=setcannedroute>
</form></td>
<td><form action="&url;"  method=post>
<input name="cannedsteps" value="3" type=hidden>
 <input name="form" value=&form; type=hidden>
 <input name="user1" value="user" type=hidden>user <br>
<input name="when1" value="always" type=hidden>
<input name="cond1" value="" type=hidden>
<input name="user2" value="Manager" type=hidden>Manager <br>
<input name="when2" value="always" type=hidden>
<input name="cond2" value="" type=hidden>
<input name="user3" value="Purchasing" type=hidden>purchasing <br>
<input name="when3" value="always" type=hidden>
<input name="cond3" value="" type=hidden>
<input type="SUBMIT" value="Use Route3" name=setcannedroute>
</form></td>


 </table>

</then>
<else> Please <a href="edit_route.if"> specify form route to edit</a> </else>
</if>

<hr>


<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
