<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title> initialization</title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<hr>

<if><tagset-exists name=Form-agent-actors>
    <then>Re-reading:
    <else>Reading: 
</if> <code><a href="tagset.inc">tagset.inc</a></code>...

<read process quiet interform file=tagset.inc>

<br>
(USERs and groups and departments should be in a database...)
<br>
Initializing users
<load-data data=users>

<br>
 Initializing groups
<load-data data=groups>

<br>
 Initializing departments (mostly redundant with users)
<load-data data=departments>

 Initializing List of Forms
 <set agent name=forms><read process quiet interform file="." directory match="^[^.]+$" ></set>

<br>
Initializing options (stored in formsoptions.dat in a dl)
 <if> <read file=formsoptions.dat info> <else>
 <write file=formsoptions.dat><read interform file=options.dat></write></else>
 </if>
<!-- now load the options -->
 <load-options> <read file=formsoptions.dat process> </load-options>

 <if> <get name=administrator agent>
   <else> <set agent
     name=administrator><authorizor type="Admin" group> wolff
     </authorizor></set>
   </else>
 </if>

 <load-data data=authlist>
 <create-route-cache>

<br>
 Initializing  navigation bar
 <set agent name=navbar><center>
<a href="http://&piaHOST;:&piaPORT;/&agentName;/home.if"><img
src="/&agentName;/formsbutton.gif" alt="New Form"></a>
<a href="http://&piaHOST;:&piaPORT;/&agentName;/status.if"><img
src="/&agentName;/statusbutton.gif" alt="Forms Status"></a>
<a href="http://&piaHOST;:&piaPORT;/&agentName;/reports.if"><img
src="/&agentName;/reportsbutton.gif" alt="Reports"></a>
<a href="http://&piaHOST;:&piaPORT;/&agentName;/admin.if"><img
src="/&agentName;/adminbutton.gif" alt="Administration"></a>
<a href="/&agentName;/fill_out_form.if?formtype=feedback"><img src="/&agentName;/feedbackbutton.gif"
alt=Feedback></a>
</center></set>


<hr>
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
