<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; troubles</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title> troubles</set>
<read interform file="heading.inc" process>
<hr>
Sorry for the inconvenience, the problem will be recorded and reported to the
administration.
You should be contacted shortly regarding the resolution of this matter.
<p>
Thanks for your patience.
 <write file="panic/&year;/&month;/&day;/&time;:&second;">
<get name=FORM>
Encountered by <get trans name=AuthenticatedUser></write>
<os-command> mail wolff@crc.ricoh.com < &usrDIR;/&agentName;/panic/&year;/&month;/&day;/&time;:&second; </os-command>
<p>
<hr>
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
<!-- hhmts start -->
Last modified: Sun Feb  8 16:42:28 1998
<!-- hhmts end -->
</body></html>
