<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; Registration</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set name=user><get trans name=AuthenticatedUser></set>
<set entity name=title> Register &user;</set>
<read interform file="heading.inc" process>
 
<tagset-load name=Form-agent-actors>
<h3>Verify user information</h3>
<set name=auser><get trans name=AuthenticatedUser></set>
 <set name=u><get agent name=users key=&auser;></set>
<ul>
  <li> Your Name: <b><get index=u.username></b>
  <li> Your Manager: <b><get index=u.usermanager></b>
  <li> Your Extension: <b><get index=u.userext></b>       
    <li> Your Department: <b><get index=u.userdept></b>       
</ul>
If these values are correct, please continue on to the next section, otherwise
please <a href="edit_user.if?euser=&auser;">EDIT</a> these values and then
return to this page.

<h3>Create a key</h3>
 The forms server uses a Public key/Private key system to create digital
 signatures.  Before you can sign documents, the system must assign a key pair
 to your user ID.  Your private key will be protected by a password (or
 phrase) known only to you. The phrase may be as long as you like but it
 cannot be retrieved if forgotten.   (In case of a forgotten password or
 "lost key", a new key can be assigned to a user.)
<p>

 <if> <get form name=pass1> <then>
   <if> <test match=&FORM.pass1; exact>&FORM.pass2;</test>
   <then>
    <set name=key><sign user=&user; password=&FORM.pass1; create> </sign></set>
   </then>
   </if>
 <if> <get name=key> <then>
 A new key has been created for  <b>&user;</b>.   The public key listed below in 
  base64 encoding can be used to verify your signatures.

 The forms server will keep track of your public and private keys so you
 should not need to worry about this.
<p>
 <code>&key; </code>
 <write append file="public.keys.history"><TR><TD>&user;<TD>&date;<TD>&key;</TD></TR>
</write>
 <set name=u><get agent name=users key=&user;></set>
 <set index=u.userpublickey replace><get name=key></set>
<read interform file=users-save.inc process> 
<p>

 <a href="/&agentName;/home.if"> Return to  home page</a>
 </then> <else>
 Unable to generate keys.  Please go back and try again or contact the administrator.
</else></if>
</then>
<else>
<if> <sign user=&user; exists> </sign> <then>
 A key for &user; exists -- filling out this form will invalidate that key.
Please contact the administrator to create a new key.
</then>
<else>
 This password can (and probably should) be different from the unix password
 which you use to login to the forms server.  (You are currently logged in as
 <b>&user;</b> -- to login as a different user please restart your browser.)

<p>

<form action="&url;" method=post>
 Please enter a pass-phrase:<input name="pass1" size="30" type=password>
<br> and again for safety:<input name="pass2" size="30" type=password>
<br><input type="SUBMIT" value="CreateKey"> (This may take a minute or two.)
</form>
</else></if>
</else>
</if>

<hr>
 
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
