<html><head>
<title>&FORM.period; &FORM.form; forms</title>
</head>

<body bgcolor="#ffffff">

<if><test exact match="Time of Submission">&FORM.order;</test><then>
    <if><test exact match="all">&FORM.period;</test><then>
    <read file="&FORM.form;/&FORM.form;_report.html" process>
    <else>
        <if><test exact match="&year;">&FORM.period;</test><then>
        <read file="&FORM.form;/&year;/&FORM.form;_report.html" process>
        <else>
        <read file="&FORM.form;/&year;/&FORM.period;/&FORM.form;_report.html" process>
        </else></if>
    </else></if>
<else>
</else>
</if>

<if><test exact match="Reverse Time of Submission">&FORM.order;</test><then>
    <sort reverse><if><test exact match="all">&FORM.period;</test><then>
    <read file="&FORM.form;/&FORM.form;_report.html" process>
    <else>
        <if><test exact match="&year;">&FORM.period;</test><then>
        <read file="&FORM.form;/&year;/&FORM.form;_report.html" process>
        <else>
        <read file="&FORM.form;/&year;/&FORM.period;/&FORM.form;_report.html" process>
        </else></if>
    </else></if></sort>
<else>
</else>
</if>

<if><test exact match="Alphabetical by Username">&FORM.order;</test><then>
    <sort numeric><if><test exact match="all">&FORM.period;</test><then>
    <read file="&FORM.form;/&FORM.form;_report.html" process>
    <else>
        <if><test exact match="&year;">&FORM.period;</test><then>
        <read file="&FORM.form;/&year;/&FORM.form;_report.html" process>
        <else>
        <read file="&FORM.form;/&year;/&FORM.period;/&FORM.form;_report.html" process>
        </else></if></sort>
    </else></if>
<else>
</else>
</if>

<p>

</html>
