<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; Reports</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title>  Reports </set>
<read interform file="heading.inc" process>

<tagset-load name=Form-agent-actors>

Note this page needs lots of work, but does mostly function properly.

<h2> Department Listing </h2>
Forms submitted  before June 19 may not show up properly in the department listings.

<form action=reports_dept.if method=post> 
<a href=show_depts.if>Department:</a><select name="dept">
 <repeat list=&AGENT.departments.keys;> <option>&li;</option></repeat>
 </select>
Month: <select name=startmonth><option selected>&month;</option></else></if>
 <repeat list="01 02 03 04 05 06 07 08 09 10 11 12"> <option>&li;</option></repeat>
</select>
<input type="SUBMIT" value="Show Forms submitted by Department">
</form>

<!-- add something to view by department -->

<repeat list=&AGENT.groups.keys; entity=grp>
<if-in-group group=&grp;><set name=allow>true</set></if-in-group>
</repeat>
<if><get name=allow><then>
 <if> <get name=form form> <then></then> <else>
<h2>Common Reports</h2>
<form action=&url; method=post>
<input type=hidden name=id value=report>
Show Current <!-- input type=submit name="form" value=timecard --> (temporarily disabled timecard listings --> forms.
 <set name=mymonth>&month;</set>
 <set name=myyear>&year;</set>
<set-previous-month mctr=mymonth yctr=myyear>


<input type=hidden name=startyear value=&myyear;>
<input type=hidden name=startmonth value="&mymonth;">
<input type=hidden name=nummonths value="2">

<set name=mymonth>&month;</set>
 <set name=myyear>&year;</set>
<set name=mycond>lessthan</set>
 <if> <test negative>&day; 10</test> <then>
 <set-previous-month mctr=mymonth yctr=myyear>
 <set name=mycond>greaterthan</set>
 </then></if>

 <if> <test positive><difference>&day; 25</difference></test> <then>
 <set name=mycond>greaterthan</set>
 </then></if>

<input type=hidden name=conditions value=2>
<input name="variable1"  value=paymonth type=hidden>
<input name="conditional1"  value=equalto type=hidden>
<input name="value1"  type=hidden value="&mymonth;">


<input name="variable2"  value=payday type=hidden>
<input name="conditional2"  value=&mycond; type=hidden>
<input name="value2"  type=hidden value="18">

</form>

<hr>
</else></if>


<form action="&url;" method=post process copy id=report>
 <process copy>

 <if> <get form name=conditions> <then>
<!-- hack for single conditions to make list -->
<set name=conditions><dummy></dummy></set>
<set name=conditions insert=0 replace><repeat start=1 stop=&FORM.conditions; entity=cond><condition>
<condvar>formvar<get form name=variable&cond;></condvar>
<condtest><get form name=conditional&cond;></condtest>
<condval><get form name=value&cond;></condval>
</condition></repeat></set>

</then></if>

 <set name=form><get form name=form></set>

<set name=mymonth><get form name=startmonth></set>
 <set name=myyear><get form name=startyear></set>

 <set name=lists> <repeat start=1 stop=&FORM.nummonths;> <read
 file="&form;/&myyear;/&mymonth;/&form;_report.html" process>
<set-next-month mctr=mymonth yctr=myyear>
</repeat></set>


<set-previous-month mctr=mymonth yctr=myyear>


 <set name=forms><dummy><get name=lists findall=a></dummy></set>
<if><get form name=quicklist> <then>
Found <get name=forms size> &form; forms filled out between &FORM.startmonth;,
	  &FORM.startyear; and &mymonth;, &myyear;
<ul>
 <repeat list=&forms; entity=aform>
 <set name=file><get name=aform attr=href></set>
<li> <a href="show_signatures.if?formurl=&file;"><get index=aform.Text></a></li>

</repeat>
</ul>
</then>
<else>
<set name=myform><read interform file=&form;/&form;.form
  process></set>
<set name=vars><get name=myform findall="formvariable"></set>

<table border=1>
<caption> Showing &form; forms filled out between &FORM.startmonth;,
	  &FORM.startyear; and &mymonth;, &myyear;
  <if> <get name=conditions> <then> for which
 <repeat list=&conditions; entity=cond>
 <br> &cond.condvar; is &cond.condtest; &cond.condval;
 </repeat>
</then></if>
</caption>
 <TR><TH>Form</TH>

 <repeat list=&vars; entity=var> <TH><get name=var attr=name></TH>
</repeat>
<TH> Signers </TH>
</TR>

 <repeat entity=aform list=&forms;>
  <set name=file><get name=aform attr=href></set>
<if> <test match="http://forms.crc.ricoh.com:8000/My/Forms"><get
     name=file></test> <then>
<set name=file><subst match="http://forms.crc.ricoh.com:8000/My/Forms/" result=""><get name=aform attr=href></subst></set>
 </then></if>
<set name=myform><read file=&file;  process></set>
<set name=vars><get name=myform findall="formvariable"><get name=myform findall="form-variable"></set>
  <repeat list=&vars; entity=var>
 <set name=varname><get name=var attr=name></set>
 <set name=formvar&varname;>&var.Text;</set>
 </repeat>
 <if><get name=conditions> <then>
 <if><test-conditions conditions=&conditions;>
      <then><set name=include>truetest</set></then>
      <else><set name=include></set></else></if>
 </then>
 <else><set name=include>true</set></else>
</if>
 <if><get name=include> <then>
<TR><TD> <a href="show_signatures.if?formurl=&file;">&form;</a>
<repeat list=&vars; entity=var> <TD><get name=var></TD></repeat>
 <if>  <read file=&file;.sig info><then>
 <set name=sigs> <read file=&file;.sig process></set></then>
       <else> <set name=sigs> (none) </set></else></if>
 <TD><get name=sigs findall=signer></TD>
</TR>
 </then></if>

</repeat>
 <caption>Note: old style forms will show up as having all blank entries.</caption>
</table>
</else></if>
<hr>
 </process>
<h2>Generic Reports by type of form </h2>
Show
<select name="form">
 <repeat list=&AGENT.forms;>
 <if> <get name=form> <then> <option selected>&form;</option></then></if>
 <option>&li;</option></repeat>
</select>
 forms starting from 
month:
<select name="startmonth">
  <if> <get name=months> <then> <repeat list=&months;><option
       selected>&li;</option></repeat> </then>
 <else><option selected>&month;</option></else></if>
 <repeat list="01 02 03 04 05 06 07 08 09 10 11 12"> <option>&li;</option></repeat>

</select>
year:
<select name="startyear">
 <if> <get name=myyear> <then> <option selected>&myyear;</option></then><else>
<option selected>&year;</option></else></if>
 <repeat start=&year; stop=1997 step=-1> <option>&li;</option></repeat>
</select>
<if><get name=nummonths form> <then><set name=nmonths><get name=nummonths
form></set></then> <else><set name=nmonths>1</set></else></if>
for <input type="INT" name="nummonths" size="2" value=&nmonths;> months

<br>
 <if><get name=form>  <then>
 <if> <get name=conditions form> <then> <set name=nconditions><get
      name=conditions form></set></then> <else><set
      name=nconditions>1</set></else></if>

  <set name=myform><read interform file=&form;/&form;.form
  process></set>
<set name=vars><get name=myform findall="formvariable"></set>
 <if> <get name=vars> <then>
 in which

 <repeat start=1 stop=&nconditions; entity=cond>
 variable<select name="variable&cond;">
 <if><get name=variable&cond; form> <then><option><get name=variable&cond; form></option></then></if>
 <repeat list=&vars; entity=var> <option><get name=var attr=name></option></repeat>
 </select>
is
<select name="conditional&cond;">
 <if><get name=conditional&cond; form> <then><option><get name=conditional&cond; form></option></then></if>
 <option>equalto</option>
 <option>greaterthan</option>
 <option>lessthan</option>
</select>
this value:
 <if><get name=value&cond; form> <then> <set name=myval><get name=value&cond;
 form></set></then> <else><set name=myval> </set></else></if>
<input name="value&cond;" size="20" value=&myval;>
<br>
</repeat>
 </then></if>
 </then></if>
<!-- Add input type="INT" name="conditions" size="2" value=&nconditions;
condition(s). -->
<!-- input type="SUBMIT" value="Show Forms (+data)" --> (temporarily disabled data reports)
<if><get form name=form><else><input type="SUBMIT" value="ListForms(quicker)" name=quicklist></else></if>
</form>

</then>
<else>
<h2> Not Authorized </h2>
Sorry, you are not currently authorized to generate reports.
For access please contact someone in the admin group:
<get agent name=groups key=admin>
</else>
</if>
<hr>

<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
<!-- hhmts start -->
Last modified: Tue Jun 23 10:40:04 1998
<!-- hhmts end -->
</body></html>
