<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; Department Reports</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title>  Reports </set>
<read interform file="heading.inc" process>

<tagset-load name=Form-agent-actors>


Note: Forms submitted on or before May 15, 1998 will not show up here.

<form action=reports_dept.if method=post> 
Department:<select name="dept">
		   <if><get name=dept form> <then> <option><get name=dept form></option></then> </if>
 <repeat list=&AGENT.departments.keys;> <option>&li;</option></repeat>
 </select>
Month: <select name=startmonth><option selected><get name=startmonth form></option></else></if>
 <repeat list="01 02 03 04 05 06 07 08 09 10 11 12"> <option>&li;</option></repeat>
</select>
<input type="SUBMIT" value="Show Forms submitted by Department">
</form>

 <if> <get name=dept form> <then>
<set name=dept> <get name=dept form></set>
 <set name=user><get name=AuthenticatedUser trans></set>
 <if><test match=&user; exact><dept-get-admin department=&dept;></test>
 <then> <set name=allow>true</set></then></if>
 <if><test match=&user; exact><dept-get-manager department=&dept;></test>
 <then> <set name=allow>true</set></then></if>
 <if-in-group group=&user;><set name=allow>true</set></if-in-group>
 <if-in-group group=admin><set name=allow>true</set></if-in-group>

  <if><get name=allow> <then>
     <h2> Forms filled out by Dept <get name=dept> in Month <get name=startmonth form></h2>
   <set name=dfile><read  file="deptfiles/&dept;/&year;/&FORM.startmonth;/forms_filed.html" process></set>
    <if><get form name=showsigs> <then>
     <show-forms-list forms=&dfile; signatures=&FORM.showsigs;>
     </then>
     <else>
     <show-forms-list forms=&dfile; signatures=&FORM.showsigs;>
     <form action=&url; method=post>
     <input name="dept" type=hidden value=&dept;>
     <input name="startmonth" type=hidden value=&FORM.startmonth;>
     <input type=submit name=showsigs value="Show Signatures">
      </form>
     </else> </if>

  </then> <else>SORRY, &user; not allowed to view &dept; listings</else> </if>

</then> <else></else> </if>
<hr>

<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
<!-- hhmts start -->
Last modified: Thu Feb 26 19:01:53 1998
<!-- hhmts end -->
</body></html>
