<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Form <get form name=formurl></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>

<tagset-load name=Form-agent-actors>

<if> <get form name=formurl> <then>
  <if><read file=&FORM.formurl;.sig info> <then><set name=sigs><read file=&FORM.formurl;.sig process></set></then> </if>

<set name=document><read file=&FORM.formurl;></set>
<if> <get name=document>  <then>
	 <set name=hash><hash><get name=document></hash></set>
         <get name=document>
	 </then><else><h1>Form not found--report this error </h1></else></if>
<hr>
<if> <get name=sigs> <then>
<h3> Signatures on &FORM.formurl;</h3>
 
<show-sig-table signatures=&sigs; hash=&hash;>
</then> <else>
No signatures for &FORM.formurl;
</else>
</if>
</if>

<!-- $Id$ -->
</body></html>
