<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; route</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title> Route </set>
<read interform file="heading.inc" process>


<tagset-load name=Form-agent-actors>

<set local name=rfile><subst result=".route.html"
  match=".html"><get form name=formurl></subst></set>
<set name=myroute><read file=&rfile; process></set>

 <set name=fparam>&formurl=<get form name=formurl></set>
<h4>This is the nominal route for <a
href=show_signatures.if?formurl=&FORM.formurl;>&FORM.formurl;</a></h4>
(Click on user name to send this form to that user.)
<ol>
<for-every object=&myroute; tag=routeuser entity=u>
<li><a href=route_form.if?touser=&u.Text;&fparam;> &u; </a></li>
</for-every>
</ol>
<h4> This is what has hapened to the form so far </h4>
<show-form-history form=&FORM.formurl;>


<h4> Send this form to somebody else:</h4>
<form action=route_form.if method=post>
 <input name=formurl type=hidden value=&formurl;>
 Recipient: <select name="touser"> 
    <repeat list=&AGENT.users.keys;> <option>&li;</option></repeat>
    </select>
<input type=submit value="Send Form for Signature">

 </form>
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
<!-- hhmts start -->
Last modified: Fri Feb 13 17:14:41 1998
<!-- hhmts end -->
</body></html>
