<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName;  processing</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
 
<set entity name=title> timecards <get name=myformtype></set>
<read interform file="heading.inc" process>
 
<tagset-load name=Form-agent-actors>

<set name=myyear><if><get form name=year><then><get form name=year></then>
<else>&year;</else> </if></set>
<set name=mymonth><if><get form name=month><then><get form name=month></then>
<else>&month;</else> </if></set>
<set name=myperiod><if><get form name=period><then><get form name=period></then>
<else><if><test positive><difference>&day; 9 </difference ></test> <then>1-15</then><else>16-31</else></if></else> </if></set>



<!-- process a specified set of timecards -->

<if> <get name=timeman form>
  <then>
    <set name=timeman><get name=timeman form></set>
    <set
    name=mytimefile>timecards/&myyear;/&mymonth;/&myperiod;/&FORM.timeman;</set>
    <set name=mycards><read file=&mytimefile;.dat process></set>
     <set name=myform><get name=mytimefile>.html</set>
     <write file=&myform;><formhead>
    <formtype>timecard_summary</formtype>
    <formurl><getname=myform></formurl>
    </formhead>
    <table border=1>
    <caption >Timecards for <get name=mymonth>/<get name=myyear> period:  <get
    name=myperiod></caption >
     <tr><th>Employee</th>      <th>1<br>16</th> 
      <th>2<br>17</th> 
      <th>3<br>18</th> 
      <th>4<br>19</th> 
      <th>5<br>20</th> 
      <th>6<br>21</th> 
      <th>7<br>22</th> 
      <th>8<br>23</th> 
      <th>9<br>24</th> 
      <th>10<br>25</th> 
      <th>11<br>26</th> 
      <th>12<br>27</th> 
      <th>13<br>28</th> 
      <th>14<br>29</th> 
      <th>15<br>30</th> 
      <th>  <br>31</th> 
     <th>Notes</th></tr>
      <set name=thecards><dummy><get name=mycards findall=timecard></dummy></set>
     <repeat list=&thecards; entity=c>
       <set name=thisurl><get name=c attr=form></set>
       <set name=thisuser><get name=c attr=user></set>
     <tr><th><a href=show_signatures.if?formurl=&thisurl;><get
     name=thisuser></th>
     <get index=c.-1->
     </tr></repeat>
    </table>
     </write>
     <set name=myauthorizor><authorizor type=Manager><get name=timeman></authorizor></set>
     <notify-user user=&myauthorizor; form=&myform;>
     <write file=&mytimefile;.route.html>
     <route> <routestep>
            <routeid>1</routeid>
            <routeuser><get name=myauthorizor></routeuser>
            <routewhen>always</routewhen>
            <routecond> </routecond>
            </routestep></route>
     </write>
  </then>
</if>

<!-- check for each manager -->
<set name=mytimefile>timecards/&myyear;/&mymonth;/&myperiod;/</set>
<repeat list=&AGENT.users.keys; entity=myman>
 <if> <read file=&mytimefile;&myman;.html info> <then>
<hr>  <read file=&mytimefile;&myman;.html>
   <if><read file=&mytimefile;&myman;.html.sig> <then>
    <set name=sigs><read file=&mytimefile;&myman;.html.sig process></set>
    <show-sig-table signatures=&sigs;>
   </then> <else> (Not signed yet)</else> </if>
   <hr>
 </then>
   <else> <if> <read file=&mytimefile;&myman;.dat info> <then>
     <set name=mycards><read file=&mytimefile;&myman;.dat process></set>
     <set name=thecards><dummy><get name=mycards findall=timecard></dummy></set>
     <table border=1>
     <tr><th>Employee</th>      <th>1<br>16</th> 
      <th>2<br>17</th> 
      <th>3<br>18</th> 
      <th>4<br>19</th> 
      <th>5<br>20</th> 
      <th>6<br>21</th> 
      <th>7<br>22</th> 
      <th>8<br>23</th> 
      <th>9<br>24</th> 
      <th>10<br>25</th> 
      <th>11<br>26</th> 
      <th>12<br>27</th> 
      <th>13<br>28</th> 
      <th>14<br>29</th> 
      <th>15<br>30</th> 
      <th>  <br>31</th> 
     <th>Notes</th></tr>
     <repeat list=&thecards; entity=c>
       <set name=thisurl><get name=c attr=form></set>
       <set name=thisuser><get name=c attr=user></set>
     <tr><th><a href=show_signatures.if?formurl=&thisurl;><get
     name=thisuser></th>
     <get index=c.-1->
     </tr></repeat>
     <tr> <th colspan=18> <form action=&url; method=post>
     <input name="year" type=hidden value="&myyear;">
     <input name="month" type=hidden value="&mymonth;">
     <input name="period" type=hidden value="&myperiod;">
     <input name="timeman" type=hidden value="&myman;">
     <input type="SUBMIT" value="Send to &myman; for Signature">
     </form></tr>
     </table>
   </then></if>
</repeat>

<hr>
<form action="&url;" method=post>

<input type="SUBMIT" value="ShowTimecards"> for Year: <input name="year"
size=4 value=&myyear;> Month: <input name="month"
size=4 value=&mymonth;> Period: <select name="period"><option><get name=myperiod></option><option>1-15</option><option>16-31</option>
</form>


<expand><get agent name=navbar></expand>

<!-- $Id$ -->
</body></html>
