<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; administration</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title> Departments</set>
<read interform file="heading.inc" process>

<tagset-load name=Form-agent-actors>

<hr>
 
 <set name=depts><get agent name=departments values></set>
 <table align=center border=1>
 <caption>Departments (click on dept# to edit) </caption>
<TR><TH>Dept#<TH>manager<TH>Administrator</TH><th>Members </th> </TR>
 <repeat list=&depts; entity=d><TR>
      <TD> <a href="edit_dept.if?dept=&d.deptnumber.Text;"><get
 index=d.deptnumber></a><br><get index=d.deptdesc>
      <TD> <get index=d.deptmanager>
      <TD> <get index=d.deptadmin>
      <TD> <dept-get-members department=&d.deptnumber.Text;> 
	   </TD>
      </TR></repeat>
 </table>
<hr>

  <a href=resolve_users_depts.if>Verify user and dept lists (use with caution) </a>
 
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
<!-- hhmts start -->
Last modified: Tue Feb 17 15:56:10 1998
<!-- hhmts end -->
</body></html>
