<html><head>
<base href="http://&piaHOST;:&piaPORT;/My/&agentName;/users/">
<title>&FORM.dir; Signature Result</title>
</head>
<body bgcolor="#ffffff">

<center><a href="http://&piaHOST;:&piaPORT;/&agentName;/forms.if"><img src="http://&piaHOST;:&piaPORT;/&agentName;/formsbutton.gif"></a><a href="http://&piaHOST;:&piaPORT;/&agentName;/users.if"><img src="http://&piaHOST;:&piaPORT;/&agentName;/userbutton.gif"></a><a href="http://&piaHOST;:&piaPORT;/&agentName;/reports.if"><img src="http://&piaHOST;:&piaPORT;/&agentName;/reportsbutton.gif"></a><a href="/Forms/feedback/feedback.if"><img src="http://&piaHOST;:&piaPORT;/&agentName;/feedbackbutton.gif"></a></center><p>

<h2>&FORM.dir; Signature Result</h2><p>

<set entity name=routeobject><read file="&FORM.routepath;" process></set>
<set entity name=nextpersons><get index="routeobject.&FORM.name;"></set>
<!-- a  hack to make sure we get the last element -->
<repeat list=&nextpersons;><set name=nextperson><get name=li></set></repeat>
<set entity name=nameobject><read file="usertoname.dat" process></set>

<if><test text>&FORM.signature;</test><then>
    <if><authenticate user="&FORM.name;" password="&FORM.signature;" file="/home/dgillen/.pia/Forms/passwd"><then>
        <if><test match="&FORM.name;">&routeobject;</test><then>
            <if><test match="signed">&nextperson;</test><then>
                You have already signed this document.<p></then>
            <else><set index="routeobject.&FORM.name;">signed &dateString;</set>
                  <write file="&FORM.routepath;">&routeobject;</write>
                  <if><test exact match="NULL">&nextperson;</test><then>
                  <else><write append file="users/&nextperson;.html">
                        <li><a href="../&FORM.filepath;">&FORM.dir; form --- &FORM.name; &dateString;</a><br></write>
                  </else>
                  </if>
                  <write append file="&FORM.filepath;"><b><get index="nameobject.&FORM.name;"></b> &dateString;<br></write>
                  Your signature has been appended to the document.<br>

                 <read href="http://salmon.crc.ricoh.com:8001/cgi-bin/imws.cgi" query="username=&FORM.name;?src_url=http://&piaHOST;:&piaPORT;/My/Forms/&FORM.filepath;">

                  <if><test exact match="NULL">&nextperson;</test><then>
                  This document requires no additional electronic signatures.
                  <else>This document is now being routed to &nextperson; for signing.
                  </else>
                  </if><p>
                  <set name=sigs><read file="users/&FORM.name;.html" process></set>
                  <repeat list=&sigs;>
                  <if><test match="&FORM.filepath;">&li;</test><then>
                  <write file="users/&FORM.name;_complete.html"><sort numeric><read file="users/&FORM.name;_complete.html" process> &li;</sort></write>
                  <else><write append file="users/.&FORM.name;.html.temp">&li;</write>
                  </else>
                  </if></repeat>
                  <write file="users/&FORM.name;.html">
                  <read file="users/.&FORM.name;.html.temp"></write>
                  <write file="users/.&FORM.name;.html.temp"></write>
                  <read interform file="timecard.inc" process>
              </else>
              </if>
       <else>Your signature is not requested for this form.<p>
       </else>
       </if>
    <else>The signature you entered is not correct. 
          Please contact the system administrator immediately.
    </else>
    </if>
<else>Please enter your signature in the space provided.
</else>
</if>
<p>
<!-- show any pending forms -->
Remaining Pending Forms:
<ul>
 <read file="users/&FORM.name;.html">
</ul>

</body></html>
