<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; signing</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
 <set name=myformurl><subst match="^\.\./" result=""><get form name=formurl></subst></set>
<set entity name=title> Sign <get name=myformurl></set>
<read interform file="heading.inc" process>
 
<tagset-load name=Form-agent-actors>

<!--  check for user registered in key database -->
 
 <set name=user><if><get form name=user><then><get form name=user></then>
 <else><get trans name=AuthenticatedUser></else></set>

<if> <sign user=&user; exists></sign> <then>
 
<if> <get form name=password> <then>
<!-- the sighash is hash of the form -- verification should ensure that the hash is identical to current doc -->
<set name=formanchor><a href="&myformurl;">&myformurl;</a></set>
<set name=tosign><sigblock>
<signer><get form name=user></signer>
<if><get form name=signas><then><signas><get form name=signas></signas></then></if>
<sigdoc><get  name=formanchor></sigdoc>
<sighash><get form name=hash></sighash>
<sigdate>&dateString;</sigdate>
</sigblock></set>
 <set name=signature><sign user=&FORM.user; password=&FORM.password;><get
 name=tosign></sign></set>


<if> <get name=signature> <then>
<!-- save sig file -->
<write append file=&myformurl;.sig>
<signature>
<get name=tosign>
<sig><get name=signature></sig>
<if><get form name=comments><then><sigcomment><get form
name=comments></sigcomment></then></if>
<if><get name=toremove> <then> <if> <test match=&FORM.user;><get
name=toremove></test> <then></then> <else><signedfor><get name=toremove></signedfor></else></if></then></if>
</signature>
</write>

	 Signature added to <a href=show_signatures.if?formurl=&myformurl;>form.</a>
	 <append-form-history form=&myformurl;>Signed by <get form name=user></append-form-history>
	 <notify-next-recipient form=&myformurl; user=&FORM.user; signedas=&FORM.signas;>
        <!-- notify-originator action=Signed user=&FORM.signas; form=&myformurl;-->

<hr><!-- show next forms for user to sign -->
         <show-pending user=&FORM.user;>
         
	</then>
	 <else> Signature not valid -- please go  <a
		href="&url;?formurl=&myformurl;"> back </a> and try
		again.</else></if>
	
  </then>
 <else>
	 <if> <get name=myformurl> <then>
	 <set name=document><read file=&myformurl;></set>
	</then></if>
	 <if> <get name=document>  <then>
	 <set name=hash><hash><get name=document></hash></set>
	  <if> <read file=&myformurl;.sig info> <then>	
          <set name=sigfile><read file=&myformurl;.sig process></set>
          </then></if>

   Please sign the following document:
	   <hr>
	<get name=document>
	<hr>
        <if><get name=sigfile><then>
	<show-sig-table signatures=&sigfile;>
        </then></if>

	<form action="&url;" method="post">
	
	<input name="formurl" type=hidden value=&myformurl;>
	<input name="hash" type=hidden value=&hash;>
	<br>
	  <a href="help_signature.html">Signature for</a>
    <select name="user"> <option><get trans name=AuthenticatedUser></option>
    <repeat list=&AGENT.users.keys;> <option>&li;</option></repeat>
    </select>
         <!-- signing as anybody?? -->
	<if><get form name=signas><then><set name=signas><get form
	name=signas></set>
	<input name="signas" type=hidden value=&signas;>
	(signing as <get name=signas>)
	</then></if>
	 PassPhrase:<input type="password" name="password" size="25"> 
	<input type="SUBMIT" value="SIGN"><br>
	Notes:<textarea name="comments" rows=2 cols=60></textarea>
</form>
<hr>
<show-form-options form=&FORM.formurl;>
	  </then> 
 <else>NO form found -- please report this error ---</else>
	</if>

	</else>
</if>
</then>
<else>
<!--  user not registered -->
<h2><get name=user> has not registered</h2>
	 Please <a href="register.if?user=&user;">register</a> now and then
	 return to this page (and reload it if necessary).
</else>
</if>
<hr>
 
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
