<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>&agentName; status</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<set entity name=title>  Status </set>
<read interform file="heading.inc" process>

<tagset-load name=Form-agent-actors>


 <if> <get name=users>  <then> </then> <else>
 <set name=users> <get trans name=AuthenticatedUser></set></else></if>

<if><get form name=forms> <then></then> <else>
 <repeat list=&users; entity=user>
 <set name=completed> <read file="users/&user;_complete.html" process></set>
<set name=flist><get name=completed findall=a></set>
<h2> <get name=flist size> forms signed by &user;</h2>
<table border=1>
<TR><TH>Form<TH>Signed by
 <repeat list=&flist; entity=anchor>
 <set name=formurl><get name=anchor attr=href></set>
 <set name=formtext><get index=anchor.Text></set>
<TR><TD> <a href="show_signatures.if?formurl=&formurl;">&formtext;</a>
 <TD><if><read info file=&formurl;.sig><then>  <set name=sigs><read file=&formurl;.sig process></set>
<set name=mysigners><dummy><get name=sigs findall=signer></dummy></set>
<repeat list=&mysigners; entity=msigner>
&msigner;
</repeat></then></if></td>
</TR>
</repeat>
</table>
</repeat>
</else></if>

<hr>
<h3>advanced form  (Coming soon)</h3>
<form action="&url;" method=post process copy>
 <process>
 <set name=months><get form name=months></set>
 <set name=years><get form name=years></set>
 <set name=forms><get form name=forms></set>
<set name=users><get form name=users></set>
 Showing &forms;  signed by &users;
 during &months; &years;
 </process>
Show
<select name="forms" multiple size=3>
 <repeat list=&AGENT.forms;> <option>&li;</option></repeat>
</select> Forms signed by:
 <set name=auser><get trans name=AuthenticatedUser></set>
<select name="users" multiple size=3>
 <option selected><get name=auser></option>
 <if> <test match=&auser;><get agent name=groups key=admin></test> <then>
 <repeat list=&AGENT.users.keys;> <option>&li;</option></repeat>
 <repeat list=&AGENT.groups.keys;> <option>&li;</option></repeat>
</then> <else>
 <repeat list=&AGENT.groups.keys; entity=grp>
 <if-in-group group=&grp;>
</repeat><option>&grp;</option>
 </if-in-group>
 </else></if>
</select>
 during:
<select name="years" multiple size=2>
 <repeat list="1997 1998"> <option>&li;</option></repeat>
</select>
<select name="months" multiple size=3>
 <option selected>&monthName;</option>
 <repeat list="January February March April May June July August September
 October November December"> <option>&li;</option></repeat>
</select>
<!-- input type="SUBMIT" value="Show Form status" -->
</form>

<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
<!-- hhmts start -->
Last modified: Wed Jul 15 10:46:04 1998
<!-- hhmts end -->
</body></html>
