<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Forms for &FORM.username;</title>
<base href="http://&piaHOST;:&piaPORT;/My/&agentName;/">
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<center><a href="http://&piaHOST;:&piaPORT;/&agentName;/forms.if"><img src="formsbutton.gif"></a><img src="user.gif"><a href="http://&piaHOST;:&piaPORT;/&agentName;/reports.if"><img src="reportsbutton.gif"></a><a href="mailto:dgillen@crc.ricoh.com"><img src="feedbackbutton.gif"></a></center><p>


 <if><read file="users/&FORM.username;_complete.html" info>
 <then>
 <h2>Completed forms for &FORM.username;</h2>
 <ul>
 <read file="users/&FORM.username;_complete.html">
 </ul>
 </then>
 <else><h2>No Completed forms for &FORM.username;</h2></else></if>

<hr>
<b>$Id$</b><br>
<!-- hhmts start -->
Last modified: Wed Sep 10 19:34:47 1997
<!-- hhmts end -->
<p>
<address><a href="http://www.crc.ricoh.com/people/wolff/wolff.html"
         >Greg Wolff</a> &lt;<a href="mailto:wolff@crc.ricoh.com"
         >wolff@crc.ricoh.com</a>&gt;</address>
</body></html>
