<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Forms page for <get trans name=AuthenticatedUser></title>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title> (This page obsolete -- use <a href=home.if>Home page</a></set>
<read interform file="heading.inc" process>
<!-- read process quiet interform file=tagset.inc -->
<tagset-load name=Form-agent-actors>
 <set name=uid><get trans name=AuthenticatedUser></set>

<show-pending user=&uid;>

<hr>



<hr>
<expand><get agent name=navbar></expand>
<b>Copyright © 1998 Ricoh Silicon Valley</b><br>
<!-- $Id$ -->
</body></html>
