<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Forms for &FORM.username;</title>
<base href="http://&piaHOST;:&piaPORT;/My/&agentName;/users/">
<link rev="made" href="mailto:wolff@crc.ricoh.com"></link>
</head><body>
<center><a href="http://&piaHOST;:&piaPORT;/&agentName;/forms.if"><img src="http://&piaHOST;:&piaPORT;/&agentName;/formsbutton.gif"></a><a href="http://&piaHOST;:&piaPORT;/&agentName;/users.if"><img src="http://&piaHOST;:&piaPORT;/&agentName;/userbutton.gif"></a><a href="http://&piaHOST;:&piaPORT;/&agentName;/reports.if"><img src="http://&piaHOST;:&piaPORT;/&agentName;/reportsbutton.gif"></a><a href="/Forms/feedback/feedback.if"><img src="http://&piaHOST;:&piaPORT;/&agentName;/feedbackbutton.gif"></a></center><p>


 <if><read file="users/&FORM.username;.html" info>
 <then>
<!-- process any remove requests -->
 <if><get form name=remove><then><read interform file="remove.if" process></then></if>

 <h2>Pending forms for &FORM.username;</h2>
<set name=pending><read file="users/&FORM.username;.html" process></set>
 <ul foreach list="&pending;">&li;</ul>
<hr>
 <h3> Remove a form from this list</h3>
 <form action="&url;"><input name="username" type="hidden"
 value="&FORM.username;">
 <input
 name="remove" type="Submit" value="Remove">: <input name="filepath" value=""
 size=30>(all matching lines will be
 removed from this list, but will remain on the system)</form>
 
 </then>
 <else><h2>No Pending forms for &FORM.username;</h2></else></if>

<hr>
<!-- $Id$ -->
</body></html>
