<html><head>
<title>Users</title>
</head>

<body bgcolor="#ffffff">

<center><a href="http://&piaHOST;:&piaPORT;/&agentName;/forms.if"><img src="formsbutton.gif"></a><img src="user.gif"><a href="http://&piaHOST;:&piaPORT;/&agentName;/reports.if"><img src="reportsbutton.gif"></a><a href="/Forms/feedback/feedback.if"><img src="feedbackbutton.gif"></a></center><p>

<center><table border>
<caption>User Pages</caption>
<th>pending<th>completed<tr>
<td><set entity name=namelist><read file="namelist2.dat"></set>
<repeat list="&namelist;"><li><a href="http://&piaHOST;:&piaPORT;/&agentName;/user-pending.if?username=&li;">&li;<a></repeat>
<td><repeat list="&namelist;"><li><a href="http://&piaHOST;:&piaPORT;/&agentName;/user-complete.if?username=&li;">&li;<a></repeat><tr>
</table><p>

<center><b>pending</b>: <a href="http://&piaHOST;:&piaPORT;/&agentName;/user-pending.if?username=Accounting">Accounting</a>,<a href="http://&piaHOST;:&piaPORT;/&agentName;/user-pending.if?username=Auditor">Auditor</a>, <a href="http://&piaHOST;:&piaPORT;/&agentName;/user-pending.if?username=FrontOffice">Front Office</a>, <a href="http://&piaHOST;:&piaPORT;/&agentName;/user-pending.if?username=Purchasing">Purchasing</a><br>
<b>completed</b>: <a href="http://&piaHOST;:&piaPORT;/&agentName;/user-complete.if?username=Accounting">Accounting</a>, <a href="http://&piaHOST;:&piaPORT;/&agentName;/user-complete.if?username=Auditor">Auditor</a>, <a href="http://&piaHOST;:&piaPORT;/&agentName;/user-complete.if?username=FrontOffice">Front Office</a>, <a href="http://&piaHOST;:&piaPORT;/&agentName;/user-complete.if?username=Purchasing">Purchasing</a>
<p></center>

</body></html>

