<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title></title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body>
<h1>Printer initialization for &agentName;</h1>
Reading:  <code><a href="tagset.inc">tagset.inc</a></code>
<read process quiet interform file=tagset.inc>
<br>

<!-- use set device to name of printer if other than lp -->
<if><read info file=device.dat>
 <then><set name="device" agent><read file=device.dat></set></then> 
</if>

<h3> Page controls for proxied pages </h3>
<read interform file=toggle_page_controls.if process>


<!-- load the style entries  -->
<load-styles>

<hr>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Mon Jul 13 17:02:01 1998
<!-- hhmts end -->
</body></html>
