<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>  &agentName; preview</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title> &agentName;  PreviewPage</set>
<read interform file="heading.inc" process>

<tagset-load name=Printer-agent-actors>

<if><test><get form name="URL"></test>
  <then>
    <set name="theurl"><get name=URL form></set>
    <!-- Previewing &FORM.URL; -->
    <set name=spoolfile><new-file-name></set>

    <if> <get name=style form>
      <then> <set name=thisstyle><get name=style
	form></set>
      </then>
      <else><set name=thisstyle><default-style url=&theurl;></set></else>
    </if>

    <fetch-url input=&theurl; style=&thisstyle; output=&spoolfile;>

    <set name=commandout> </set>
<!--     creating Postscript...using style &thisstyle; -->

    <create-ps-file-simple file=&spoolfile;.html input=&theurl;
    output=&spoolfile; style=&thisstyle;>

<!--    creating Previews ... ps file command returned: &commandout; --> 
     <create-ps-preview-simple style=&thisstyle; psfile=&spoolfile;>

<!-- Preview command returned: &commandout; -->

     <show-summary spoolfile=&spoolfile; parseddoc=&document; url=&theurl;>
     </show-summary>



<table><tr>
<td>
<form action="http://&piaHOST;:&piaPORT;/&agentName;/print.if" method=post>
<input name="URL" value="&FORM.URL;" type=hidden>
<input name="spoolfile" value="&spoolfile;.ps" type=hidden>
<input type="SUBMIT" value="Print">
</form>
<td>
</table>
<if><get name=setdefaultstyle form><then><set-default-style url=&theurl; style=&thisstyle;> </then></if>

</then>
</if>


<hr>


<form action="&url;" method=POST>
<set name="refered"><get trans headers request name=referer></set>
<if><test match=&piaHOST;><get name=refered></test>
 <else><set name=myurl><get name=refered></set> </else>
 </if>
  <if>
  <test><get name="theurl"></test>
  <then><set name=myurl><get name=theurl></set></then>
  <else>
  <set-lastlink>
  <set name="myurl"><get name="lastlink" attr=href></set>
   </else>
 </if>

Format this URL: <input type="URL" size=65 name="URL" value=&myurl;>

<br>
Using this <a href=edit_style.if>Style:</a>
<select name=style>
 <style-option-list url=&myurl;>
</select>
<input type="SUBMIT" value="Show Preview">
<br>(<input type=radio name=setdefaultstyle> Set style as default for this host?)
</form>
<hr>



<p>
</then></if>
<page-footer> </page-footer>
</body></html>
