<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Page Controls</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>&agentName;  Remove page controls</set>
<read interform file="heading.inc" process>


WebPrinter controls will no longer be added to proxied pages.

<set agent hook name="_act_on"><protect>
</protect></set>
<hr>
<if><test><get agent name="banner"></test><then>&AGENT.banner; <hr>
<p>
</then></if>
<address><a href="/~wolff/wolff.html">Greg Wolff </a> email:  <a href="mailto:wolff@crc.ricoh.com">wolff@crc.ricoh.com </a></address>
<!-- hhmts start -->
Last modified: Mon Jun  9 23:42:04 1997
<!-- hhmts end -->
</body></html>
