<!doctype html system "html.dtd">
<html><head>
<title>DOFS Agent Index</title>
<link rev="made" href="mailto:steve@crc.ricoh.com"></link>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>DOFS Agent Index</set>
<read file="heading.inc" process interform>

<table align=center cellspacing=0 cellpadding=0 border=0>
<tr><th width=170 valign=center>
    <th width=170 align=right>
    <td><a href="/">Agency home page</a>
<tr><th width=170 valign=center>
    <th width=170 align=right><a href="/DOFS">DOFS</a>
    <td>home page

</table>

<set entity name="dofsNames"><agent-list subs type="&agentType;"></set>
<pre><i><pad align=right width=15>files  </pad>	Agent Home</i>
<repeat list="&dofsNames;"
       ><pad spaces width=15>&li; /</pad><a href="/&li;"><b>&li;</b></a
       ><a href="/&li;/"><b> /</b>	<agent-home link name="&li;">
</repeat></pre>


<hr>
<b>URL:</b> &lt;<a href="&url;">&url;</a>&gt;<br>
<b>Source:</b> <a href="/PIA/Agents/&agentName;/&fileName;">&fileName;</a>
<b>File:</b> <a href="/Root/&filePath;">&filePath;</a>
<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
</body></html>
