<!doctype html system "html.dtd">
<html><head>
<title>DOFS Index</title>
<link rev="made" href="mailto:steve@crc.ricoh.com"></link>
</head><body>
<h1>Document-Oriented File System Index</h1>

<set entity name="dofsNames"><agent-list subs type="&agentType;"></set>
<pre><i><pad align=right width=15>Index</pad>	Home</i>
<repeat list="&dofsNames;"
       ><pad spaces width=15>&li;/</pad><a href="/&li;/"><b>&li;/</b></a
       >	<agent-home link>&li;</agent-home>
</repeat></pre>

<hr>

<a href="/Agency">Agency home page</a>
<a href="/DOFS">DOFS home page</a>

<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
<address><a href="http://www.crc.ricoh.com/people/steve/steve.html"
         >Stephen R. Savitzky</a> &lt;<a href="mailto:steve@crc.ricoh.com"
         >steve@crc.ricoh.com</a>&gt;</address>
</body></html>
