<html><head>
<title>Check Request Form</Title>
</head>

<body bgcolor="#ffffff">

<set entity name=dir>check</set>
<set entity name=acctobject><read file="acct_codes.dat" process></set>

<set entity name=dataobject><dl><dt><b>Current date:</b><dd><u>&date;</u><dt><b>Check amount ($):</b><dd><u>&FORM.amount;</u><dt><b>Payable to:</b><dd><u>&FORM.payto;</u><dt><b>For:</b><dd><u>&FORM.for;</u><dt><b>Expense type/Account #:</b><dd><u>&FORM.po;/<get index="acctobject.&FORM.po;"></u><dt><b>Invoice no.:</b><dd><u>&FORM.invoice;</u><dt><b>Requested by:</b><dd><u>&FORM.name;</u><dt><b>Date required:</b><dd><u>&FORM.date;</u></dl></set>

<set entity name=mlist><read file="mgr.dat" process></set>    
<set entity name=manager><get index="mlist.&FORM.name;"></set>
<set entity name=routeobject> <dl><dt>&FORM.name;<dd>&manager;<dt>&manager;<dd>Accounting<dt>Accounting<dd>NULL</dl></set>

<set entity name=timesec>&time;:&second;</set> 
<read interform file="write.inc" process><p>  

</html>
