<!doctype html system "html.dtd">
<html><head>
<title>The Mail agent home page</title>
<link rev="made" href="mailto:rithy@crc.ricoh.com"></link>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=title>&agentName; agent <br>Home Page</set>
<read interform file="heading.inc" process>


<set name=url>http://&piaHOST:&piaPORT/Mail/home.if</set>
<form action="&url;">
<input type="SUBMIT" value="View"> Month:<select name="month">
<repeat start=01 stop=12> <option>&li;</option>
</repeat>
</select>
Year:<select name="year">
<repeat start=1997 stop=1999>
<if><equal numeric>1998 &li;</equal>
  <then><option selected>&li;</option></then>
  <else><option>&li;</option></else>
</if>
</repeat>
</select>
</form>
</font>

<set agent name=selmonth>&FORM.month</set>
<set agent name=selyear>&FORM.year</set>
<set agent name=tinycal></set>

<read href="http://&piaHOST:&piaPORT/Mail/show_tinycal.if" process>
<read href="http://&piaHOST:&piaPORT/Mail/show_calendar.if" process>


<table>
<tr><th><td>&AGENT.tinycal;

<tr><th><td>
   <table cellspacing=0 cellpadding=0>
      <tr><th width=340><td><br>
      <tr><th><td> <a href="index.if">Index Page</a>
      <tr><th align=right><a href="home.if">&agentName;</a>: <td> Home Page
      <tr><th><td> <a href="/&agentName;/initialize.if">[re-initialize]</a>
      <tr><th><td> <a href="options.if">Options</a>
      <tr><th><td> <a href="/PIA/Agents/&agentName;/">InterForms</a>
	     <a href="/My/Agents/&agentName;/">(Customized)</a>
   </table>
</table>

<if><agent-running name=Mail>
  <else>see the <a href="/Agency/installers.if#Mail">installation page</a>
        or <br>
        <form method=POST action="/Agency/install_agent.if">
		<input name="agent" value="Mail" size=30>
		<input type="submit" value="Install Now">
        </form>
  </else>
</if>
<p>

<hr>
<font size=3 face=times>
[<a href="home.if#searchcard"><b>Search business card</b></a>] |
[<a href="home.if#findwho"><b>Find who and where</b></a>] |
[<a href="home.if#searchprof"><b>Do not search</b></a>] 

&AGENT.currentcal;

<hr>
<font size=3 face=times>
<a name="searchcard">Search for a business card:</a>

<set name=bussurl>/Agency/Buss/Search.if</set>
<form action="&bussurl;">
   First name:<input type="text" name="firstname" value="" size=15>
   Last name:<input type="text" name="lastname" value="" size=15>
   <input type="submit" value="Search card">
</form>
</font>
<hr>



<a name="findwho"><font size=3 face=times>Find out who and where:</font></a>
<read interform process file=whowheremail.inc>

<hr>
<font size=3 face=times>
<a name="searchprof"><font size=3 face=times>Email-search profile:</font><br></a>
Do not search person associated with the email address below.
<form method=post action="http://&piaHOST:&piaPORT/Mail/Emailprof.if">
   email-address:<input type="text" name="emailadd" value="" size=15>
   <input type="submit" value="Add">
</form>
</font>
<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id$</b><br>
<address><a href="http://www.crc.ricoh.com/people/steve/steve.html"
         >Stephen R. Savitzky</a> &lt;<a href="mailto:steve@crc.ricoh.com"
         >steve@crc.ricoh.com</a>&gt;</address>
</body></html>






