<!doctype html system "html.dtd">
<html><head>
<title>buglog</title>
<link rev="made" href="mailto:steve@crc.ricoh.com"></link>
</head><body>
<agent-set-criterion name="response" value=0>
<agent-set-criterion name="agent_response" value=0>

<set entity name=recep>rithy@crc.ricoh.com</set>

<set entity name=mailer><get form name=person></set>
<set entity name=from><get form name=from></set>
<set entity name=subject><get form name=subject></set>
<set entity name=maillinks><get form name=links></set>
<set entity name=msg><get form name=msg></set>

<set entity name=filename>&hour&minute&second;</set>
<set entity name=contentFile>&year;/&month;/&day;/&filename;.txt</set>
<set entity name=peopleFile>&year;/&month;/&day;/p_&filename;.html</set>
<set entity name=cardFile>&year;/&month;/&day;/c_&filename;.html</set>
<set entity name=visitFile>&year;/&month;/&day;/&filename;.html</set>

<set entity name=indexfn>&year;/&month;/&day;/index.html</set>
<write directory file="&year;"></write>
<write directory file="&year;/&month;"></write>
<write directory file="&year;/&month;/&day;"></write>

<!-- try to get from whowhere -->
<!--set name=body><read href="http://query1.whowhere.com/jwz/name.wsrch?name=&mailer;" process></set-->
<!--set name=body><read.href href="http://query1.whowhere.com/jwz/name.wsrch" query="name=&mailer;?match=inexact" process wait=400></set-->
<set name=body><read.href href="http://email-partner.whowhere.com/excite/name.codsrch" query="brand=exemail?match=inexact?name=&mailer;?org=" process wait=400></set>

<set name=count>0</set>
<repeat list=&mailer;>
     <set name=count><sum digits=0>&count; 1</sum></set>
     <if><equal>&count; 1</equal>
         <then><set name=fname>&li;</set></then>
         <else><set name=lname>&li;</set></else>
     </if>
</repeat>

<set name=cardstuff>not found</set>
<if><equal numeric>&count; 2</equal>
    <then>
        <set name=result>
            <read.href method=POST href="/Agency/Buss/Search.if" query="?firstname=&fname;?lastname=&lname;" process>
	</set>
	<set name=code><get name=result findAll=code></set>
	<set name=cardstuff><get index="code.text"></set>
    </then>
</if>

<!-- append to index file -->
<set name=trash><form method=POST action="/Agency/Mail/Deletemail.if">
	<input type=hidden name="dir" value="&year;/&month;/&day;">
	<input type=hidden name="filename" value="&filename;">
	<input type="image" src="images/trash.gif" name="submit" alt="delete">
 </form>
</set>


<write append protect trim line file="&indexfn;">
    <DL><DT><B>From:</B><A key=&filename; HREF="mailto:&from;">&from;</A>

    <if><test not exact match="not found">&cardstuff;</test>
       <then>
	  <a href="/My/Mail/&cardFile;"><img width=14 height=14 border=2 src=images/directory.gif></a>
	  <write protect trim line file="&cardFile;">
	     &result;
	  </write>
       </then>
    </if>

    <if><test>&body;</test>
      <then>
	  <a href="/My/Mail/&peopleFile;"><img width=14 height=14 border=2 src=images/walk.gif></a>&trash;<BR>
	  <write protect trim line file="&peopleFile;">
	      &body;
	  </write>
      </then>
    </if>
        <B>Subject:</B>&subject;<br></dt>


    <if><test not exact match=''>&maillinks;</test>
    <then>
        <DD><a kind=visit href="/My/Mail/&visitFile;">visit</a><br>
    </then>
    </if>
        <DD><A kind=mailcontent HREF="/My/Mail/&contentFile;">Mail content</A><BR>        
</DL>
</write>

<!-- write to content file -->
<write trim line file="&contentFile;">
from:&from;
subject:&subject;
&msg;
</write>

<!-- write to visit file -->
<write protect trim line file="&visitFile;">
<foreach list="&maillinks;" entity=item>
    <set agent name=visiturl>&item;</set>
    <read href="http://&piaHOST:&piaPORT/Mail/visit.if" process wait=120>
</foreach>
<hr>
</write>
</body></html>





